@import "~app/styles/custom.variables";



.mybutton{
  //min-height: 36px;
  //border-radius: 6px;
  //display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  background-color: #f3f3f3;
  font-size: 13px;
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  i{
    margin-right: 5px;
  }
  i:before{
    font-size: 17px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    //background: $textColor;
    //letter-spacing: .03em;
    //color: white;
    background-position: right center;
    //i:before{
    //  color: white;
    //}
  }

  &:active {
    transform: translateY(.2em);
    filter: saturate(150%);
  }
}


.primary{
  //background-image: $maingradient;
  background: $tertiaryColor;//$secondaryColor;
  //color: #ffffff;
  color: white; //$primaryColor;
  //border: 0.1px solid $primaryColor;
  //border-radius: 0;
  i:before{
    color: white; //$primaryColor;
    font-size: 14px;
  }
}

.secondary{
  background: $secondaryColor;
  color: white;
  i:before{
    color: white;
    font-size: 14px;
  }
  &:hover{
    color: $secondaryColor;
    background: white;
    i:before{
      color: $secondaryColor;
      font-size: 14px;
    }
  }
}

.tertiary{
  color: $secondaryColor;
  background: inherit;
  i:before{
    color: $secondaryColor;
    font-size: 14px;
  }
  &:hover{
    background: $secondaryColor;
    color: white;
    i:before{
      color: white;
      font-size: 14px;
    }
  }
}

.danger{
  background-color: $quaternaryColor;
  color: white;
  i:before{
    color: white;
    font-size: 14px;
  }
}


button:disabled,
button[disabled]{
  //opacity: .6;
  color: white;
  background-color: lightgray;
  background-image: inherit;
  cursor: auto;
  border: 0;
  i:before{
    color:rgba(0, 0, 0, 0.26);
  }
}

::ng-deep .mat-button .mat-button-wrapper>*{
  vertical-align: baseline !important;
}


::ng-deep .mat-button-disabled{
  opacity: .7;
}
