@import "~app/styles/custom.variables";

$border-color: #707070;
$icon-size: 13px;

.mybutton{
  //min-height: 36px;
  border-radius: 8px;
  //display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  background-color: #f3f3f3;
  font-size: 13px;
  min-height: 32px;
  padding: 8px 20px;
  white-space: nowrap;
  i{
    vertical-align: inherit;
  }
  i:before{
    font-size: $icon-size;
  }
  .left{
    margin-right: 5px;
  }
  .right{
    margin-left: 5px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    //background: $textColor;
    //letter-spacing: .03em;
    //color: white;
    background-position: right center;
    //i:before{
    //  color: white;
    //}
  }

  &:active {
    transform: translateY(.2em);
    filter: saturate(150%);
  }
}


.primary{
  //background-image: $maingradient;
  background: $primaryColor;//$secondaryColor;
  //color: #ffffff;
  color: white; //$primaryColor;
  //border: 0.1px solid $primaryColor;
  //border-radius: 0;
  i:before{
    color: white; //$primaryColor;
    font-size: $icon-size;
  }
}

.primary_light{
  background: $lightPrimaryColor;
  color: white;
  i:before{
    color: white; //$primaryColor;
    font-size: $icon-size;
  }
  &:hover{
    background: $primaryColor;
  }
}
.primary_inverse{
  color: $primaryColor;
  background: inherit;
  //border: 1px solid $primaryColor;
  i:before{
    color: $primaryColor;
    font-size: $icon-size;
  }
}

.secondary{
  background: $tertiaryColor;
  color: white;
  border: 1px solid $tertiaryColor;
  i:before{
    color: white;
    font-size: $icon-size;
  }
  //&:hover{
  //  color: $tertiaryColor;
  //  background: white;
  //  border: 1px solid $tertiaryColor;
  //  i:before{
  //    color: $tertiaryColor;
  //    font-size: $icon-size;
  //  }
  //}
}
.secondary_inverse{
  color: $tertiaryColor;
  background: white;
  border: 1px solid $tertiaryColor;
  i:before{
    color: $tertiaryColor;
    font-size: $icon-size;
  }
  &:hover{
    background: $tertiaryColor;
    color: white;
    border: 1px solid $tertiaryColor;
    i:before{
      color: white;
      font-size: $icon-size;
    }
  }
}

.secondary_2{
  background: #E5E5E5;
  color: $fontColor;
  i:before{
    color: $fontColor;
    font-size: $icon-size;
  }
  &:hover{
    color: white;
    background: $fontColor;
    //border: 1px solid $border-color;
    i:before{
      color: white;
      font-size: $icon-size;
    }
  }
}

.tertiary{
  color: $secondaryColor;
  background: unset;
  i:before{
    color: $secondaryColor;
    font-size: $icon-size;
  }
  &:hover{
    background: $secondaryColor;
    color: white;
    i:before{
      color: white;
      font-size: $icon-size;
    }
  }
}
.tertiary_inverse{
  background: $secondaryColor;
  color: white;
  //border: 1px solid $secondaryColor;
  i:before{
    color: white;
    font-size: $icon-size;
  }
  &:hover{
    color: $secondaryColor;
    background: white;
    i:before{
      color: $secondaryColor;
      font-size: $icon-size;
    }
  }
}

.danger{
  background-color: $quaternaryColor;
  color: white;
  i:before{
    color: white;
    font-size: $icon-size;
  }
}
.danger_inverse{
  color: $quaternaryColor;
  background-color: white;
  border: 1px solid $quaternaryColor;
  i:before{
    color: $quaternaryColor;
    font-size: $icon-size;
  }
}
.danger_inverse_2{
  color: $quaternaryColor;
  background-color: inherit;
  border: 0;
  i:before{
    color: $quaternaryColor;
    font-size: $icon-size;
  }
}

.only-icon{
  background: unset;
  color: $primaryColor;
}


button:disabled,
button[disabled]{
  color: white;
  background-image: inherit;
  cursor: auto;
  border: 0;
  i:before{
    color: white;
  }
}

::ng-deep .mat-button .mat-button-wrapper>*{
  vertical-align: baseline !important;
}


::ng-deep .mat-button-disabled{
  opacity: .7;
}
