<div class="top-container">

  <form [formGroup]="myForm" *ngIf="myForm">
    <div class="filter-container main-container">
      <div class="sub-header">
        <h3 class="main-title top-title text-capitalize">
          Annulation des diffusions du mois : {{month | dateMessage: 'MMMM YYYY'}}
        </h3>
      </div>
      <div class="filtres row ">
        <div class="flex-column  col-12 ">
          <label>Type d'annulation {{isRequired(formInputs.type_annulation)}}</label>
          <div>
            <div class="btn-group radio"
                 ngbRadioGroup name="radioBasic"
                 [formControl]="myForm.controls[formInputs.type_annulation]"
            >
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'all_activity'" id="all_activity">&nbsp;
                <span class="radio-label"  >Tous les relevés</span>
              </label>
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'just_cost'" id="just_cost">&nbsp;
                <span class="radio-label" >Seulement les frais</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="filtres row ">
        <div class="flex-column col-sm-6 col-12">
          <label>Choix du collaborateur {{isRequired(formInputs.personal_id)}}</label>
          <div>
            <ng-select class="select form-control"
                       [formControl]="myForm.controls[formInputs.personal_id]"
                       [multiple]="false"
                       [items]="personals"
                       [bindLabel]="'full_name'"
                       [bindValue]="'id'"
                       [placeholder]="'Sélectionner le type d\'avance'"
                       [loading]="loadingPersonals"
                       (open)="getPsersonals()"
            ></ng-select>
          </div>
        </div>
      </div>
      <div class="filtres row ">
        <div class="flex-column  col-12 ">
          <div class="input-container check-box-btn">
            <input type="checkbox"
                   id="notify_email"
                   [checked]="ischecked(formInputs.send_mail)"
                   (change)="onCheckChange($event)"
                   name="notify_email" >
            <label for="notify_email" >Cochez si vous voulez avertir par mail l'utilisateur de l'annulation de la duffusion d'un relevé.</label>
          </div>
        </div>
      </div>
      <div class="filtres row " *ngIf="myForm.value.send_mail">
        <div class="flex-column  col-12 ">
          <label>Mail {{isRequired(formInputs.mail_content)}}</label>
          <div>
         <textarea
           rows="5"
           [formControl]="myForm.controls[formInputs.mail_content]"
           [placeholder]="'Merci de ne Saisir ici que le message à destination des destinataires (les formules de politesse seront ajoutées automatiquement).'"
           class="form-control input"
         ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="submit-block" >
      <app-button
        [type]="'danger'"
        [text]="'Annuler la diffusion'"
        (onClick)="cancelDiffusion()"
        [iconLeft]="'icon-close'"
        [customStyle]="{'min-width': '130px'}"
      >
      </app-button>
    </div>
  </form>
</div>
