<div class="top-container list">


    <div class="sub-header container-fluid ">
      <h3 class="main-title top-title">
        Historique des absences : Filtre de recherche
      </h3>
    </div>

    <div class="filter-container main-container">
      <div class="sub-header container-fluid ">
        <h3 class="main-title">
          Filtres de recherche
        </h3>
      </div>
      <div class="filtres row ">
        <div class="flex-column  col-12 col-sm-3">
          <label>Plage de visualisation</label>
          <div class="d-flex justify-content-between row">
            <div class="col">
              <div class="date-picker-group">
                <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                <input [owlDateTime]="owl_dt1"
                       class="form-control input date"
                       [owlDateTimeTrigger]="owl_dt1"
                       placeholder="Choisir la date ici"
                       [(ngModel)]="filter.start_date"
                />
                <div class="icons-container">
                  <i class="icon-close"
                     (click)="filter.start_date = null"
                     *ngIf="filter.start_date"></i>&nbsp;
                  <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="date-picker-group">
                <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                <input [owlDateTime]="owl_dt2"
                       class="form-control input date"
                       [owlDateTimeTrigger]="owl_dt2"
                       placeholder="Choisir la date ici"
                       [(ngModel)]="filter.end_date"
                />
                <div class="icons-container">
                  <i class="icon-close"
                     (click)="filter.end_date = null"
                     *ngIf="filter.end_date"></i>&nbsp;
                  <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-column  col-12 col-sm-3 ">
          <label>Statut de la demande</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="statues"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.statues"
                       [placeholder]="'Filtrer par appartenance'"
                       (open)="getFilterList('statues', listService?.list?.STATUS, listService?.list?.ABSENCE_REQUEST)"
                       [loading]="loadingSelect[listService?.list?.STATUS]"
            ></ng-select>
          </div>
        </div>

        <div class="flex-column  col-12 col-sm-3 ">
          <label>Type d'absence</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="types"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.types"
                       [placeholder]="'Filtrer par type d\'absence'"
                       (open)="getFilterList('types', listService?.list?.ABSENCE_REQUEST)"
                       [loading]="loadingSelect[listService?.list?.ABSENCE_REQUEST]"
            ></ng-select>
          </div>
        </div>
      </div>

      <div class="submit-block" >
        <app-button
          [type]="'primary'"
          [text]="'Exporter'"
          [isLoading]="submittingExport"
          [isDisabled]="submittingExport"
          [textLoading]="'Exportation en cours..'"
          (onClick)="export()"
          [iconLeft]="'icon-excel'"
          [customStyle]="{'min-width': '130px'}"
        >
        </app-button>&nbsp;&nbsp;
        <app-button
          [type]="'primary'"
          [text]="'Rechercher'"
          [textLoading]="'Diffusion en cours..'"
          (onClick)="getAll()"
          [iconLeft]="'icon-search'"
          [customStyle]="{'min-width': '130px'}"
        >
        </app-button>
      </div>
    </div>

  <div class="main-container filter-container">
    <div class="sub-header container-fluid ">
      <h3 class="main-title">Synthèse</h3>
    </div>
    <div class="info" style="padding: 0">
      <p>
        Cumuls des absences contenues dans la période allant de Aout 2022 à Novembre 2022
      </p>
    </div>
    <div class="cards-stats row" >
      <div class="card col" *ngFor="let card of summaryAbsenceRequests">
        <div class="title">
          {{card.name}}
        </div>
        <div class="state-value">{{card?.total }}</div>
      </div>
    </div>
  </div>


  <div class="main-container">
    <div class="sub-header">
      <h3 class="main-title">
        Informations pour la saisie du relevé d'activité
      </h3>
    </div>
    <div class="info">
      <p>
        En cas d'absence exceptionnelle ( maladie, congé exceptionnel, congé maternité, paternité et parental),
        nous vous invitons à prendre en contact avec <span class="link">contact@piman-consultants.fr</span>
      </p>

      <p class="danger-text">
        En cas de maladie, veuillez prévenir <span class="link">contact@piman-consultants.fr</span>
        de votre absence dans les 24h et envoyer votre arrét maladie sous 48h.
      </p>
    </div>
  </div>

  <div class="tabs ">
    <div class="tab selected-tab">
      Soldes d'absences issus de la paye
    </div>
    <div class="tab ">
      Absences "non prises en compte" dans les soldes
    </div>
  </div>
  <div class="main-container">
    <div class="wrap">
      <table class="table">
        <thead>
        <tr>
          <th colspan="100%" class="gray-category ">
            Solde des absences issus de la fiche de paye de Juillet 2022
          </th>
        </tr>
        <tr>
          <th colspan="2">
            Congés payés à solder avant fin Mai 2024
          </th>
          <th colspan="2">
            Congés payés à solder avant fin Mai 2023
          </th>
          <th colspan="2">
            Congés à solder avant fin Mai 2023
          </th>
          <th colspan="2">
            RTT à solder avant fin décembre 2022
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>CP1 acquis</td>
          <td>CP1 restant</td>
          <td>CP2 acquis</td>
          <td>CP2 restant</td>
          <td>CP ancienneté acquis</td>
          <td>CP ancienneté acquis</td>
          <td>RTT acquis</td>
          <td>RTT restant</td>
        </tr>
        <tr>
          <td>4.16</td>
          <td>4.16</td>
          <td>25.00</td>
          <td>25.00</td>
          <td>2.00</td>
          <td>2.00</td>
          <td>6.44</td>
          <td>6.44</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="info" >
      <p class="danger-text">
        <u>Attention :</u> Les informations ci-dessus sont données à titre indicatif. Les informations inscrites sur votre fiche de paye restent la reference.
      </p>
      <p>
        Les absences sont intégrées avec un mois de décalage dans la paye.
      </p>
      <p>
        Les soldes d'absences issus de la paye ne prennent donc pas en compte les absences du mois en cours.
      </p>

    </div>
  </div>

  <div class="main-container">
    <div class="sub-header container-fluid ">
      <h3 class="main-title">
        {{absenceRequests?.length>0 ? absenceRequests?.length+' demandes d’absence trouvées': 'Liste de mes demandes d\'absences'}}
      </h3>
      <div class="btns right-btns">
        <app-button
          [type]="'primary'"
          [text]="'Export simple'"
          [isLoading]="submittingPrint"
          (onClick)="print()"
          [iconLeft]="'icon-pdf'"
        >
        </app-button>&nbsp;&nbsp;
        <app-button
          [type]="'primary'"
          [text]="'Soldes d\'absences'"
          [isLoading]="submittingExport"
          (onClick)="export()"
          [iconLeft]="'icon-excel'"
        >
        </app-button>
      </div>
    </div>
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loading_avance_frais_list.svg" style="width: 100%; height: unset"/>
      </div>
    </ng-container>
    <ng-template #loadedData>
      <ng-container *ngIf="absenceRequests?.length>0; else emptyStateList">
        <div class="wrap">
          <table class="table table-responsive">
            <thead>
            <tr class="gray-category">
              <th>&nbsp;</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Type</th>
              <th>Début</th>
              <th>Fin</th>
              <th>Durée</th>
              <th>Statut</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of absenceRequests">
              <tr>
                <td></td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.type_name}}</td>
                <td>
                  {{item.start_date | dateMessage}}
                </td>
                <td>
                  {{item.end_date | dateMessage}}
                </td>
                <td>{{item.duration}}</td>
                <td [ngStyle]="{'color': item.status_color}">
                  {{item.status_name}}
                </td>
                <td>
                  <!--                  *ngIf="item.status_code === 'en_attente'"-->
                  <div class="actions" >
                    <i class="icon-edit-bold primary-icon pointer d-inline-block"
                       data-toggle="tooltip"
                       data-placement="top"
                       style="font-size: 16px;"
                       [ngClass]="{'disabled-icon': item.status_code !== 'en_attente'}"
                       [routerLink]="item.status_code === 'en_attente' ? ['/activity/absence/modification/'+item.id]: null"
                       title="Modifier cette demande d'absence"></i>&nbsp;
                    <!--                    <i class="icon-trash danger-icon pointer d-inline-block"-->
                    <!--                       data-toggle="tooltip"-->
                    <!--                       data-placement="top"-->
                    <!--                       style="font-size: 16px;"-->
                    <!--                       title="Suppimer cette demande d'absence"-->
                    <!--                       (click)="delete(item.id)"-->
                    <!--                    ></i>-->
                  </div>
                </td>
              </tr>
              <tr  style="background: #F7F7F7;" >
<!--                <td style="padding-top: 25px;">-->
<!--                  <i class="icon-document-info primary-icon pointer" style="font-size: 24px;padding: 0 17px;"-->
<!--                     (click)="openModal(item)"-->
<!--                  ></i>-->
<!--                </td>-->
                <td></td>
                <td colspan="100%"  >
                  <table class="table table-responsive sub-table">
                    <!--                    <tr class="d-flex">-->
                    <!--                      <th class="">Détails :</th>-->
                    <!--                      <td> test-->
                    <!--                      </td>-->
                    <!--                    </tr>-->
                    <!--                    <tr class="d-flex">-->
                    <!--                      <th>Jusitification :</th>-->
                    <!--                      <td>test-->
                    <!--                      </td>-->
                    <!--                    </tr>-->
                    <ng-container *ngIf="item.history_absence_requests?.length > 0">
                      <tr class="d-flex" *ngIf="item.justification">
                        <th class="d-flex justify-content-end align-items-start">Justification :</th>
                        <td>
                          {{item.justification}}
                        </td>
                      </tr>
                      <tr class="d-flex" >
                        <th class="d-flex justify-content-end align-items-start">Workflow :</th>
                        <td style="padding-top: 0;">
                          <ul style="margin-bottom: 0;">
                            <li *ngFor="let workflow of item.history_absence_requests; let _i=index"
                                [ngStyle]="{'color': (_i+1) < item.history_absence_requests.length ? '#707070': workflow.status_color}" >
                              {{workflow.status_name +
                            ' le '+ (workflow.created_at | dateMessage) +
                            ' par '+ workflow.full_name }}&nbsp;
                              <span [ngbPopover]="workflow.comment"
                                    class="pointer text-decoration-underline blue-text-hover"
                                    [ngStyle]="{'color': (_i+1) < item.history_absence_requests.length ? '#707070': workflow.status_color}"
                                    *ngIf="workflow?.comment?.length > 0">
                                <i class="fa fa-eye"></i>
                                Voir le commentaire
                              </span>
                            </li>
<!--                            <ng-container *ngIf="item.status_code !== 'supprimee'">-->
                              <ng-container *ngIf="
                              item.history_absence_requests[item.history_absence_requests.length-1].status_code === 'cree' ||
                              item.history_absence_requests[item.history_absence_requests.length-1].status_code === 'modifiee'">
                                <li class="orange-text" >
                                  En attente de validation par le responsable
                                </li>
                              </ng-container>
<!--                            </ng-container>-->
                          </ul>
                        </td>
                      </tr>
                      <tr class="d-flex flex-column align-items-start" *ngIf="item.status_code === 'en_attente' && item.can_validate_manager">
                        <div class="submit-block">
                          <app-button
                            [type]="'danger'"
                            [text]="'Refuser'"
                            (onClick)="validateOrRefuseOrDemandChangeAbsenceRequest(item, 'refused')"
                            [iconLeft]="'icon-close'"
                            [customStyle]="{'min-width': '130px', 'padding': '2px 15px'}"
                          >
                          </app-button>&nbsp;&nbsp;
                          <app-button
                            [type]="'secondary'"
                            [text]="'Valider'"
                            (onClick)="validateOrRefuseOrDemandChangeAbsenceRequest(item, 'validate')"
                            [iconLeft]="'icon-check'"
                            [customStyle]="{'min-width': '130px', 'padding': '2px 15px'}"
                          >
                          </app-button>&nbsp;&nbsp;
                          <app-button
                            [type]="'primary'"
                            [text]="'Demander la modification'"
                            (onClick)="item.show_createDemandForm = !item.show_createDemandForm"
                            [iconLeft]="'icon-edit-bold'"
                            [customStyle]="{'min-width': '130px', 'padding': '2px 15px'}"
                          >
                          </app-button>
                        </div>
                        <div style="margin-top: 10px; width: 100%" *ngIf="item.show_createDemandForm">
                          <textarea class="input form-control"
                                    style="background-color: white;"
                                    [placeholder]="'Commentaire ..'"
                                    [rows]="2"
                                    [(ngModel)]="item.validation_comment"
                          ></textarea>
                          <div class="submit-block d-flex submit-block w-100">
                            <app-button
                              [text]="'Annuler'"
                              [type]="'danger_inverse_2'"
                              [iconLeft]="'icon-close'"
                              (onClick)="item.show_createDemandForm = false"
                            >
                            </app-button>&nbsp;&nbsp;
                            <app-button
                              [text]="'Enregistrer'"
                              [type]="'primary_inverse'"
                              [iconLeft]="'icon-save'"
                              (onClick)="validateOrRefuseOrDemandChangeAbsenceRequest(item, 'demand_change')"
                            >
                            </app-button>
                          </div>
                        </div>
                      </tr>
                    </ng-container>
                  </table>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-template>
  </div>

</div>

<ng-template #emptyStateList>
  <app-centred-message [message]="( 'Aucun élément trouvé pour le moment' )"
                       [image]="'images/empty_state_search.svg'"
  ></app-centred-message>
</ng-template>
