<div class="container top-container">
<!--  <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [routerLink]="['/users']"
        [type]="'secondary_2'"
      ></app-button>
    </div>
    <h1 class="main-title">Type ou rôle du profil</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="move(1)"
      ></app-button>
    </div>
  </div>
<!--  <h5 class="sub-title">Déterminer le rôle de ce profil</h5>-->
  <div class="cards row">
    <div class="card" *ngFor="let profile of profiles" (click)="selectProfil(profile.id)" [ngClass]="{'selected': profile.id === selectedProfile_id}">
      <div class="icon"><i class="{{profile.icon}}"></i></div>
      <div class="title">{{profile.label}}</div>
    </div>
  </div>

</div>
