@import '../users.styles';


.top-container{
  overflow: hidden;
  padding-top: 0 !important;
  form{
    overflow: auto;
    height: 100%;
    max-width: unset;
  }
  .header{
    padding-left: 30px;
  }
}

.head-info{
  margin-bottom: 0 !important;
}

.vertical-separator{
  border-left: 1px solid lightgray;
  width: 1px;
  margin: 0 5%;
}

.light-checkbox{
  label{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
    color: #707070;
  }
}
.bold-label{
  font-weight: 500;
}

.btn-div{
  justify-content: flex-end;
    display: flex;
}

.modal-title{
  margin: 0;
  font-size: 1.425em;
  padding: 5px 0px 0px 0px;
}
.check-box-btn{
  padding-left:0px!important;
}
