<div class="top-container list">

  <div class="sub-header container-fluid ">
    <h2>
      Projets/missions
    </h2>
  </div>

  <div class="filter-container main-container">
    <div class="sub-header container-fluid ">
      <h3 class="main-title">
        Filtres de recherche
      </h3>
      <span class="reset-filters" (click)=" resetFilters()">
          <i class="icon-close"></i>&nbsp;
          Réinitialiser les filtres
        </span>
    </div>
    <div class="filtres row">
      <div class="flex-column col-12 col-sm-6">
        <label>Plage de visualisation</label>
        <div class="d-flex justify-content-between row">
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.startDate"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.startDate = null"
                   *ngIf="filter.startDate"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.endDate"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.endDate = null"
                   *ngIf="filter.endDate"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filtres row">
      <div class="flex-column col-12 col-sm-6">
        <label>
          Choix du tri
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="false"
                     [items]="triCosts"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.tri_cost"
                     (open)="getFilterList('triCosts', listService.list.TRI_COST)"
                     [loading]="loadingSelect[listService.list.TRI_COST]"
                     [placeholder]="'Sélectionner le tri'"></ng-select>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-6">
        <label>Consultant</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="personals"
                     [bindLabel]="'full_name'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.personals"
                     (open)="getFilterList('personals', listService.list.PERSONAL)"
                     [loading]="loadingSelect[listService.list.PERSONAL]"
                     [placeholder]="'Sélectionner le consultant'"></ng-select>
        </div>
      </div>
    </div>

    <div class="filtres row">
      <div class="flex-column col-12 col-sm-6">
        <label>Appartenance</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="memberShips"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.memberShips"
                     (open)="getFilterList('memberShips', listService.list.MEMBER_SHIP )"
                     [loading]="loadingSelect[listService.list.STATUS]"
                     [placeholder]="'Filtrer par appartenance'"></ng-select>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-6">
        <label>
          Client
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="clients"
                     [bindLabel]="'name'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.clients"
                     (open)="getFilterList('clients', null)"
                     [loading]="loadingSelect['clients']"
                     [placeholder]="'Filtrer par client'"></ng-select>
        </div>
      </div>
    </div>

    <div class="filtres row ">
      <div class="flex-column col-12 col-sm-6">
        <label>
          Business unit
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="business_units"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.business_units"
                     [placeholder]="'Filtrer par business units'"></ng-select>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-6">
        <label>
          Direction OP
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="direction_ops"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.direction_ops"
                     [placeholder]="'Filtrer direction op'"></ng-select>
        </div>
      </div>
    </div>

    <div class="filtres row">
      <div class="flex-column col-12 col-sm-6">
        <label>Centre de profit</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="profit_centers"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.profitCenters"
                     (open)="getFilterList('profit_centers', listService.list.PROFIT_CENTER, {id: id_entite})"
                     [loading]="loadingSelect[listService.list.PROFIT_CENTER]"
                     [placeholder]="'Filtrer par centre de profit'" ></ng-select>
        </div>
        <div class="check-box-btn">
          <input type="checkbox"
                 id="with_inactive_cp"
                 [checked]="filter.withInactiveCp"
                 [(ngModel)]="filter.withInactiveCp"
                 (change)="filterChanged()"
                 name="with_inactive_cp" >
          <label for="with_inactive_cp" class="secondary_label">Avec centres de profits inactifs</label>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-6">
        <label>
          Projet
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="filterProjects"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.projects"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     [disabled]="true"
                     (open)="getFilterList('filterProjects', listService.list.STATUS, listService.list.ADVANCE_COST)"
                     [loading]="loadingSelect[listService.list.STATUS]"
                     [placeholder]="'Filtrer par projets'" >
          </ng-select>
        </div>
      </div>
    </div>

    <div *ngIf="expandedFilters"  [@staggerTransition]="expandedFilters">
      <div class="filtres row">
        <div class="flex-column col-12 col-sm-6">
          <label>
            Gestionnaire ADV
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="false"
                       [items]="triCosts"
                       [disabled]="true"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.tri_cost"
                       (open)="getFilterList('triCosts', listService.list.TRI_COST)"
                       [loading]="loadingSelect[listService.list.TRI_COST]"
                       [placeholder]="'Sélectionner le tri'"></ng-select>
          </div>
        </div>
        <div class="flex-column col-12 col-sm-6">
          <label>Type de facturation</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="personals"
                       [disabled]="true"
                       [bindLabel]="'full_name'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.consultant_id"
                       (open)="getFilterList('personals', listService.list.PERSONAL)"
                       [loading]="loadingSelect[listService.list.PERSONAL]"
                       [placeholder]="'Sélectionner le consultant'"></ng-select>
          </div>
        </div>
      </div>
      <div class="filtres row">
        <div class="flex-column col-12 col-sm-6">
          <label>
            Practice manager
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="false"
                       [items]="triCosts"
                       [disabled]="true"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.tri_cost"
                       (open)="getFilterList('triCosts', listService.list.TRI_COST)"
                       [loading]="loadingSelect[listService.list.TRI_COST]"
                       [placeholder]="'Sélectionner le tri'"></ng-select>
          </div>
        </div>
        <div class="flex-column col-12 col-sm-6">
          <label>Couverture BC</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [disabled]="true"
                       [items]="personals"
                       [bindLabel]="'full_name'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.consultant_id"
                       (open)="getFilterList('personals', listService.list.PERSONAL)"
                       [loading]="loadingSelect[listService.list.PERSONAL]"
                       [placeholder]="'Sélectionner le consultant'"></ng-select>
          </div>
        </div>
      </div>
      <div class="filtres row">
        <div class="flex-column p-0">
          <label>
            Recherche par numéro
          </label>
          <div class="row p-0 m-0">
            <div class="flex-column col-12 col-sm-4">
              <span class="light-text">
                N° de projet
              </span>
              <div>
                <input type="number" class="input form-control" [disabled]="true" />
              </div>
            </div>
            <div class="flex-column col-12 col-sm-4">
              <span class="light-text">N° de mission</span>
              <div>
                <input type="number" class="input form-control"  [disabled]="true"  />
              </div>
            </div>
            <div class="flex-column col-12 col-sm-4">
              <span class="light-text">N° de PTF</span>
              <div>
                <input type="number" class="input form-control"  [disabled]="true"  />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-container justify-content-center submit-block" >
      <span class="pointer flex-column align-items-center justify-content-center d-flex" (click)="expandedFilters = !expandedFilters">
          <i class="primary-icon" [ngClass]="{'icon-arrow-down': !expandedFilters, 'icon-arrow-up': expandedFilters}"></i>
          <div class="blue-text">{{expandedFilters ? 'Moins de filtres': 'Plus de filtres'}}</div>
        </span>
    </div>

    <div class="filter-container justify-content-center submit-block">
      <app-button
        [type]="'primary'"
        [text]="'Rechercher'"
        [isLoading]="submittingDetailedExport"
        (onClick)="detailedExport()"
        [iconLeft]="'icon-search'"
        style="margin: 0"
      >
      </app-button>
    </div>
  </div>

  <div class="main-container filter-container">
    <ng-container *ngIf="!loadingData; else loadingTemplate">
      <ng-container  *ngIf="projects?.length>0; else emptyState">
        <div class="sub-header header">
          <h3 class="main-title">
            Export
          </h3>
        </div>
        <div class="wrap" style="margin-top: 20px">
          <div class="table-wrapper">
            <ng-container *ngFor="let project of projects">
              <ng-container *ngIf="project.missions?.length">
                <table class="table-responsive w-100">
                  <thead>
                  <tr>
                    <th rowspan="2">
                      <i class="icon-arrow-up"></i>
                    </th>
                    <th rowspan="2">PIM-00001730</th>
                    <th colspan="3" class="text-center category-cell" >{{project.client_name}}</th>
                    <th rowspan="2">{{project.start_date | dateMessage}}</th>
                    <th rowspan="2">{{project.end_date | dateMessage}}</th>
                    <th rowspan="2">LEP-38</th>
                    <th rowspan="2" class="text-center"><i class="icon-edit"></i></th>
                  </tr>
                  <tr>
                    <th>
                      <div class="text-center">{{project.name}}</div>
                      <div class="danger-text text-center">A compléter</div>
                    </th>
                    <th colspan="2" class="text-center">2021-0001728</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--                [routerLink]="['/users/info/'+user.id]"  (click)="openModal()"-->
                  <tr *ngFor="let mission of project.missions" >
                    <td class="text-center"><i class="icon-copy primary-icon"></i></td>
                    <td>test 1</td>
                    <td>{{mission.mission_title}}</td>
                    <td>{{mission.consultant_name}}</td>
                    <td>BC: <i class="icon-check green-icon"></i></td>
                    <td>{{mission.start_date | dateMessage}}</td>
                    <td>{{mission.end_date | dateMessage}}</td>
                    <td class="text-center"><i class="icon-timer green-icon"></i></td>
                    <td class="text-center">
                      <i class="icon-edit primary-icon"></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </div>
          <!--        <div class="footer w-100" >-->
          <!--          <div></div>-->
          <!--          <app-pagination name="pagination"-->
          <!--                          (change)="changePagination()"-->
          <!--                          [(ngModel)]="pagination"-->
          <!--                          ngDefaultControl>-->
          <!--          </app-pagination>-->
          <!--        </div>-->
        </div>
      </ng-container>
    </ng-container>
  </div>


  <ng-template #emptyState>
    <app-centred-message
      [image]="'images/user_empty_state.svg'"
      [message]="( 'Aucun élément trouvé pour le moment' | translate )"
    ></app-centred-message>
  </ng-template>

  <ng-template #loadingTemplate>
    <div style="min-height: 290px;">
      <img src="assets/images/loading_activities.svg" style="width: 100%;" />
    </div>
  </ng-template>

</div>
