<input type="file" style="display: none" id="uploadVMFiles"
       #uploadMoreFiles
       multiple (change)="uploadFile($event); uploadMoreFiles.value = ''"/>

<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div>
    <h1 class="main-title">
      <span *ngIf="!formGroup.controls.id.value">
        Ajouter une visite médicale
      </span>
      <span *ngIf="formGroup.controls.id.value" style="color: #ffa307; text-transform: uppercase;">
        Modification de la visite médicale prévue le {{ (formGroup.controls[formInputs.scheduled_date].value) | dateMessage}}
      </span>
    </h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
        [isLoading]="submitting"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <!--    <div class="goback col-12"-->
        <!--         (click)="goback()"-->
        <!--          style="margin-bottom: 10px">-->
        <!--        <i class="fa fa-arrow-left"></i> &nbsp;{{'GO BACK' | translate}}-->
        <!--    </div>-->
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="container p-0"
              novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
            <!--          <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
          </h5>
          <div class="form-box">
            <div class="main-container form-column">
              <div class="white-box">
                <div class="form-bloc">
                  <div class="row">
                    <div class="col">
                      <label class="col-12">{{formLabels.centre}}
                        {{isRequired(formInputs.centre)}}</label>
                      <div class="col">
                        <!-- <input type="text"
                               placeholder="Saisir le centre médical"
                               class="form-control input"
                               [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.centre].hasError('required')
                                  && formGroup.controls[formInputs.centre].dirty}"
                               [formControl]="formGroup.controls[formInputs.centre]"
                        /> -->

                          <input id="typeahead-basic"
                                  type="text"
                                  class="form-control input"
                                  placeholder="Saisir le centre médical"
                                  [formControl]="formGroup.controls[formInputs.centre]"
                                  [ngbTypeahead]="medical_center_search"
                          />
                          <label class="light-text" *ngIf="searching">Recherche...</label>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.centre].hasError('required')
                  && formGroup.controls[formInputs.centre].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          Le centre médicale est obligatoire
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <label class="col-2">{{formLabels.scheduled_date}} {{isRequired(formInputs.scheduled_date)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt2"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt2"
                                 placeholder="Renseignez la date visite médicale"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.scheduled_date].hasError('required')
                                  && formGroup.controls[formInputs.scheduled_date].dirty}"
                                 [formControl]="formGroup.controls[formInputs.scheduled_date]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.scheduled_date)"
                               *ngIf="formGroup.controls[formInputs.scheduled_date].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.scheduled_date].hasError('required')
                    && formGroup.controls[formInputs.scheduled_date].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          Date de la visite médicale
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.send_convocation}} {{isRequired(formInputs.send_convocation)}}</label>
                      <div class="col" [matTooltip]="last_vm?.tooltip_msg">
                        <div class="check-box-btn">
                          <input type="checkbox"
                                 id="{{formLabels.send_convocation}}"
                                 [formControl]="formGroup.controls[formInputs.send_convocation]"
                          >
                          <label for="{{formLabels.send_convocation}}"
                                 data-content="{{formLabels.send_convocation}}">
                            <span class="name">{{formLabels.send_convocation}}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-1" (click)="showFiles()">
                      Pièces jointes
                    </div>
                    <div class="col">
                      <div class="row files-viewer">
                        <label class="col-12  text-center" for="uploadVMFiles">
                          <i class="icon-attachment"></i>
                          &nbsp;Ajouter une pièce jointe
                        </label>
                        <div class="row justify-content-center" *ngIf="files?.length>0; else noFileEmptyState">
                          <div class="file" *ngFor="let item of files" title="{{item.name}}" (click)="download(item)">
                            <div class="close-icon" (click)="removeFile(item)">
                              <i class="icon-close"></i>
                            </div>
                            <div class="icon">
                              <i class="{{getIcon(item.name)}}"></i>
                            </div>
                            <div class="">
                              <div class="name">{{getFileName(item.name)}}</div>
                              <div class="size">{{getFileSize(item.size)}}</div>
                            </div>
                          </div>
                        </div>
                        <ng-template #noFileEmptyState>
                          <div class="col-12 emptyStateFiles">
                            Aucune pièce jointe
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>

                  <div class="gray-box">
                    <div class="title pointer" (click)="showHistory = !showHistory">
                      <span>Historique visites médicales</span><br>
                      <i [ngClass]="{'icon-arrow-right': !showHistory, 'icon-arrow-down': showHistory}" ></i>
                    </div>
                    <ng-container *ngIf="!showHistory">
                      <div class="row">

                        <div class="item col-3" *ngFor="let vm of _medical_visits" >
                          <span class="fa fa-exclamation-triangle danger-icon" title="convocation non envoyée" *ngIf="!vm.send_convocation"></span>
                          <span class="fa fa-check" *ngIf="vm.send_convocation"></span>

                          <span class="light-text">
                            {{vm.scheduled_date | dateMessage}}
                          </span>&nbsp;&nbsp;<span>
                            {{vm.centre}}
                          </span>
                            &nbsp;&nbsp;<i class="icon-edit-bold primary-icon pointer d-inline-block" (click)="initFormBuilder(vm)"></i>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-center submit-block">

                <app-button
                [type]="'tertiary'"
                [text]="'Effacer'"
                (onClick)="reset()"
                [iconLeft]="'icon-close'"
                [customStyle]="{'min-width': '130px'}"
              >
              </app-button>
              <app-button
                [type]="'secondary'"
                [text]="'Enregistrer'"
                [isLoading]="submitting"
                [textLoading]="'Sauvegarde en cours..'"
                [iconLeft]="'icon-check'"
                (onClick)="save()"
              >
              </app-button>
          </div>
          <!-- <div class="row text-center">
            <app-button
              [type]="'primary'"
              [text]="'Enregistrer'"
              [isLoading]="submitting"
              (onClick)="save()"
            >
            </app-button>
          </div> -->
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
