<div class="top-container list">
  <div class="sub-header container-fluid ">
    <h2>
      Absences
    </h2>
  </div>

  <div class="main-container filter-container">
      <div class="sub-header">
        <h3 class="main-title">
          List des relevés
        </h3>
      </div>
    <div class="filtres row">
      <div class="flex-column col-12 col-sm-4 ">
        <label>Mois</label>
        <div class="d-flex justify-content-between row">
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.start_date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.start_date = null"
                   *ngIf="filter.start_date"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.end_date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.end_date = null"
                   *ngIf="filter.end_date"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-column  col-12 col-sm-4 ">
        <label>Statut de la demande</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="statues"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.statues"
                     [placeholder]="'Filtrer par appartenance'"
                     (open)="getFilterList('statues', listService?.list?.STATUS, listService?.list?.ABSENCE_REQUEST)"
                     [loading]="loadingSelect[listService?.list?.STATUS]"
          ></ng-select>
        </div>
      </div>

      <div class="flex-column  col-12 col-sm-4 ">
        <label>Type d'absence</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="types"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.types"
                     [placeholder]="'Filtrer par appartenance'"
                     (open)="getFilterList('types', listService?.list?.ABSENCE_REQUEST)"
                     [loading]="loadingSelect[listService?.list?.ABSENCE_REQUEST]"
          ></ng-select>
        </div>
      </div>
    </div>
    <div class="filtres row ">
      <div class="flex-column  col-12 col-sm-4  ">
        <label>Siège/Hors siège</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="false"
                     [items]="sieges"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.in_out_office"
                     [placeholder]="'Sélectionner si c\'est siège/hors siège'"
          ></ng-select>
        </div>
      </div>
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Société d'origine
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="societe_origins"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.societe_origins"
                     [placeholder]="'Filtrer direction op'"></ng-select>
        </div>
      </div>
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Business line
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="business_lines"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.business_lines"
                     [placeholder]="'Filtrer par business lines'"></ng-select>
        </div>
      </div>
    </div>
    <div class="filtres row ">
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Direction OP
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="direction_ops"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.direction_ops"
                     [placeholder]="'Filtrer direction op'"></ng-select>
        </div>
      </div>
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Business unit
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="business_units"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.business_units"
                     [placeholder]="'Filtrer par business units'"></ng-select>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-4  ">
        <label>
          Département
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="departments"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.departments"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     [placeholder]="'Filtrer par département'" ></ng-select>
        </div>

      </div>
    </div>
    <div class="filtres row ">
      <div class="flex-column  col-12 col-sm-4">
        <label>Centre de profit</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="center_profits"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.cps"
                     (open)="getFilterList('center_profits', listService?.list?.PROFIT_CENTER)"
                     [loading]="loadingSelect[listService?.list?.PROFIT_CENTER]"
                     [placeholder]="'Filtrer par centre de profit'" ></ng-select>
        </div>
        <div class="check-box-btn small-input">
          <input type="checkbox"
                 id="with_inactive_cp"
                 [checked]="filter.with_inactive_cp"
                 [(ngModel)]="filter.with_inactive_cp"
                 (change)="filterChanged()"
                 name="with_inactive_cp" >
          <label for="with_inactive_cp" >Avec centres de profits inactifs</label>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-4 ">
        <label>Utilisateur</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="personals"
                     [bindLabel]="'full_name'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.personals"
                     (open)="getFilterList('personals', listService?.list?.PERSONAL)"
                     [loading]="loadingSelect[listService?.list?.PERSONAL]"
                     [placeholder]="'Sélectionner l\'utilisateur'"></ng-select>
        </div>
        <div class="small-input">
          <label>Choisir un salarié permet d'avoir accès à ses soldes d'absences</label>
        </div>
      </div>
    </div>
    <div class="filtres row ">
      <div class=" flex-column  col-12 col-sm-4">
        <label>
          Uniquement les absences <span class="light-text">Modifiées/Créées/Supprimées</span>
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <input type="text" class="form-control input" />
        </div>
        <div class="small-input">
          <label>Date/heure au format jj/mm/aaa HH:MM à partir de laquelle les absences ont été modifiées</label>
        </div>
      </div>

      <div class=" flex-column  col-12 col-sm-4">
        <label>
          Date de dernier export des absences
        </label>
        <div class="align-items-center d-flex">
          <i class="icon-arrow-left-double primary-icon"></i> &nbsp;
          <div class="date-picker-group" style="width: fill-available;">
            <dp-date-picker [(ngModel)]="dateValue"
                            [mode]="'month'"
                            [placeholder]="'Filtre du mois'"
                            (onChange)="chosenMonthHandler()"
                            class="date-picker"
                            #datepicker
                            [config]="config"></dp-date-picker>

            <div class="icons-container">
              <i class="icon-close"
                 (click)="filter.month = null; dateValue = null; filterChanged()"
                 *ngIf="filter.month"></i>&nbsp;
              <i (click)="datepicker?.api?.open()" class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-block">
      <app-button
        [type]="'primary'"
        [text]="'Rechercher'"
        [isLoading]="submittingDetailedExport"
        (onClick)="detailedExport()"
        [iconLeft]="'icon-search'"
      >
      </app-button>
    </div>
  </div>

  <div class="main-container">
    <div class="sub-header">
      <h3 class="main-title">Synthèse</h3>
    </div>
    <div class="info">
      <p>Cumuls des absences contenues dans la période allant de Aout 2022 à Novembre 2022</p>
    </div>
    <div class="cards-stats row" >
      <div class="card col" *ngFor="let card of summaryAbsenceRequests">
        <div class="title">
          {{card.name}}
        </div>
        <div class="state-value">{{card?.total }}</div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="sub-header container-fluid ">
      <h3 class="main-title">
        {{absenceRequests?.length>0 ? absenceRequests?.length+' demandes d’absence trouvées': 'Liste des demandes d\'absences'}}
      </h3>
      <div class="btns right-btns">
        <app-button
          [type]="'primary'"
          [text]="'Export simple'"
          [isLoading]="submittingPrint"
          (onClick)="print()"
          [iconLeft]="'icon-pdf'"
        >
        </app-button>&nbsp;&nbsp;
        <app-button
          [type]="'primary'"
          [text]="'Soldes d\'absences'"
          [isLoading]="submittingExport"
          (onClick)="export()"
          [iconLeft]="'icon-excel'"
        >
        </app-button>
      </div>
    </div>
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loading_avance_frais_list.svg" style="width: 100%; height: unset"/>
      </div>
    </ng-container>
    <ng-template #loadedData>
      <ng-container *ngIf="absenceRequests?.length>0; else emptyStateList">
        <div class="wrap">
          <table class="table table-responsive">
            <thead>
            <tr class="gray-category">
              <th>&nbsp;</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Type</th>
              <th>Début</th>
              <th>Fin</th>
              <th>Durée</th>
              <th>Statut</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of absenceRequests">
              <tr>
                <td>--</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.type_name}}</td>
                <td>
                  {{item.start_date | dateMessage}}
                </td>
                <td>
                  {{item.end_date | dateMessage}}
                </td>
                <td>{{item.duration}}</td>
                <td [ngStyle]="{'color': item.status_color}">
                  {{item.status_name}}
                </td>
                <td>
<!--                  *ngIf="item.status_code === 'en_attente'"-->
                  <div class="actions" >
                    <i class="icon-edit-bold primary-icon pointer d-inline-block"
                       data-toggle="tooltip"
                       data-placement="top"
                       style="font-size: 16px;"
                       [ngClass]="{'disabled-icon': item.status_code !== 'en_attente'}"
                       [routerLink]="item.status_code === 'en_attente' ? ['/activites/absence/modification/'+item.id]: null"
                       title="Modifier cette demande d'absence"></i>&nbsp;
<!--                    <i class="icon-trash danger-icon pointer d-inline-block"-->
<!--                       data-toggle="tooltip"-->
<!--                       data-placement="top"-->
<!--                       style="font-size: 16px;"-->
<!--                       title="Suppimer cette demande d'absence"-->
<!--                       (click)="delete(item.id)"-->
<!--                    ></i>-->
                  </div>
                </td>
              </tr>
              <tr  style="background: #F7F7F7;" >
                <td style="padding-top: 25px;">
                  <i class="icon-document-info primary-icon pointer" style="font-size: 24px;padding: 0 17px;"
                    (click)="openModal(item)"
                  ></i>
                </td>
                <td colspan="100%"  >
                  <table class="table table-responsive sub-table">
<!--                    <tr class="d-flex">-->
<!--                      <th class="">Détails :</th>-->
<!--                      <td> test-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    <tr class="d-flex">-->
<!--                      <th>Jusitification :</th>-->
<!--                      <td>test-->
<!--                      </td>-->
<!--                    </tr>-->
                    <ng-container *ngIf="item.history_absence_requests?.length > 0">
                      <tr class="d-flex" *ngIf="item.justification">
                        <th class="d-flex justify-content-end align-items-start">Justification :</th>
                        <td>
                          {{item.justification}}
                        </td>
                      </tr>
                      <tr class="d-flex" >
                        <th class="d-flex justify-content-end align-items-start">Workflow :</th>
                        <td style="padding-top: 0;">
                          <ul style="margin-bottom: 0;">
                            <li *ngFor="let workflow of item.history_absence_requests; let _i=index"
                                [ngStyle]="{'color': (_i+1) < item.history_absence_requests.length ? '#707070': workflow.status_color}" >
                              {{workflow.status_name +
                            ' le '+ (workflow.created_at | dateMessage) +
                            ' par '+ workflow.full_name }}&nbsp;
                              <span [ngbPopover]="workflow.comment"
                                    [ngStyle]="{'color': (_i+1) < item.history_absence_requests.length ? '#707070': workflow.status_color}"
                                    class="pointer text-decoration-underline blue-text-hover" *ngIf="workflow?.comment?.length > 0">
                                <i class="fa fa-eye"></i>
                                Voir le commentaire
                              </span>
                            </li>
<!--                            <ng-container *ngIf="item.status_code !== 'supprimee'">-->
                              <ng-container *ngIf="
                              item.history_absence_requests[item.history_absence_requests.length-1].status_code === 'cree' ||
                              item.history_absence_requests[item.history_absence_requests.length-1].status_code === 'modifiee'"

                              >
                                <li class="orange-text">
                                  En attente de validation par le responsable
                                </li>
                              </ng-container>
<!--                            </ng-container>-->
                          </ul>
                        </td>
                      </tr>
                      <tr class="d-flex flex-column align-items-start" *ngIf="item.status_code === 'en_attente' && item.can_validate_manager">
                        <div class="submit-block">
                          <app-button
                            [type]="'danger'"
                            [text]="'Refuser'"
                            (onClick)="item.show_createDemandForm = !item.show_createDemandForm"
                            [iconLeft]="'icon-close'"
                            [customStyle]="{'min-width': '130px', 'padding': '2px 15px'}"
                          >
                          </app-button>&nbsp;&nbsp;
                          <app-button
                            [type]="'secondary'"
                            [text]="'Valider'"
                            (onClick)="validateOrRefuseOrDemandChangeAbsenceRequest(item, 'validate')"
                            [iconLeft]="'icon-check'"
                            [customStyle]="{'min-width': '130px', 'padding': '2px 15px'}"
                          >
                          </app-button>&nbsp;&nbsp;
<!--                          <app-button-->
<!--                            [type]="'primary'"-->
<!--                            [text]="'Demander la modification'"-->
<!--                            (onClick)="item.show_createDemandForm = !item.show_createDemandForm"-->
<!--                            [iconLeft]="'icon-edit-bold'"-->
<!--                            [customStyle]="{'min-width': '130px', 'padding': '2px 15px'}"-->
<!--                          >-->
<!--                          </app-button>-->
                        </div>
                        <div style="margin-top: 10px; width: 100%" *ngIf="item.show_createDemandForm">
                          <textarea class="input form-control"
                                    style="background-color: white;"
                                    [placeholder]="'Commentaire ..'"
                                    [rows]="2"
                                    [(ngModel)]="item.validation_comment"
                          ></textarea>
                          <div class="submit-block d-flex submit-block w-100">
                            <app-button
                              [text]="'Annuler'"
                              [type]="'danger_inverse_2'"
                              [iconLeft]="'icon-close'"
                              (onClick)="item.show_createDemandForm = false"
                            >
                            </app-button>&nbsp;&nbsp;
                            <app-button
                              [text]="'Enregistrer'"
                              [type]="'primary_inverse'"
                              [iconLeft]="'icon-save'"
                              (onClick)="validateOrRefuseOrDemandChangeAbsenceRequest(item, 'refused')"
                            >
                            </app-button>
                          </div>
                        </div>
                      </tr>
                    </ng-container>
                  </table>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-template>
  </div>



  <ng-template #emptyStateList>
    <app-centred-message [message]="( 'Aucun élément trouvé pour le moment' )"
                         [image]="'images/empty_state_search.svg'"
    ></app-centred-message>
  </ng-template>

  <ng-template #loadingTemplate>
    <div style="min-height: 290px;">
      <img src="assets/images/loading_activities.svg" style="width: 100%;" />
    </div>
  </ng-template>

</div>
