@import "../project.styles";

.input-container{
  label{
    font-size: 14px;
    font-weight: 500;
    margin-right: 6px;
  }
}

.paragraph{
  font-size: 15px;
  text-align: center;
}

.files-viewer{
  label{
    margin-bottom: 15px;
  }
}

.dropping{
  ::ng-deep .ngx-file-drop__drop-zone{
    border: 0 !important;
    background: unset !important;
  }
  ::ng-deep .main-container{
    background: #078aff17 !important;
  }

}

::ng-deep .ngx-file-drop__drop-zone{
  height: unset !important;
  border: 0 !important;
}
