@import "../project.styles";

.input-container{
  label{
    font-size: 14px;
    font-weight: 500;
    margin-right: 6px;
  }
}

.paragraph{
  font-size: 15px;
  text-align: center;
}

.files-viewer{
  label{
    margin-bottom: 15px;
  }
}
