<input type="file" style="display: none" id="uploadMoreFiles"
       multiple (change)="uploadFile($event)"/>

<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
      ></app-button>
    </div>
    <h1 class="main-title">Pièces jointes</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Créer'"
        [type]="'secondary'"
        [iconLeft]="'icon-check'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off"  novalidate>
          <div class="main-container">
          <p class="paragraph">
            Par défaut, les pièces jointes ne sont pas visibles sur l'ordre de mission, si vous voulez que votre pièce jointe sera visible sur l'ordre de mission, cochez la case ci-dessous.
          </p>
          <div class="align-items-center d-flex flex-column justify-content-center">
            <div class="check-box-btn text-center">
              <div class="d-flex input-container">
                <label for="is_pj_visible">Visibilité sur OM</label>
                <input type="checkbox"
                       id="is_pj_visible"
                       [checked]="formGroup.value[formInputs.is_pj_visible]"
                       (change)="onCheckChange(formInputs.is_pj_visible, $event)"
                       name="is_pj_visible" >
              </div>
            </div>

            <div class="row files-viewer">
              <label class="col-12  text-center" for="uploadMoreFiles">
                <i class="icon-attachment"></i>
                &nbsp;Ajouter une pièce jointe
              </label>
              <div class="row justify-content-center" *ngIf="files?.length>0">
                <div class="file" *ngFor="let item of files" title="{{item.name}}" (click)="download(item)">
                  <div class="close-icon" (click)="removeFile(item)">
                    <i class="icon-close"></i>
                  </div>
                  <div class="icon">
                    <i class="{{getIcon(item.name)}}"></i>
                  </div>
                  <div class="">
                    <div class="name">{{getFileName(item.name)}}</div>
                    <div class="size">{{getFileSize(item.size)}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="filesSizeErrorMessage?.length>0">
              <div class="form-control-feedback errorMessage"  >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span [innerHtml]="filesSizeErrorMessage"></span>
              </div>
            </div>
            <div class="row" *ngIf="emptyFilesErrorMessage?.length>0">
              <div class="form-control-feedback errorMessage" >
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span [innerHtml]="emptyFilesErrorMessage"></span>
              </div>
            </div>
            <div class="progress" *ngIf="progress">
              <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
            </div>

          </div>
        </div>
          <div class="submit-block justify-content-center">
          <app-button
            [type]="'secondary'"
            [text]="'Créer la mission'"
            [isLoading]="submitting"
            (onClick)="save()"
            [iconLeft]="'icon-check'"
          >
          </app-button>
        </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
