$color-primary: #d60000;
$color-secondary: #000000;



$color-red: #c30000;
$color-red-lighter: #f95858;



$color-border: #c5d6de;
$color-link: #0082c6;
$color-bg-grey-light: #f6f8fa;
$color-blue: #00a8ff;

$font-family: "Roboto";


// Responsive width
$xxl-min-width: 1500px;
$xxl-max-width: 1499px;

$lg-min-width: 1200px;
$lg-max-width: 1199px;

$md-min-width: 1055px;
$md-max-width: 1056px;

$sm-min-width: 768px;
$sm-max-width: 767px;
