<div class="header">
  <i class="fa fa-bars toggler pointer btn float-right"
     (click)="toggleSidebar()"
     aria-hidden="true"
     [ngClass]="{'v-hidden': mainStore.currentHeaderSection?.isFullScreen}"
  ></i>
  <div class="logo">
    <img src="assets/images/mini-logo.png" style="cursor: pointer" [routerLink]="['/']"/>
  </div>

  <div class="tabs">
    <div class="tab"
         [routerLink]="[$item.link]"
         [routerLinkActive]="'active-tab'"
         *ngFor="let $item of $headerItems">
        {{$item.name}}
    </div>
  </div>
  <div class="right-options">
    <div class="tabs">
      <div class="tab"  [matMenuTriggerFor]="userStore.getAuthenticatedUser?.can_selectEntities ? statusMenu: placeholder" >
<!--        <div class="profile">-->
          <div class="dropdown-profile-container">
            <div class="label">
              <div *ngIf="!(mainStore.selectedEntities?.length>0) && !mainStore.multipleEntities">Sélectionner une entité</div>
              <div *ngIf="!(mainStore.selectedEntities?.length>0) && mainStore.multipleEntities">Sélectionner une/des entité(s)</div>
              <div *ngIf="mainStore.selectedEntities?.length === 1">
                {{mainStore.selectedEntities[0]?.label}}
              </div>
              <ng-container *ngIf="mainStore.selectedEntities">
                <div class="main-label" *ngIf="mainStore.selectedEntities?.length > 1">
                  {{mainStore.selectedEntities[0]?.label}}
                </div>
                <div class="light-label" *ngIf="mainStore.selectedEntities?.length === 2">
                  et une autre entitée
                </div>
                <div class="light-label" *ngIf="mainStore.selectedEntities?.length > 2">
                  et {{mainStore.selectedEntities?.length - 1}} autres entitées
                </div>
              </ng-container>
            </div>

              <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="userStore.getAuthenticatedUser?.can_selectEntities"></i>
              <mat-menu #statusMenu="matMenu" [class]="'profile-menu'">
                <ng-container *ngIf="userStore.getAuthenticatedUser?.can_selectEntities">
                  <div mat-menu-item class="dropdown-item" *ngFor="let item of status" (click) = "$event.stopPropagation()">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{item.id}}"
                             [value]="item.id"
                             [checked]="ischecked(item.id)"
                             (change)="onCheckChange($event, item, statusMenu)"
                             name="{{item.id}}" >
                      <label for="{{item.id}}" >{{item.label}}</label>
                    </div>
                  </div>
                </ng-container>
              </mat-menu>
            <mat-menu #placeholder="matMenu" class="placeholder"></mat-menu>
          </div>
<!--        </div>-->
      </div>
    </div>
<!--    <app-language></app-language>-->
    <!--        <li class="nav-item" *ngIf="loggedIn">-->
    <!--            <a class="nav-link" routerLinkActive="active" routerLink="/">Home-->
    <!--            </a>-->
    <!--        </li>-->
    <!--        <li class="nav-item" *ngIf="!loggedIn">-->
    <!--            <a class="nav-link" routerLinkActive="active" routerLink="signup">Singup</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item" *ngIf="!loggedIn">-->
    <!--            <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item" *ngIf="loggedIn">-->
    <!--            <a class="nav-link" (click)="logout()">Logout</a>-->
    <!--        </li>-->
  </div>
<!--  (click)="mainStore.toggleShowSidebar()"-->
<!--  <div class="profile" placement="bottom-right" ngbDropdown>-->
<!--    <div ngbDropdownToggle class="image">-->
<!--      <img src="assets/images/face.png" />-->
<!--    </div>-->
<!--    <div ngbDropdownMenu aria-labelledby="dropdown">-->
<!--      <a class="dropdown-item pointer">-->
<!--        <i class="fa fa-user" aria-hidden="true"></i> Profil-->
<!--      </a>-->
<!--      <a class="dropdown-item pointer" (click)="logOut()">-->
<!--        <i class="fa fa-fw fa-power-off"></i>Se déconnecter-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
  <div class="profile">
      <div class="dropdown-profile-container">
        <div class="label d-md-block d-none" >
          <div class="connectedUSer name" >
            {{userStore.getAuthenticatedUser?.complete_name}}
          </div>

          <div class="connectedUSer" >
            {{userStore.getAuthenticatedUser?.role}}
          </div>
        </div>
        <div class="image" [matMenuTriggerFor]="profileMenu">
          <img
            [attr.src]="userStore.getAuthenticatedUser?.photo_profil ? ('document/'+userStore.getAuthenticatedUser?.photo_profil_id+'/file' |
                      getPhotoFromBackend: ('assets/images/'+(userStore.getAuthenticatedUser?.civility === 'Mme' ? 'woman.png': 'man.png')) |
                      async) : ('assets/images/'+(userStore.getAuthenticatedUser?.civility === 'Mme' ? 'woman.png': 'man.png'))"
          />
          <span>
              {{userStore.getAuthenticatedUser?.full_name}}
            </span>
        </div>
        <i class="fa fa-chevron-down" aria-hidden="true" [matMenuTriggerFor]="profileMenu" ></i>

        <mat-menu #profileMenu="matMenu" [class]="'profile-menu'" >

          <div class="connectedUSer name text-capitalize" >
            {{userStore.getAuthenticatedUser?.full_name}}
          </div>

          <div class="connectedUSer text-capitalize" >
            {{userStore.getAuthenticatedUser?.profile_name}}
          </div>


          <a mat-menu-item class="dropdown-item"
             [routerLink]="['/profile']">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Profil</span>
          </a>
          <a mat-menu-item class="dropdown-item"
             (click)="logOut()">
            <i class="fa fa-fw fa-power-off"></i>
            <span>{{'LOG OUT' | translate}}</span>
          </a>
        </mat-menu>
      </div>
  </div>
</div>


