<div class="top-container">
  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
        Relevé d'activité
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
      Configuration des frais par activité
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
       Frais non affectés (0)
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
        Tableau de synthèse &nbsp;
        <i class="fa fa-refresh primary-icon"></i>
      </div>
      <div class="wrap" >
        <table class="table table-responsive" style="width: 75%;">
          <thead>
            <tr>
              <th></th>
              <th class="category-cell" colspan="2">Déclaré</th>
              <th class="category-cell" colspan="2">Validé</th>
            </tr>
            <tr>
              <th>Type de frais</th>
              <th>Qte</th>
              <th>Total</th>
              <th>Qte</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hotel</td>
              <td>2</td>
              <td>93.00</td>
              <td>2</td>
              <td>93.00</td>
            </tr>
            <tr>
              <td>
                <div class="green-text">TICKETS RESTAURANT <i class="fa fa-search-plus primary-icon"></i></div>
                <div class="blue-text">Modif TR</div>
              </td>
              <td>8</td>
              <td></td>
              <td>8</td>
              <td></td>
            </tr>
            <tr>
              <td class="blue-text bold-text">TOTAL</td>
              <td class="blue-text bold-text"></td>
              <td class="blue-text bold-text">93</td>
              <td class="blue-text bold-text"></td>
              <td class="blue-text bold-text">93</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
      Statut de la note de frais
      </div>
    </div>
    <div *ngIf="note_frais_list?.length>0; else emptyState"></div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
        Note de frais - Aout 2022
      </div>
    </div>

    <div class="sub-header">
      <div class="blue-text">
        <i class="icon-settings-outline primary-icon"></i> &nbsp;
        Renumérotation des frais
      </div>
      <div class="blue-text">
        <i class="icon-setting-refresh primary-icon"></i> &nbsp;
        Génération auto
      </div>
    </div>

    <ng-container *ngFor="let note of expense_reports">
      <div class="collapse-horizontal" (click)="note.opened = !note.opened">
        <i class="icon-arrow-right" [ngClass]="{'icon-arrow-up': note.opened, 'icon-arrow-down': !note.opened}"></i>
        <div class="title">{{note.title}}</div>
        <div class="description">{{note.description}}</div>
        <div class="value">{{note.note}}</div>
      </div>
      <ng-container *ngIf="note.opened">
        <ng-container *ngFor="let item of note.items">
          <table class="table table-responsive">
            <thead>
            <tr>
              <th>N°1</th>
              <th>Exceptionnel</th>
              <th>Hotel</th>
              <th>Montant TTC 46.50</th>
              <th style="text-align: right;">
                <i class="fa fa-pencil-square-o primary-icon"></i>&nbsp;
                <i class="fa fa-files-o"></i>&nbsp;
                <i class="fa fa-trash danger-icon"></i>
              </th>
            </tr>
            </thead>
            <tbody class="no-borders">
            <tr>
              <td style="width: 25%;">
                <ng-select class="select form-control"
                           placeholder="Aucune demande"
                >
                </ng-select>
              </td>
              <td>
                <div class="input-container check-box-btn">
                  <input type="checkbox"
                         id="exceptionnel"
                         [value]="false"
                         [checked]="ischecked(true)"
                         (change)="onCheckChange($event)"
                         name="exceptionnel" >
                  <label for="exceptionnel" >Exceptionnel</label>
                </div>
              </td>
              <td>
                <input type="text" class="form-control input" placeholder="Commentaire" />
              </td>
              <td>
                <div class="input-group">
                  <label>Montant TTC</label>
                  <input type="number" class="form-control input" />
                </div>
              </td>
              <td style="vertical-align: bottom; text-align: right;">
                <i class="icon-save primary-icon"></i>&nbsp;
                <i class="icon-add primary-icon"></i>&nbsp;
                <i class="icon-close danger-icon"></i>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                <div class="input-container check-box-btn">
                  <input type="checkbox"
                         id="refacturable"
                         [value]="false"
                         [checked]="ischecked(true)"
                         (change)="onCheckChange($event)"
                         name="exceptionnel" >
                  <label for="refacturable" >Refacturable</label>
                </div>
              </td>
              <td>
                <ng-select [items]="costTypes"
                           bindLabel="label"
                           bindValue="id"
                           groupBy="category_parent"
                           [searchable]="false"
                           [(ngModel)]="selectedAccount"
                           placeholder="Aucun type de frais"
                           class="select form-control"
                           (open)="getFilterList('costTypes', listService.list.TYPE_OF_COST)"
                           [loading]="loadingSelect[listService.list.TYPE_OF_COST]"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{item.category_parent}}
                  </ng-template>
                </ng-select>
              </td>
              <td>
                <div class="input-group">
                  <label>Dont TVA</label>
                  <input type="number" class="form-control input" />
                </div>
              </td>
              <td style="vertical-align: bottom; text-align: right;">
                Renseigner la TVA &nbsp;
                <i class="icon-settings-outline primary-icon"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </ng-container>

    <div class="d-flex flex-column align-items-end">
      <div>Total déclaré : 93:00 EUR</div>
      <div>Total Validé : 93:00 EUR</div>
      <div class="blue-text bold-text">Total à payer : 93.00 EUR</div>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <app-centred-message [message]="( 'La note de frais n\'est pas diffusée' | translate )"
                       [image]="'images/empty_state_doc.svg'"
  ></app-centred-message>
</ng-template>
