<div class="top-container">
  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
        Relevé d'activité
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
      Configuration des frais par activité
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
       Frais non affectés (0)
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
        Tableau de synthèse
      </div>
      <div class="wrap">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th></th>
              <th class="category-cell" colspan="2">Déclaré</th>
              <th class="category-cell" colspan="2">Validé</th>
            </tr>
            <tr>
              <th>Type de frais</th>
              <th>Qte</th>
              <th>Total</th>
              <th>Qte</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hotel</td>
              <td>2</td>
              <td>93.00</td>
              <td>2</td>
              <td>93.00</td>
            </tr>
            <tr>
              <td>
                <div>TICKETS RESTAURANT <i class="fa fa-zoom-plus"></i></div>
                <div>Modif TR</div>
              </td>
              <td>8</td>
              <td></td>
              <td>8</td>
              <td></td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td></td>
              <td>93</td>
              <td></td>
              <td>93</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
      Statut de la note de frais
      </div>
    </div>
  </div>

  <div class="main-container ">
    <div class="sub-header">
      <div class="main-title">
        Note de frais - Aout 2022
      </div>
    </div>
  </div>
</div>
