<div class="top-container">
  <div class="main-container top-main-container">
    <div class="header pointer" (click)="showInstructions = !showInstructions" >
      <div>
        Informations pour la saisie du relevé d'activité&nbsp;&nbsp;<i class="icon-arrow-right"></i>
      </div>
    </div>
    <div class="info" *ngIf="showInstructions" [@staggerTransition]>
      <p>
        - Si vous constatez qu'une mission est absente de votre relevé d'activité, merci de contacter l'adresse suivante pour régularisation : activites@piman-consultants.fr
      </p>
      <p>
        - Les absences ne sont pas directement saisissables dans le relevé d'activité : il faut obligatoirement passer par une demande d'absence ( Activité / Mes congés / Faire une demande )
      </p>
      <p class="danger-text">
        - Veillez à bien diffuser votre relevé d'activité ( obligatoire pour un traitement de votre relevé d'activité )
      </p>
      <p>
        - Pour <u>imprimer</u> votre relevé d'activité : Activité / Mes relevés / Historique
      </p>
      <p class="danger-text">
        - Ne saisissez vos frais que si le relevé d'activité est correct car la fiche de frais est liée à l'activité.
      </p>
    </div>
  </div>

  <div class="main-container">
    <div class="filter-container">
      <div class="sub-header container-fuil container-lg ">
        <h3>
          List des relevés
<!--          <button-->
<!--            (click)="showActivities()"-->
<!--          >-->
<!--            Show activities-->
<!--          </button>-->
        </h3>
        <div class="search  row">
          <div class="flex-column col-12 col-sm-6 col-lg-2">
            <div class="date-picker-group">
              <owl-date-time [pickerType]="'calendar'"
                             (yearSelected)="chosenYearHandler($event)"
                             [startView]="'year'"
                             #dt_1
                             (monthSelected)="chosenMonthHandler($event, dt_1);dt_1.close()"
              >
              </owl-date-time>
              <input [owlDateTimeTrigger]="dt_1"
                     [owlDateTime]="dt_1"
                     class="form-control input date"
                     placeholder="Choisir le mois ici"
                     [formControl]="date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="clearDateInput(date)"
                   *ngIf="date.value"></i>&nbsp;
                <i [owlDateTimeTrigger]="dt_1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="flex-column col" style="display: flex;align-items: center;">
            <h3>Saisie du relevé d'activité de Juillet 2022</h3>
          </div>
        </div>
      </div>

      <div style="overflow-x: auto; overflow-y: visible">
        <div class="wrap">
          <ng-container *ngIf="!loadingCalendar; else loadingTemplate">
            <table class="table table-responsive">
              <thead>
              <tr>
                <th></th>
                <!--                  <th [attr.colspan]="3" class="category-cell">-->
                <!--                    $ 26-->
                <!--                  </th>-->
                <!--                  <ng-container *ngFor="let week of weeks; let _i=index" >-->
                <th
                  *ngFor="let week of weeks;"
                  class="category-cell"
                  [attr.colspan]="(week.colspan)"
                >
                  <!--                      [attr.colspan]="getColspanWeek(getWeek(day), day, (_i -1))"-->
                  S {{ week.week }}
                </th>
                <!--                  </ng-container>-->
              </tr>

              <tr>
                <th class="row-title-cell">
                  Jours
                </th>
                <th *ngFor="let day of data?.calendar">
                  {{day.date | dateMessage: 'D'}}
                </th>
                <th>Total</th>
              </tr>
              </thead>
              <tr *ngFor="let type_activity of getRightLabels()"
                  [ngStyle]="{'background-color': type_activity.bg_color}">
                <td class="row-title-cell" [ngClass]="{'bold-cell': !type_activity.bg_color}">
                  <span>{{type_activity.label}}</span>
                  <ng-container *ngIf="!type_activity.bg_color && !type_activity.grayCell && !activities.has_been_diffused">
                    <i class="icon-arrow-right-double primary-icon pointer float-right"
                       (click)="fillLine(type_activity, false)"
                       *ngIf="!hasAtLeastAFilledCell(type_activity); else unFillLineTemplate"
                    ></i>
                    <ng-template #unFillLineTemplate>
                      <i class="icon-arrow-left-double danger-icon pointer float-right"
                         (click)="fillLine(type_activity, true)"
                      ></i>
                    </ng-template>
                  </ng-container>
                </td>
                <td *ngFor="let day of data?.calendar">
                  <!--                    *ngIf="!type_activity.bg_color"-->
                  <div
                       [ngClass]="{
                           'gray-cell': type_activity.grayCell && !day.is_weekend,
                           'blue-cell': day.is_weekend
                       }"
                       class="cell-content" >
<!--                    <ng-container *ngIf="!type_activity.bg_color && !type_activity.grayCell">-->
                      <ng-container *ngIf="!day.is_weekend && !type_activity.bg_color && !type_activity.grayCell && !activities.has_been_diffused; else textCellTemplate">
                        <ng-select
                          class="select"
                          [items]="data?.ratio"
                          [bindValue]="'code'"
                          [bindLabel]="'label'"
                          [ngModel]="findRatioValue(getDataInCell(day, type_activity))"
                          (ngModelChange)="setDataCell(day, type_activity, $event)"
                          [searchable]="false"
                          dropdownPosition="bottom"
                        >
                        </ng-select>
                      </ng-container>
                      <ng-template #textCellTemplate>
                        <ng-container *ngIf="day.is_weekend; else ratioTemplate">
                          {{getDataInCell(day, type_activity)}}
                        </ng-container>
                        <ng-template #ratioTemplate>
                          {{findRatioLabel(getDataInCell(day, type_activity))}}
                        </ng-template>
                      </ng-template>
<!--                    </ng-container>-->
                  </div>
                </td>
                <td>
                  <div class="cell-content gray-cell primary-text" ></div>
                </td>
              </tr>
              <tr>
                <td class="row-title-cell bold-cell">
                  <span>Total jours</span>
                </td>
                <td *ngFor="let day of data?.calendar"  >
                  <div class="cell-content primary-text"
                       [ngClass]="{'blue-cell': day.is_weekend, 'gray-cell': !day.is_weekend}">
                    <ng-container *ngIf="day.is_weekend; else totalTemplate">
                      {{getWeekendDay(day)}}
                    </ng-container>
                    <ng-template #totalTemplate>
                      <ng-container *ngVar="getTotalInColumn(day) as total">
                        <div [ngClass]="{'danger-text':  total !== 1 }">
                          {{total}}
                        </div>
                      </ng-container>
                    </ng-template>
                  </div>
                </td>
                <td>
                  <div class="cell-content gray-cell primary-text" ></div>
                </td>
              </tr>
              <tr>
                <td class="row-title-cell bold-cell d-flex" >
                  <span>Détail de l'activité <i class="icon-info-cercle primary-icon pointer"></i></span>
                </td>
                <td colspan="100%">
                  <textarea
                    rows="4"
                    class="form-control input"
                    placeholder="Plus de détails"
                    [disabled]="activities.has_been_diffused"
                  ></textarea>
                </td>
              </tr>
            </table>
            <div class="submit-block" *ngIf="!activities.has_been_diffused">
              <app-button
                [type]="'secondary'"
                [text]="'Créer'"
                [isLoading]="submittingCreate"
                [isDisabled]="submittingCreate || submittingDiffuse"
                [textLoading]="'Sauvegarde en cours..'"
                (onClick)="addOrUpdateActivity()"
                [iconLeft]="'fa fa-save'"
                [customStyle]="{'min-width': '130px'}"
              >
              </app-button>&nbsp;&nbsp;
              <app-button
                [type]="'secondary'"
                [text]="'Diffuser'"
                [isLoading]="submittingDiffuse"
                [textLoading]="'Diffusion en cours..'"
                [isDisabled]="submittingDiffuse || submittingCreate || hasIntegrityError"
                (onClick)="diffuseActivity()"
                [iconLeft]="'icon-check'"
                [customStyle]="{'min-width': '130px'}"
              >
              </app-button>
            </div>
            <ul class="error-message" [innerHTML]="getTotalIssues()">
            </ul>
          </ng-container>
        </div>
      </div>

    </div>


  </div>
</div>

<ng-template #loadingTemplate>
  <div style="min-height: 290px;">
    <img src="assets/images/loading_activity_calendar.svg" style="width: 100%;" />
  </div>
</ng-template>
