<div class="top-container">
  <div class="main-container top-main-container">
    <div class="header">
      <div>
        Informations pour la saisie du relevé d'activité&nbsp;&nbsp;<i class="icon-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="filter-container">
      <div class="sub-header container-fuil container-lg ">
        <h3>
          List des relevés
        </h3>

        <div class="search  row">
          <div class="flex-column col-12 col-sm-6 col-lg-2">
            <div class="date-picker-group">
              <owl-date-time [pickerType]="'calendar'"
                             (yearSelected)="chosenYearHandler($event)"
                             [startView]="'year'"
                             #dt_1
                             (monthSelected)="chosenMonthHandler($event, dt_1);dt_1.close()"
              >
              </owl-date-time>
              <input [owlDateTimeTrigger]="dt_1"
                     [owlDateTime]="dt_1"
                     class="form-control input date"
                     placeholder="Choisir le mois ici"
                     [formControl]="date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="clearDateInput(date)"
                   *ngIf="date.value"></i>&nbsp;
                <i [owlDateTimeTrigger]="dt_1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="flex-column col" style="margin-left: 20%;">
            <h3>Saisie du relevé d'activité de Juillet 2022</h3>
          </div>

          <div class="wrap">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th></th>
<!--                  <th [attr.colspan]="3" class="category-cell">-->
<!--                    $ 26-->
<!--                  </th>-->
<!--                  <ng-container *ngFor="let week of weeks; let _i=index" >-->
                    <th
                      *ngFor="let week of weeks;"
                      class="category-cell"
                      [attr.colspan]="(week.colspan)"
                    >
<!--                      [attr.colspan]="getColspanWeek(getWeek(day), day, (_i -1))"-->
                      S {{ week.week }}
                    </th>
<!--                  </ng-container>-->
                </tr>

                <tr>
                  <th class="row-title-cell">
                    Jours
                  </th>
                  <th *ngFor="let day of data.calendar">
                    {{day.date | dateMessage: 'D'}}
                  </th>
                  <th>Total</th>
                </tr>
              </thead>
              <tr *ngFor="let type_activity of getRightLabels()"
                  [ngStyle]="{'background-color': type_activity.bg_color}">
                <td class="row-title-cell"
                    [ngClass]="{'bold-cell': !type_activity.bg_color}">
                  <span>{{type_activity.label}}
<!--                    {{type_activity.id}}-->
                  </span>
                  <i class="icon-arrow-right-double primary-icon pointer float-right"
                     *ngIf="!type_activity.bg_color && !type_activity.grayCell"
                  ></i>
                </td>
                <td *ngFor="let day of data.calendar">
                  <div *ngIf="!type_activity.bg_color"
                       [ngClass]="{
                           'blue-cell': day.is_weekend && !type_activity.bg_color,
                           'gray-cell': type_activity.grayCell
                       }"
                       class="cell-content" >
                    <ng-container *ngIf="!type_activity.bg_color && !type_activity.grayCell">
                      {{getDataInCell(day, type_activity)}}
                    </ng-container>
                  </div>
                </td>
                <td>
                  <div class="cell-content gray-cell primary-text" ></div>
                </td>
              </tr>
              <tr >
                <td class="row-title-cell bold-cell">
                  <span>Total jours</span>
                </td>
                <td *ngFor="let day of data.calendar">
                  <div class="cell-content gray-cell primary-text" >
                    {{getTotal(day)}}
                  </div>
                </td>
                <td>
                  <div class="cell-content gray-cell primary-text" ></div>
                </td>
              </tr>
              <tr>
                <td class="row-title-cell bold-cell d-flex" >
                  <span>Détail de l'activité <i class="icon-info-cercle primary-icon pointer"></i></span>
                </td>
                <td colspan="100%">
                  <textarea
                    rows="4"
                    class="form-control input"
                    placeholder="Plus de détails"
                  ></textarea>
                </td>
              </tr>
            </table>

          </div>

        </div>

        <div class="submit-block">
          <app-button
            [type]="'secondary'"
            [text]="'Export'"
            [isLoading]="submittingCreate"
            (onClick)="create()"
            [iconLeft]="'fa fa-save'"
            [customStyle]="{'min-width': '130px'}"
          >
          </app-button>&nbsp;&nbsp;
          <app-button
            [type]="'secondary'"
            [text]="'Export détaillé'"
            [isLoading]="submittingDiffuse"
            (onClick)="diffuse()"
            [iconLeft]="'icon-check'"
            [customStyle]="{'min-width': '130px'}"
          >
          </app-button>
        </div>
      </div>
    </div>


  </div>
</div>
