@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a7ymku');
  src:  url('fonts/icomoon.eot?a7ymku#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a7ymku') format('truetype'),
    url('fonts/icomoon.woff?a7ymku') format('woff'),
    url('fonts/icomoon.svg?a7ymku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auth-password:before {
  content: "\e920";
  color: #707070;
}
.icon-auth-user:before {
  content: "\e921";
  color: #707070;
}
.icon-alert-triangle:before {
  content: "\e91f";
}
.icon-remove-circle:before {
  content: "\e91d";
}
.icon-user-basic:before {
  content: "\e91e";
}
.icon-commercial:before {
  content: "\e91c";
  color: #909090;
}
.icon-settings-outline:before {
  content: "\e918";
}
.icon-tasks-line:before {
  content: "\e917";
}
.icon-magnifying-glass:before {
  content: "\e919";
}
.icon-lightbulb:before {
  content: "\e91a";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-arrow-left:before {
  content: "\e915";
}
.icon-notif:before {
  content: "\e91b";
}
.icon-user-profil:before {
  content: "\e912";
}
.icon-user-profil-2:before {
  content: "\e913";
}
.icon-user-profil-3:before {
  content: "\e914";
}
.icon-eye:before {
  content: "\e911";
  color: #4d4d4d;
}
.icon-arrow-up:before {
  content: "\e90c";
  color: #4d4d4d;
}
.icon-arrow-down:before {
  content: "\e910";
  color: #4d4d4d;
}
.icon-add:before {
  content: "\e90e";
  color: #4d4d4d;
}
.icon-document:before {
  content: "\e902";
}
.icon-user-info:before {
  content: "\e901";
}
.icon-carreer:before {
  content: "\e900";
}
.icon-email-2:before {
  content: "\e908";
}
.icon-go-back:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-manager:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-username:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e90b";
}
.icon-export-file:before {
  content: "\e90d";
}
.icon-import-file:before {
  content: "\e90f";
}
