<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div>
    <h1 class="main-title">Entretien</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
        [isLoading]="submitting"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <!--    <div class="goback col-12"-->
        <!--         (click)="goback()"-->
        <!--          style="margin-bottom: 10px">-->
        <!--        <i class="fa fa-arrow-left"></i> &nbsp;{{'GO BACK' | translate}}-->
        <!--    </div>-->
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="container p-0"
              novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
            <!--          <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
          </h5>
          <div class="form-box">
            <div class="main-container form-column">
              <div class="white-box">
                <div class="form-bloc">
                  <div class="row">
                    <div class="col">
                      <label class="col-12">{{formLabels.type_entretien}}
                        {{isRequired(formInputs.type_entretien)}}</label>
                      <div class="col">
                        <ng-select
                          [items]="entretien_types"
                          [bindLabel]="'label'"
                          [bindValue]="'id'"
                          class="form-control select"
                          placeholder="Sélectionner le type d'entretien ici"
                          [formControl]="formGroup.controls[formInputs.type_entretien]"
                          [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.type_entretien].hasError('required')
                                  && formGroup.controls[formInputs.type_entretien].dirty}"
                          [multiple]="false"
                        >
                        </ng-select>
                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.type_entretien].hasError('required')
                  && formGroup.controls[formInputs.type_entretien].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          Le type d'entretien est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-12">{{formLabels.etat}}
                        {{isRequired(formInputs.etat)}}</label>
                      <div class="col">
                        <ng-select
                          [items]="etats"
                          [bindLabel]="'label'"
                          [bindValue]="'id'"
                          class="form-control select"
                          placeholder="Sélectionner l'état ici"
                          [formControl]="formGroup.controls[formInputs.etat]"
                          [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.etat].hasError('required')
                                  && formGroup.controls[formInputs.etat].dirty}"
                          [multiple]="false"
                        >
                        </ng-select>
                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.etat].hasError('required')
                  && formGroup.controls[formInputs.etat].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          L'état est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.date_effective}} {{isRequired(formInputs.date_effective)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt1"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt1"
                                 placeholder="Choisir la date effective ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_effective].hasError('required')
                                  && formGroup.controls[formInputs.date_effective].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_effective]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_effective)"
                               *ngIf="formGroup.controls[formInputs.date_effective].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_effective].hasError('required')
                    && formGroup.controls[formInputs.date_effective].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date effective est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.date_theorique}} {{isRequired(formInputs.date_theorique)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt2"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt2"
                                 placeholder="Choisir la date théorique ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_theorique].hasError('required')
                                  && formGroup.controls[formInputs.date_theorique].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_theorique]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_theorique)"
                               *ngIf="formGroup.controls[formInputs.date_theorique].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_theorique].hasError('required')
                    && formGroup.controls[formInputs.date_theorique].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date théorique est obligatoire
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1">
                      Pièces jointes
                    </div>
                    <div class="col">
                      <div class="link">Choisir un fichier</div>
                    </div>
                  </div>
                  <div class="gray-box">
                    <div class="title pointer" (click)="showHistory = !showHistory">
                      <span>Historique entretiens</span>
                      <i [ngClass]="{'icon-arrow-right': !showHistory, 'icon-arrow-down': showHistory}" ></i>
                    </div>
                    <ng-container *ngIf="showHistory">
                      <div class="item">
                        <span class="light-text">01/03/21</span>&nbsp;&nbsp;<span>entretien annuel</span>
                      </div>
                      <div class="item">
                        <span class="light-text">01/03/21</span>&nbsp;&nbsp;<span>entretien annuel</span>
                      </div>
                      <div class="item">
                        <span class="light-text">01/03/21</span>&nbsp;&nbsp;<span>entretien annuel</span>
                      </div>
                      <div class="item">
                        <span class="light-text">01/03/21</span>&nbsp;&nbsp;<span>entretien annuel</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
