<input type="file" style="display: none" id="uploadInterviewFiles"
       #uploadMoreFiles
       multiple (change)="uploadFile($event); uploadMoreFiles.value = ''"/>
<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div>
    <h1 class="main-title">
      <span *ngIf="!formGroup.controls.id.value">
        Ajouter un entretien
      </span>
      <span *ngIf="formGroup.controls.id.value">
        Modification de l'entretien prévu le {{ (formGroup.controls[formInputs.theoretical_date].value) | dateMessage}}
      </span>
    </h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="move(1)"
        [isLoading]="submitting"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="container p-0"
              novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
          </h5>
          <div class="form-box">
            <div class="main-container form-column">
              <div class="white-box">
                <div class="form-bloc">
                  <div class="row">
                    <div class="col">
                      <label class="col-12">{{formLabels.type_id}}
                        {{isRequired(formInputs.type_id)}}</label>
                      <div class="col">
                        <ng-select
                          [items]="entretien_types"
                          [bindLabel]="'label'"
                          [bindValue]="'id'"
                          class="form-control select"
                          placeholder="Sélectionner le type d'entretien"
                          [formControl]="formGroup.controls[formInputs.type_id]"
                          (open)="getFilterList('entretien_types', listService.list.INTERVIEW_TYPE)"
                          [loading]="loadingSelect[listService.list.INTERVIEW_TYPE]"
                          [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.type_id].hasError('required')
                                  && formGroup.controls[formInputs.type_id].dirty}"
                          [multiple]="false"
                        >
                        </ng-select>
                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.type_id].hasError('required')
                  && formGroup.controls[formInputs.type_id].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          Le type d'entretien est obligatoire
                        </div>
                      </div>
                    </div>
<!--                    <div class="col">-->
<!--                      <label class="col-12">{{formLabels.etat}}-->
<!--                        {{isRequired(formInputs.etat)}}</label>-->
<!--                      <div class="col">-->
<!--                        <ng-select-->
<!--                          [items]="etats"-->
<!--                          [bindLabel]="'label'"-->
<!--                          [bindValue]="'id'"-->
<!--                          class="form-control select"-->
<!--                          placeholder="Sélectionner l'état ici"-->
<!--                          [formControl]="formGroup.controls[formInputs.etat]"-->
<!--                          [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.etat].hasError('required')-->
<!--                                  && formGroup.controls[formInputs.etat].dirty}"-->
<!--                          [multiple]="false"-->
<!--                        >-->
<!--                        </ng-select>-->
<!--                        <div class="form-control-feedback"-->
<!--                             *ngIf="formGroup.controls[formInputs.etat].hasError('required')-->
<!--                  && formGroup.controls[formInputs.etat].dirty">-->
<!--                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>-->
<!--                          L'état est obligatoire-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
                    <div class="col">
                      <label class="col-2">{{formLabels.theoretical_date}} {{isRequired(formInputs.theoretical_date)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt2"
                                class="form-control input date"
                                [owlDateTimeTrigger]="owl_dt2"
                                placeholder="Renseigner la date théorique"
                                [ngClass]="{'is-invalid error-input':
                              formGroup.controls[formInputs.theoretical_date].hasError('required')
                                  && formGroup.controls[formInputs.theoretical_date].dirty}"
                                [formControl]="formGroup.controls[formInputs.theoretical_date]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                              (click)="clearDateInput(formInputs.theoretical_date)"
                              *ngIf="formGroup.controls[formInputs.theoretical_date].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                            *ngIf="formGroup.controls[formInputs.theoretical_date].hasError('required')
                    && formGroup.controls[formInputs.theoretical_date].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date théorique est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.effective_date}} {{isRequired(formInputs.effective_date)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt1"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt1"
                                 placeholder="Renseigner la date de réalisation"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.effective_date].hasError('required')
                                  && formGroup.controls[formInputs.effective_date].dirty}"
                                 [formControl]="formGroup.controls[formInputs.effective_date]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.effective_date)"
                               *ngIf="formGroup.controls[formInputs.effective_date].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.effective_date].hasError('required')
                    && formGroup.controls[formInputs.effective_date].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date effective est obligatoire
                        </div>
                      </div>
                    </div>
                 
                    <div class="col"></div>
                  </div>
                  <div class="row">
                      <div class="col-1">
                        Pièces jointes
                      </div>
                      <div class="col">
                        <div class="row files-viewer">
                          <label class="col-12  text-center" for="uploadInterviewFiles">
                            <i class="icon-attachment"></i>
                            &nbsp;Ajouter une pièce jointe
                          </label>
                          <div class="row justify-content-center" *ngIf="files?.length>0; else noFileEmptyState">
                            <div class="file" *ngFor="let item of files" title="{{item.name}}" (click)="download(item)">
                              <div class="close-icon" (click)="removeFile(item)">
                                <i class="icon-close"></i>
                              </div>
                              <div class="icon">
                                <i class="{{getIcon(item.name)}}"></i>
                              </div>
                              <div class="">
                                <div class="name">{{getFileName(item.name)}}</div>
                                <div class="size">{{getFileSize(item.size)}}</div>
                              </div>
                            </div>
                          </div>
                          <ng-template #noFileEmptyState>
                            <div class="col-12 emptyStateFiles">
                              Aucune pièce jointe
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  <div class="gray-box">
                    <div class="title pointer" (click)="showHistory = !showHistory">
                      <span>Historique des entretiens</span>
                      <i [ngClass]="{'icon-arrow-right': !showHistory, 'icon-arrow-down': showHistory}" ></i>
                    </div>
                    <ng-container *ngIf="!showHistory" >
                        <div class="item " *ngFor="let item of interviews" >

                          <span *ngIf="item.effective_date">
                            <span class="fa fa-check"></span>
                            &nbsp;
                            <span>{{item.type.label}}</span>

                            <span class="light-text">
                              {{ (item.effective_date | dateMessage)}}
                            </span>
                          </span>
                          <span *ngIf="!item.effective_date" title="date de réalisation manquante">
                            <span class="fa fa-exclamation-triangle danger-icon ng-star-inserted"></span>
                          &nbsp;
                            <span>{{item.type.label}}</span>
                            &nbsp;&nbsp;
                            <span class="light-text link" (click)="editInterview(item)">
                              Renseigner la date de réalisation
                            </span>
                          </span>
                        </div>

                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="justify-content-center submit-block">

                <app-button
                [type]="'tertiary'"
                [text]="'Effacer'"
                (onClick)="reset()"
                [iconLeft]="'icon-close'"
                [customStyle]="{'min-width': '130px'}"
              >
              </app-button>
              <app-button
                [type]="'secondary'"
                [text]="'Enregistrer'"
                [isLoading]="submitting"
                [textLoading]="'Sauvegarde en cours..'"
                [iconLeft]="'icon-check'"
                (onClick)="save()"
              >
              </app-button>
          </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
