@import "~app/styles/custom.variables";


.auth-container {
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-image: url("/assets/images/sirh_photos/login-3-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: center;
  padding: 10px 60px;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(58, 58, 190, 0.72);
  }

  .auth-form {
    max-width: 500px;
    text-align: center;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    //margin-right: 40px;
    //height: 80%;
    z-index: 4;
    //margin: auto;
    overflow-y: auto;
    border-radius: 16px;

    .bigsubtitle {
      font-size: 19px;
      font-weight: 700;
      line-height: 1.63;
      text-align: center;
      color: $darkPrimaryColor;
      //margin-bottom: 25px;
      //margin-top: 35px;
    }

    .text {
      font-size: 14px;
      line-height: 1.44;
      text-align: center;
      color: $darkPrimaryColor;
      margin-bottom: 25px;
    }

    .subtitle {
      font-size: 15px;
      line-height: 1.55;
      letter-spacing: 0.4px;
      text-align: center;
      color: $lightPrimaryColor;
      margin-bottom: 25px;
      margin-top: 10px;

      span {
        color: $primaryColor;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      //width: 60%;
      .form-control-feedback {
        font-size: 13px;
        color: red;
        width: 100%;
        text-align: left;
        margin-top: 5px;
        margin-left: 16px;
      }

      .input-group {
        margin-bottom: 45px;
        display: flex;
        align-items: baseline;
        white-space: nowrap;
        flex-direction: column;

        .label {
          font-size: 14px;
          margin-bottom: 5px;
          font-weight: 300;
          opacity: .8;
          text-align: left;
        }

        .input {
          display: flex;
          align-items: center;
          width: 100%;
          border: 0;
          min-height: 40px;

          i {
            margin-right: 10px;
          }

          i:before {
            color: $primaryColor
          }

          input {
            border-right: 0;
            border-left: 0;
            border-top: 0;
            font-size: 12px;
            min-height: 40px;
          }
        }
      }
    }

    .btn-group {
      width: 90%;

      .mybtn {
        margin-bottom: 20px;
        color: white;
        min-height: 45px;
        background: $mainColor;
      }
    }

    .link {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      color: #919191;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .logo {
    max-width: 248px;

    img {
      width: 100%;
    }
  }

}

@media screen and (max-width: $LAPTOP_SCREEN) {
  .auth-container {
    background-image: url("/assets/images/bkg-log-full.jpg");
    //padding: 50px 10px 10px 10px;
    display: flex;
    justify-content: center;
    width: 100%;

    .auth-form {
      max-width: unset;
      //width: 70%;
      margin-right: unset;
      //padding: 10px;
      height: unset;

      .inputs {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: $LARGE_SCREEN) {
  .auth-container {
    background-image: url("/assets/images/bkg-log.jpg");
    display: flex;
    justify-content: center;
    padding: 0;

    .auth-form {
      margin-right: unset;
      padding: 10px;
      width: 100%;

      .inputs {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: $TABLET_SCREEN) {
  .auth-container {
    background-image: url("/assets/images/bkg-log-full.jpg");
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    .auth-form {
      height: unset;
      background-color: rgba(0, 0, 0, .8);

      .input-group {
        .label {
          color: white;
        }

        .input i:before {
          color: white;
        }
      }
    }
  }
}
