<!--input file accept  'png', 'jpg', 'jpeg', 'pdf', 'doc', 'docs'  -->
<input type="file" style="display: none" id="uploadVMFiles_modal"
       #uploadMoreFiles
       accept=""
       multiple (change)="uploadFile($event); uploadMoreFiles.value = ''"/>

<div class="container">

         <div class="header modal-header">
           <h1 class="main-title">{{item?.id ? 'Modifier la visite médicale': 'Ajouter une visite médicale'}}</h1>
            <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>
        </div>

        <div class="modal-body">
          <form  [formGroup]="formGroup"  autocomplete="off" class="container p-0" novalidate (submit)="submit()">
            <div class="form-box">
              <div class="main-container form-column">
                <div class="white-box">
                  <div class="form-bloc">
                    <div class="row">
                      <div class="col">
                        <label class="col-12">{{formMetaData.personal_id.label}}
                          {{isRequired(formMetaData.personal_id.input)}}</label>
                        <div class="col">
                          <ng-select
                            [items]="personals"
                            [bindLabel]="'label'"
                            [bindValue]="'id'"
                            class="form-control select"
                            [placeholder]="formMetaData.personal_id.placeholder"
                            [formControlName]="formMetaData.personal_id.input"
                            [ngClass]="{'is-invalid error-input': formGroup.controls[formMetaData.personal_id.input].hasError('required')
                                    && formGroup.controls[formMetaData.personal_id.input].dirty}"
                            [multiple]="false"
                            (open)="getFilterList('personals', listService.list.PERSONAL)"
                            [loading]="loadingSelect[listService.list.PERSONAL]"
                          >
                          </ng-select>
                           <div class="form-control-feedback"
                               *ngIf="formGroup.controls[formMetaData.personal_id.input].hasError('required')
                        && formGroup.controls[formMetaData.personal_id.input].dirty">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                             {{formMetaData.personal_id.errorRequired}}
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <label class="col-12">{{formMetaData.centre.label}}
                          {{isRequired(formMetaData.centre.input)}}</label>
                        <div class="col">
                          <input id="typeahead-basic"
                                 type="text"
                                 class="form-control input"
                                 [placeholder]="formMetaData.centre.placeholder"
                                 [formControlName]="formMetaData.centre.input"
                                 [ngbTypeahead]="medical_center_search"
                          />
                          <label class="light-text" *ngIf="searching">Recherche...</label>


                          <!--                          <ng-select-->
<!--                            [items]="medical_centers"-->
<!--                            class="form-control select"-->
<!--                            [placeholder]="formMetaData.centre.placeholder"-->
<!--                            [formControlName]="formMetaData.centre.input"-->
<!--                            [ngClass]="{'is-invalid error-input': formGroup.controls[formMetaData.centre.input].hasError('required')-->
<!--                                    && formGroup.controls[formMetaData.centre.input].dirty}"-->
<!--                            [multiple]="false"-->
<!--                            (open)="getFilterList('medical_centers', listService.list.MEDICAL_CENTER)"-->
<!--                            [loading]="loadingSelect[listService.list.MEDICAL_CENTER]"-->
<!--                          >-->
<!--                          </ng-select>-->

                          <div class="form-control-feedback"
                               *ngIf="formGroup.controls[formMetaData.centre.input].hasError('required')
                    && formGroup.controls[formMetaData.centre.input].dirty">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{formMetaData.centre.errorRequired}}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                            <label class="col-12">{{formMetaData.scheduled_date.label}}
                              {{isRequired(formMetaData.scheduled_date.input)}}
                            </label>
                            <div class="col">

                              <div class="date-picker-group">
                                <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                                <input [owlDateTime]="owl_dt1"
                                       class="form-control input date"
                                       [owlDateTimeTrigger]="owl_dt1"
                                       [placeholder]="formMetaData.scheduled_date.placeholder"
                                       [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formMetaData.scheduled_date.input].hasError('required')
                                  && formGroup.controls[formMetaData.scheduled_date.input].dirty}"
                                       [formControlName]="formMetaData.scheduled_date.input"
                                />
                                <div class="icons-container">
                                  <i class="icon-close"
                                     (click)="clearDateInput(formMetaData.scheduled_date.input)"
                                     *ngIf="formGroup.controls[formMetaData.scheduled_date.input].value"></i>&nbsp;
                                  <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                                </div>
                              </div>

                              <div class="form-control-feedback"
                                   *ngIf="formGroup.controls[formMetaData.scheduled_date.input].hasError('required')
                        && formGroup.controls[formMetaData.scheduled_date.input].dirty">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{formMetaData.scheduled_date.errorRequired}}
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div  style="margin-bottom: 5px;" (click)="showFiles()">
                        Pièces jointes
                      </div>
                      <div class="col">
                        <div class="row files-viewer">
                          <label class="col-12  text-center" for="uploadVMFiles_modal">
                            <i class="icon-attachment"></i>
                            &nbsp;Ajouter une pièce jointe
                          </label>
                          <div class="row justify-content-center" *ngIf="files?.length>0; else noFileEmptyState">
                            <div class="file" *ngFor="let item of files" title="{{item.name || item.original_name}}" (click)="download(item)">
                              <div class="close-icon" (click)="removeFile(item)">
                                <i class="icon-close"></i>
                              </div>
                              <div class="icon">
                                <i class="{{getIcon(item.name || item.original_name)}}"></i>
                              </div>
                              <div class="">
                                <div class="name">{{getFileName(item.name || item.original_name)}}</div>
                                <div class="size">{{getFileSize(item.size)}}</div>
                              </div>
                            </div>
                          </div>
                          <ng-template #noFileEmptyState>
                            <div class="col-12 emptyStateFiles">
                              Aucune pièce jointe
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>

                    <div class="justify-content-center submit-block">
                      <app-button
                        [type]="'tertiary'"
                        [text]="'Annuler'"
                        [isLoading]="submitting"
                        [isDisabled]="submitting"
                        (onClick)="modal.close()"
                        [iconLeft]="'icon-close'"
                        [customStyle]="{'min-width': '130px'}"
                      >
                      </app-button>&nbsp;&nbsp;
                      <app-button
                        [type]="'secondary'"
                        [text]="item?.id ? 'Enregistrer les modifications': 'Créer'"
                        [isLoading]="submitting"
                        [isDisabled]="submitting"
                        [textLoading]="'Sauvegarde en cours..'"
                        (onClick)="submit()"
                        [iconLeft]="'icon-check'"
                        [customStyle]="{'min-width': '130px'}">
                    </app-button>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
</div>

