@import "../activities.styles";

table{
  border-collapse: collapse;
  td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.small-table{
  min-width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid $lightergray;
  td, th{
    text-align: center
  }
  th{
    font-size: 12px;
  }
  td{
    font-size: 11px;
    font-weight: 300;
    color: $lightgray;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.sub-table{
  background: $lightergray;
  width: 100%;
  margin: 0;
  th{
    padding-top: 7px;
    padding-right: 10px;
  }
  td{
    border: 0;
    padding: 8px 0;
    font-size: 12px;
    text-align: left;
  }
}


::ng-deep .popover{
  min-width: 500px;
  ::ng-deep .popover-title{
    color: $secondaryColor;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
  }
  .bloc-title{
    font-size: 15px;
    font-weight: 500;
    color: $mainGray;
    margin-bottom: 5px;
  }
  .info{
    display: flex;
    line-height: 21px;
    margin-bottom: 9px;
    .title{
      color: $secondaryColor;
      min-width: 95px;
    }
    .value{
      margin-left: 10px;
      color: $mainGray;
      font-weight: 300;
    }
  }
  .filter-container{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
