<div class="top-container list">
  <div class="sub-header container-fluid ">
    <h3 class="main-title top-title">
      Avance de frais
    </h3>
  </div>

  <div class="filter-container  main-container">
    <div class="sub-header container-fluid ">
      <h3 class="main-title">
         Filtres de recherche
      </h3>
      <span class="reset-filters" (click)=" resetFilters()">
          <i class="icon-close"></i>&nbsp;
          Réinitialiser les filtres
        </span>
    </div>
    <div class="filtres row ">
      <div class="flex-column  col-12 col-sm-4">
        <label>Plage de visualisation</label>
        <div class="d-flex justify-content-between row">
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.date_start"
                     (ngModelChange)="filterChanged()"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.date_start = null"
                   *ngIf="filter.date_start"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.date_end"
                     (ngModelChange)="filterChanged()"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.date_end = null"
                   *ngIf="filter.date_end"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-column  col-12 col-sm-4">
        <label>Statut</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="false"
                     [items]="avance_status"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     [searchable]="false"
                     [(ngModel)]="filter.statues"
                     (change)="filterChanged()"
                     [placeholder]="'Sélectionner le type d\'avance'">
            <ng-template ng-label-tmp let-item="item">
              <div class="flag" [ngStyle]="{'background-color': item.color}">&nbsp;</div>
              <span>{{item.label}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <div class="flag" [ngStyle]="{'background-color': item.color}">&nbsp;</div>
              <span [ngOptionHighlight]="search">{{item.label}}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="flex-column  col-12 col-sm-4">
        <label>Type d'avance</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [searchable]="false"
                     [items]="avance_types"
                     [(ngModel)]="filter.types"
                     (change)="filterChanged()"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     [placeholder]="'Sélectionner le type d\'avance'"></ng-select>
        </div>
      </div>
    </div>
    <div class="filtres row ">
      <div class="flex-column  col-12 col-sm-4">
        <label>Centre de profit</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [searchable]="false"
                     [items]="profit_centers"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.cps"
                     [placeholder]="'Filtrer par cenntre de profit'" ></ng-select>
        </div>
      </div>
      <div class="flex-column  col-12 col-sm-4">
        <label>Etat de remboursement</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [searchable]="false"
                     [items]="state_advance_costs"
                     [(ngModel)]="filter.states"
                     (change)="filterChanged()"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     [placeholder]="'Sélectionner l\'état de remboursement'"></ng-select>
        </div>
      </div>
      <div class="flex-column  col-12 col-sm-4">
        <label>Salarié</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [searchable]="false"
                     [items]="personals"
                     [(ngModel)]="filter.personals"
                     (change)="filterChanged()"
                     [bindLabel]="'full_name'"
                     [bindValue]="'id'"
                     [placeholder]="'Sélectionner l\'état de remboursement'"></ng-select>
        </div>
      </div>
    </div>

    <div class="filtres row">
      <div class="flex-column  col-12 col-sm-6 col-lg-3  block-check ">
        <div class="check-box-btn small-input">
          <input type="checkbox"
                 id="waiting_my_validating"
                 [checked]="filter.waiting_my_validating"
                 [(ngModel)]="filter.waiting_my_validating"
                 (change)="filterChanged()"
                 name="waiting_my_validating" >
          <label for="waiting_my_validating" >En attente de ma validation</label>
        </div>
      </div>
    </div>

    <div class="submit-block" >

      <app-button
        [type]="'primary'"
        [text]="'Exporter'"
        [isLoading]="submittingExport"
        [isDisabled]="submittingExport"
        [textLoading]="'Exportation en cours..'"
        (onClick)="export()"
        [iconLeft]="'icon-excel'"
        [customStyle]="{'min-width': '130px'}"
      >
      </app-button>&nbsp;&nbsp;
      <app-button
        [type]="'primary'"
        [text]="'Rechercher'"
        [textLoading]="'Diffusion en cours..'"
        (onClick)="getAll()"
        [iconLeft]="'icon-search'"
        [customStyle]="{'min-width': '130px'}"
      >
      </app-button>
    </div>
  </div>

  <div class="main-container">
    <div class="sub-header container-fluid  ">
      <h3 class="main-title">
        Tableau de synthèse
      </h3>
    </div>
    <ng-container *ngIf="loadingSummaryAdvanceCosts; else loadedSummaryAdvanceCosts">
      <div class="loading">
        <img src="assets/images/loading_avance_frais_summary.svg" style="height: 100px; width: 100%; max-width: 651px;"/>
      </div>
    </ng-container>
    <ng-template #loadedSummaryAdvanceCosts>
      <ng-container *ngIf="summaryAdvanceCosts?.length>0; else emptyState">
        <div class="wrap" >
          <table class="small-table">
            <thead>
            <tr class="gray-category">
              <th>Type</th>
              <ng-container *ngFor="let item of summaryAdvanceCosts">
                <th>{{item.status_name}}</th>
              </ng-container>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Avance de frais</td>
              <ng-container *ngFor="let item of summaryAdvanceCosts">
                <td>{{item.total}}</td>
              </ng-container>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-template>
  </div>

  <div class="main-container">
    <div class="sub-header container-fluid ">
      <h3 class="main-title">
        Liste des avances de frais
      </h3>
      <div class="btns right-btns">
        <app-button
          [text]="'Tout sélectionner'"
          [type]="'secondary_2'"
          [iconLeft]="'icon-arrow-left'"
          [customStyle]="{'max-height': '34px'}"
        ></app-button>&nbsp;&nbsp;
        <app-button
          [text]="'Désélectionner'"
          [type]="'secondary_2'"
          [iconRight]="'icon-arrow-right'"
          [customStyle]="{'max-height': '34px'}"
        ></app-button>
      </div>
    </div>
    <ng-container *ngIf="loadingAdvanceCosts; else loadedAdvanceCosts">
      <div class="loading">
        <img src="assets/images/loading_avance_frais_list.svg" style="width: 100%; height: unset"/>
      </div>
    </ng-container>
    <ng-template #loadedAdvanceCosts>
      <ng-container *ngIf="advanceCosts?.length>0; else emptyStateList">
        <div class="wrap">
          <table class="table table-responsive">
            <thead>
            <tr class="gray-category">
              <th>Responsable</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Type</th>
              <th>Montant</th>
              <th>Date</th>
              <th>Statut</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of advanceCosts">
              <ng-template
                #popTitle>
                <div class="popover-title">
                  Détail paiement avance
                </div>
                <i class="icon-close pointer" (click)="popOver.close()"></i>
              </ng-template>
              <ng-template #popContent>
                <div class="bloc-title">
                  Info avance
                </div>
                <div class="row">
                  <div class="col-12 info">
                    <div class="title">N° d'avance:</div>
                    <div class="value">
                      {{item.id}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 info">
                    <div class="title">Libellé:</div>
                    <div class="value">
                      {{item.type_name}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 info">
                    <div class="title">Total TTC:</div>
                    <div class="value">
                      {{item.amount}} EUR
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 info">
                    <div class="title">A payer TTC:</div>
                    <div class="value">
                      {{item.amount}} EUR
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="item.payment?.id else not_payed">
                  <div class="bloc-title">
                    Info du paiement
                  </div>
                  <div class="row">
                    <div class="col-12 info">
                      <div class="title">Montant payé:</div>
                      <div class="value green-text" style="font-weight: 500">
                        {{item.payment.amount_paid}} EUR
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 info">
                      <div class="title">Date paiement:</div>
                      <div class="value">
                        {{item.payment.payment_date | dateMessage}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 info">
                      <div class="title">Type de paiement:</div>
                      <div class="value">
                        {{getPaymentType(item.payment.type)}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 info">
                      <div class="title">Banque:</div>
                      <div class="value">
                        {{item.payment.bank?.code}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 info">
                      <div class="title">Remarque:</div>
                      <div class="value">
                        {{item.payment.remark}}
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #not_payed>
                  <ng-container *ngIf="item.can_pay_admin">
                    <div class="bloc-title" style="margin-top: 11px;">
                      Saisie du paiement
                    </div>
                    <div class="filter-container">
                      <div class="filtres row">
                        <div class="flex-column col-12 col-sm-6">
                          <label>Montant payé (*)</label>
                          <div>
                            <input type="number"
                                   placeholder="EUR"
                                   [(ngModel)]="item.amount_paid"
                                   class="input form-control" />
                          </div>
                          <div class="flex-column col-12 block-check ">
                            <div class="check-box-btn small-input">
                              <input type="checkbox"
                                     id="never_paid"
                                     [checked]="item.never_paid"
                                     [(ngModel)]="item.never_paid"
                                     name="never_paid" >
                              <label for="never_paid" >Jamais payé</label>
                            </div>
                          </div>
                        </div>
                        <div class="flex-column  col-12 col-sm-6">
                          <label>Date paiement</label>
                          <div class="date-picker-group">
                            <owl-date-time #owl_dt3 [pickerType]="'calendar'" ></owl-date-time>
                            <input [owlDateTime]="owl_dt3"
                                   class="form-control input date"
                                   [owlDateTimeTrigger]="owl_dt3"
                                   placeholder="Choisir la date ici"
                                   [(ngModel)]="item.payment_date"
                            />
                            <div class="icons-container">
                              <i class="icon-close"
                                 (click)="item.payment_date = null"
                                 *ngIf="item.payment_date"></i>&nbsp;
                              <i [owlDateTimeTrigger]="owl_dt3" class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                        <!--                      <div class="flex-column col-12 col-sm-5">-->
                        <!--                        <label>Type de paiement</label>-->
                        <!--                        <div>-->
                        <!--                          <ng-select-->
                        <!--                            class="select form-control"-->
                        <!--                            [(ngModel)]="item.type_payment"-->
                        <!--                            placeholder="Selectionner le type de payement"-->
                        <!--                            [items]="payment_types"-->
                        <!--                            [bindValue]="'code'"-->
                        <!--                            [bindLabel]="'label'"-->
                        <!--                            [multiple]="false"-->
                        <!--                            [searchable]="false"-->
                        <!--                            [clearable]="false"-->
                        <!--                          >-->
                        <!--                          </ng-select>-->
                        <!--                        </div>-->
                        <!--                      </div>-->
                      </div>
                      <div class="filtres row">
                        <div class="flex-column col-12">
                          <div class="btn-group radio"
                               ngbRadioGroup name="radioBasic"
                               [(ngModel)]="item.type_payment"
                          >
                            <label ngbButtonLabel>
                              <input ngbButton type="radio" [value]="'manual_transfer'" id="manual_transfer">&nbsp;
                              <span class="radio-label" for="manual_transfer">Virement manuel</span>
                            </label>
                            <label ngbButtonLabel>
                              <input ngbButton type="radio"
                                     checked="checked"
                                     [value]="'interbank_transfer'" id="interbank_transfer">&nbsp;
                              <span class="radio-label" for="interbank_transfer">Virement interbancaire</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="filtres row">
                        <div class="flex-column col-12">
                          <label>Banque</label>
                          <div>
                            <ng-select
                              class="select form-control"
                              placeholder="Sélectionner une banque"
                              [(ngModel)]="item.bank_id"
                              [items]="item.banks"
                              [bindLabel]="'rib'"
                              [bindValue]="'id'"
                            >
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="filtres row">
                        <div class="flex-column col-12">
                          <label>Remarque</label>
                          <div>
                       <textarea
                         [(ngModel)]="item.remark"
                         class="input form-control"
                         placeholder="Saisir une remarque"
                       ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
                <div class="submit-block">
                  <app-button
                    [type]="'secondary_2'"
                    [text]="'Fermer'"
                    (onClick)="popOver.close()"
                  >
                  </app-button>
                  <ng-container   *ngIf="item.can_pay_admin && !item.payment?.id">
                    &nbsp;<app-button
                    [type]="'secondary'"
                    [iconLeft]="'icon-check'"
                    [text]="'Créer le paiement'"
                    (onClick)="createPayment(item, popOver)"
                  >
                  </app-button>
                  </ng-container>
                </div>
              </ng-template>
              <tr [ngClass]="{'green-row': item.payment?.id}">
                <td>{{item.manager_name}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.type_name}}</td>
                <td>
                  <div
                    [ngbPopover]="popContent"
                    [popoverTitle]="popTitle"
                    #popOver="ngbPopover"
                    [autoClose]="false"
                    class="pointer blue-text link"
                  >
                    {{item.amount}}
                    <i class="fa fa-eye primary-icon" ></i>
                  </div>
                </td>
                <td>{{item.date | dateMessage}}</td>
                <td [ngStyle]="{'color': item.status_color}">
                  {{item.status_name}}
                </td>
                <td>
                  <div class="actions">
                    <i class="icon-edit primary-icon pointer d-inline-block"
                       data-toggle="tooltip"
                       data-placement="top"
                       style="font-size: 16px;"
                       *ngIf="item.history_advance_cost?.length === 1 && item.personal_id === userStore.getAuthenticatedUser?.id"
                       [routerLink]="['/activity/avance/modification/'+item.id]"
                       title="Détails"></i>
                  </div>
                </td>
              </tr>
              <tr *ngIf="item.history_advance_cost?.length>0">
                <td colspan="100%" style="padding: 0;">
                  <table class="table table-responsive sub-table">
                    <tr>
                      <th class="d-flex justify-content-end">Détails :</th>
                      <td>
                        {{item.history_advance_cost[0].status_name +
                      ' le '+ (item.history_advance_cost[0].created_at | dateMessage) +
                      ' par '+ item.history_advance_cost[0].personal_name}}
                      </td>
                    </tr>
                    <ng-container *ngIf="item.motif">
                      <tr>
                        <th class="d-flex justify-content-end">Remarque demandeur :</th>
                        <td>{{item.motif}}</td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="item.comment_admin">
                      <tr>
                        <th class="d-flex justify-content-end">Remarque admin :</th>
                        <td>{{item.comment_admin}}</td>
                      </tr>
                    </ng-container>
                    <ng-container  *ngIf="item.comment_manager">
                      <tr>
                        <th class="d-flex justify-content-end">Remarque responsable :</th>
                        <td>{{item.comment_manager}}</td>
                      </tr>
                    </ng-container>
                    <tr>
                      <th class="d-flex justify-content-end align-items-start">Workflow :</th>
                      <td style="padding-top: 0;">
                        <ul style="margin-bottom: 0;">
                          <li *ngFor="let workflow of item.history_advance_cost" [ngStyle]="{'color': workflow.status_color}" >
<!--                            Diffusé le 30/06/2022 17:26 par HABACHI Mohamed Amine-->
                            {{workflow.status_name +
                          ' le '+ (workflow.created_at | dateMessage) +
                          ' par '+ workflow.personal_name }}
                          </li>
                          <ng-container *ngIf="item.history_advance_cost?.length === 1">
                            <li [ngStyle]="{'color': item.status_color}"
                                *ngIf="!item.can_validate_manager; else validate_item">
                              En attente de validation par le manager
                            </li>
                            <ng-template #validate_item>
                              <li [ngStyle]="{'color': item.status_color}">Validation au niveau Gestion avance</li>
                              <div class="row">
                                <div class="col-12 col-sm-8 flex-column" style="margin-top: 7px;">
                                 <textarea class="input form-control"
                                           [placeholder]="'Commentaire ..'"
                                           [rows]="2"
                                           [(ngModel)]="item.validation_comment"
                                 ></textarea>
                                </div>
                              </div>
                              <div>
                                <div class="col check-box-btn" style="padding-left: 0;">
                                  <input type="checkbox"
                                         [checked]="item.validation_send_email"
                                         [(ngModel)]="item.validation_send_email"
                                         [id]="'send_email'+item.id">
                                  <label [for]="'send_email'+item.id"
                                         style="font-size: 11px;margin-left: 3px;"
                                         data-content="{{'send_email'+item.id}}">
                                    <span class="name">Envoyer les informations par mail à l'utilisateur</span>
                                  </label>
                                </div>
                              </div>
                              <div>
                                <app-button
                                  [type]="'danger'"
                                  [text]="'Refuser'"
                                  [iconLeft]="'icon-close'"
                                  [isDisabled]="item.submittingRejection || item.submittingValidation"
                                  [isLoading]="item.submittingRejection"
                                  (onClick)="validateOrRefuseAdvanceCost(item, false)"
                                >
                                </app-button>&nbsp;&nbsp;
                                <app-button
                                  [type]="'secondary'"
                                  [text]="'Valider'"
                                  [iconLeft]="'icon-check'"
                                  [isDisabled]="item.submittingRejection || item.submittingValidation"
                                  [isLoading]="item.submittingValidation"
                                  (onClick)="validateOrRefuseAdvanceCost(item, true)"
                                >
                                </app-button>
                              </div>
                            </ng-template>
                          </ng-container>
                          <ng-container *ngIf="item.history_advance_cost?.length === 2">
                            <ng-container *ngIf="!item.is_refused">
                              <li [ngStyle]="{'color': item.status_color}"
                                  *ngIf="!item.can_validate_admin; else validate_item">
                                En attente de validation par l'admin
                              </li>
                              <ng-template #validate_item>
                                <li [ngStyle]="{'color': item.status_color}">Validation au niveau Gestion avance</li>
                                <div class="row">
                                  <div class="col-12 col-sm-8 flex-column" style="margin-top: 7px;">
                                 <textarea class="input form-control"
                                           [placeholder]="'Commentaire ..'"
                                           [rows]="2"
                                           [(ngModel)]="item.validation_comment"
                                 ></textarea>
                                  </div>
                                </div>
                                <div>
                                  <div class="col check-box-btn" style="padding-left: 0;">
                                    <input type="checkbox"
                                           [checked]="item.validation_send_email"
                                           [(ngModel)]="item.validation_send_email"
                                           [id]="'send_email'+item.id">
                                    <label [for]="'send_email'+item.id"
                                           style="font-size: 11px;margin-left: 3px;"
                                           data-content="{{'send_email'+item.id}}">
                                      <span class="name">Envoyer les informations par mail à l'utilisateur</span>
                                    </label>
                                  </div>
                                </div>
                                <div>
                                  <app-button
                                    [type]="'danger'"
                                    [text]="'Refuser'"
                                    [iconLeft]="'icon-close'"
                                    [isDisabled]="item.submittingRejection || item.submittingValidation"
                                    [isLoading]="item.submittingRejection"
                                    (onClick)="validateOrRefuseAdvanceCost(item, false)"
                                  >
                                  </app-button>&nbsp;&nbsp;
                                  <app-button
                                    [type]="'secondary'"
                                    [text]="'Valider'"
                                    [iconLeft]="'icon-check'"
                                    [isDisabled]="item.submittingRejection || item.submittingValidation"
                                    [isLoading]="item.submittingValidation"
                                    (onClick)="validateOrRefuseAdvanceCost(item, true)"
                                  >
                                  </app-button>
                                </div>
                              </ng-template>
                            </ng-container>
                          </ng-container>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-template>
  </div>


</div>

<ng-template #emptyState>
  <app-centred-message [message]="( 'Impossible de récupérer les données pour le moment' )"
                       [image]="'images/empty_state_search.svg'"
  ></app-centred-message>
</ng-template>

<ng-template #emptyStateList>
  <app-centred-message [message]="( 'Aucun élément trouvé pour le moment' )"
                       [image]="'images/empty_state_search.svg'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'Impossible de récupérer les données pour le moment'"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
