<div class="top-container list">


  <div class="main-container filter-container">
      <div class="sub-header">
        <h3 class="main-title">
          List des relevés
        </h3>
      </div>

    <div class="filtres row">
      <div class="flex-column col-12 col-sm-4 ">
        <label>Mois</label>
        <div class="d-flex justify-content-between row">
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.start_date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.start_date = null"
                   *ngIf="filter.start_date"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date ici"
                     [(ngModel)]="filter.end_date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.end_date = null"
                   *ngIf="filter.end_date"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-column  col-12 col-sm-4 ">
        <label>Statut de la demande</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="statues"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.statues"
                     [placeholder]="'Filtrer par appartenance'"
                     (open)="getFilterList('statues', listService?.list?.STATUS, listService?.list?.ABSENCE_REQUEST)"
                     [loading]="loadingSelect[listService?.list?.STATUS]"
          ></ng-select>
        </div>
      </div>

      <div class="flex-column  col-12 col-sm-4 ">
        <label>Type d'absence</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="types"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.types"
                     [placeholder]="'Filtrer par type d\'absence'"
                     (open)="getFilterList('types', listService?.list?.ABSENCE_REQUEST)"
                     [loading]="loadingSelect[listService?.list?.ABSENCE_REQUEST]"
          ></ng-select>
        </div>
      </div>
    </div>

    <div class="filtres row ">
      <div class="flex-column  col-12 col-sm-4  ">
        <label>Siège/Hors siège</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="false"
                     [items]="sieges"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.in_out_office"
                     [placeholder]="'Sélectionner si c\'est siège/hors siège'"></ng-select>
        </div>
      </div>
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Business line
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="business_lines"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.business_lines"
                     [placeholder]="'Filtrer par business lines'"></ng-select>
        </div>
      </div>
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Direction OP
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="direction_ops"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.direction_ops"
                     [placeholder]="'Filtrer direction op'"></ng-select>
        </div>
      </div>
    </div>
    <div class="filtres row ">
      <div class=" flex-column  col-12 col-sm-4  ">
        <label>
          Business unit
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="business_units"
                     [disabled]="true"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.business_units"
                     [placeholder]="'Filtrer par business units'"></ng-select>
        </div>
      </div>
      <div class="flex-column col-12 col-sm-4  ">
        <label>
          Département
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
        </label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="departments"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.departments"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     [disabled]="true"
                     [placeholder]="'Filtrer par département'" ></ng-select>
        </div>

      </div>
      <div class="flex-column  col-12 col-sm-4">
        <label>Centre de profit</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="center_profits"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.cps"
                     (open)="getFilterList('center_profits', listService?.list?.PROFIT_CENTER)"
                     [loading]="loadingSelect[listService?.list?.PROFIT_CENTER]"
                     [placeholder]="'Filtrer par centre de profit'" ></ng-select>
        </div>
        <div class="check-box-btn small-input">
          <input type="checkbox"
                 id="with_inactive_cp"
                 [checked]="filter.with_inactive_cp"
                 [(ngModel)]="filter.with_inactive_cp"
                 (change)="filterChanged()"
                 name="with_inactive_cp" >
          <label for="with_inactive_cp" >Avec centres de profits inactifs</label>
        </div>
      </div>
    </div>

    <div class="filtres row ">
      <div class="flex-column col-12 col-sm-4 ">
        <label>Utilisateur</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="personals"
                     [bindLabel]="'full_name'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.personals"
                     (open)="getFilterList('personals', listService?.list?.PERSONAL)"
                     [loading]="loadingSelect[listService?.list?.PERSONAL]"
                     [placeholder]="'Sélectionner l\'utilisateur'"></ng-select>
        </div>
        <div class="small-input">
          <label>Choisir un salarié permet d'avoir accès à ses soldes d'absences</label>
        </div>
      </div>
    </div>


    <div class="submit-block">
      <app-button
        [type]="'primary'"
        [text]="'Rechercher'"
        [isLoading]="submittingDetailedExport"
        (onClick)="detailedExport()"
        [iconLeft]="'icon-search'"
      >
      </app-button>
    </div>
  </div>

  <div class="main-container">
    <div class="sub-header">
      <h3 class="main-title">Exports</h3>
    </div>
    <div class="submit-block">
      <app-button
        [type]="'primary'"
        [text]="'Export simple'"
        [isLoading]="submittingPrint"
        (onClick)="print()"
        [iconLeft]="'icon-pdf'"
      >
      </app-button>&nbsp;&nbsp;
      <app-button
        [type]="'primary'"
        [text]="'Soldes d\'absences'"
        [isLoading]="submittingExport"
        (onClick)="export()"
        [iconLeft]="'icon-excel'"
      >
      </app-button>
    </div>
  </div>

  <div class="main-container">
    <div class="sub-header">
      <h3 class="main-title">Synthèse</h3>
    </div>
    <div class="info">
      <p>Cumuls des absences contenues dans la période allant de Aout 2022 à Novembre 2022</p>
    </div>
    <div class="cards-stats row" >
      <div class="card col" *ngFor="let card of summaryAbsenceRequests">
        <div class="title">
          {{card.name}}
        </div>
        <div class="state-value">{{card?.total }}</div>
      </div>
    </div>
  </div>

  <ng-template #emptyState>
    <app-centred-message
      [image]="'images/user_empty_state.svg'"
      [message]="( 'Aucun élément trouvé pour le moment' | translate )"
    ></app-centred-message>
  </ng-template>

  <ng-template #loadingTemplate>
    <div style="min-height: 290px;">
      <img src="assets/images/loading_activities.svg" style="width: 100%;" />
    </div>
  </ng-template>

</div>
