<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div>
    <h1 class="main-title">Entrée</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
        [isLoading]="submitting"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="container p-0" novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
          </h5>
          <div class="row form-box">
            <div class="main-container col-12 form-column">
              <div class="form-bloc">
                <div class="row">
                    <div class="col">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.verification_ts_prefacture}}"
                               [formControl]="formGroup.controls[formInputs.verification_ts_prefacture]"
                        >
                        <label for="{{formLabels.verification_ts_prefacture}}"
                               data-content="{{formLabels.verification_ts_prefacture}}">
                          <span class="name">{{formLabels.verification_ts_prefacture}}</span>
                          <div class="link">Ajouter un commentaire</div>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.identity_card}}"
                               [formControl]="formGroup.controls[formInputs.identity_card]"
                        >
                        <label for="{{formLabels.identity_card}}"
                             data-content="{{formLabels.identity_card}}">
                        <span class="name">{{formLabels.identity_card}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.info_mail}}"
                               [formControl]="formGroup.controls[formInputs.info_mail]"
                        >
                        <label for="{{formLabels.info_mail}}"
                             data-content="{{formLabels.info_mail}}">
                          <span class="name">{{formLabels.info_mail}}</span>
                          <div class="link">Ajouter un commentaire</div>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.bilan_integration}}"
                               [formControl]="formGroup.controls[formInputs.bilan_integration]"
                        >
                        <label for="{{formLabels.bilan_integration}}"
                             data-content="{{formLabels.bilan_integration}}">
                          <span class="name">{{formLabels.bilan_integration}}</span>
                          <div class="link">Ajouter un commentaire</div>
                        </label>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.demande_autorisation_travail}}"
                             [formControl]="formGroup.controls[formInputs.demande_autorisation_travail]"
                      >
                      <label for="{{formLabels.demande_autorisation_travail}}"
                           data-content="{{formLabels.demande_autorisation_travail}}">
                        <span class="name">{{formLabels.demande_autorisation_travail}}</span>
                        <div class="link">Ajouter un commentaire</div>
                    </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.attestation_CPAM}}"
                             [formControl]="formGroup.controls[formInputs.attestation_CPAM]"
                      >
                      <label for="{{formLabels.attestation_CPAM}}"
                           data-content="{{formLabels.attestation_CPAM}}">
                        <span class="name">{{formLabels.attestation_CPAM}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.mail_embauche}}"
                             [formControl]="formGroup.controls[formInputs.mail_embauche]"
                      >
                      <label for="{{formLabels.mail_embauche}}"
                           data-content="{{formLabels.mail_embauche}}">
                        <span class="name">{{formLabels.mail_embauche}}</span>
                        <div class="link">Ajouter un commentaire</div>
                    </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.journee_integration_remise_kit}}"
                             [formControl]="formGroup.controls[formInputs.journee_integration_remise_kit]"
                      >
                      <label for="{{formLabels.journee_integration_remise_kit}}"
                           data-content="{{formLabels.journee_integration_remise_kit}}">
                        <span class="name">{{formLabels.journee_integration_remise_kit}}</span>
                        <div class="link">Ajouter un commentaire</div>
                    </label>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.contrat_signe}}"
                             [formControl]="formGroup.controls[formInputs.contrat_signe]"
                      >
                      <label for="{{formLabels.contrat_signe}}"
                             data-content="{{formLabels.contrat_signe}}">
                        <span class="name">{{formLabels.contrat_signe}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.rib}}"
                             [formControl]="formGroup.controls[formInputs.rib]"
                      >
                      <label for="{{formLabels.rib}}"
                             data-content="{{formLabels.rib}}">
                        <span class="name">{{formLabels.rib}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.envoi_code_sirh}}"
                             [formControl]="formGroup.controls[formInputs.envoi_code_sirh]"
                      >
                      <label for="{{formLabels.envoi_code_sirh}}"
                           data-content="{{formLabels.envoi_code_sirh}}">
                        <span class="name">{{formLabels.envoi_code_sirh}}</span>
                        <div class="link">Ajouter un commentaire</div>
                    </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.bouteille_champagne}}"
                             [formControl]="formGroup.controls[formInputs.bouteille_champagne]"
                      >
                      <label for="{{formLabels.bouteille_champagne}}"
                             data-content="{{formLabels.bouteille_champagne}}">
                        <span class="name">{{formLabels.bouteille_champagne}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.dpae}}"
                             [formControl]="formGroup.controls[formInputs.dpae]"
                      >
                      <label for="{{formLabels.dpae}}"
                             data-content="{{formLabels.dpae}}">
                        <span class="name">{{formLabels.dpae}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.relance_mail_doc}}"
                             [formControl]="formGroup.controls[formInputs.relance_mail_doc]"
                      >
                      <label for="{{formLabels.relance_mail_doc}}"
                             data-content="{{formLabels.relance_mail_doc}}">
                        <span class="name">{{formLabels.relance_mail_doc}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col ">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.saisi_adp}}"
                             [formControl]="formGroup.controls[formInputs.saisi_adp]"
                      >
                      <label for="{{formLabels.saisi_adp}}"
                           data-content="{{formLabels.saisi_adp}}">
                        <span class="name">{{formLabels.saisi_adp}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col check-box-btn"></div>
                </div>
                <div class="row">
                  <div class="col ">
                    <div class="check-box-btn">
                      <input type="checkbox"
                                                       id="{{formLabels.apicil_doc}}"
                                                       [formControl]="formGroup.controls[formInputs.apicil_doc]"
                    >
                      <label for="{{formLabels.apicil_doc}}"
                             data-content="{{formLabels.apicil_doc}}">
                        <span class="name">{{formLabels.apicil_doc}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col ">
                    <div class="check-box-btn">
                      <input type="checkbox"
                                                      id="{{formLabels.inscription_ast}}"
                                                      [formControl]="formGroup.controls[formInputs.inscription_ast]"
                    >
                      <label for="{{formLabels.inscription_ast}}"
                             data-content="{{formLabels.inscription_ast}}">
                        <span class="name">{{formLabels.inscription_ast}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.maj_tableau_primes}}"
                             [formControl]="formGroup.controls[formInputs.maj_tableau_primes]"
                      >
                      <label for="{{formLabels.maj_tableau_primes}}"
                             data-content="{{formLabels.maj_tableau_primes}}">
                        <span class="name">{{formLabels.maj_tableau_primes}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col check-box-btn"></div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.apicil_affiliation}}"
                             [formControl]="formGroup.controls[formInputs.apicil_affiliation]"
                      >
                      <label for="{{formLabels.apicil_affiliation}}"
                             data-content="{{formLabels.apicil_affiliation}}">
                        <span class="name">{{formLabels.apicil_affiliation}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.creation_sirh}}"
                             [formControl]="formGroup.controls[formInputs.creation_sirh]"
                      >
                      <label for="{{formLabels.creation_sirh}}"
                             data-content="{{formLabels.creation_sirh}}">
                        <span class="name">{{formLabels.creation_sirh}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="check-box-btn">
                      <input type="checkbox"
                             id="{{formLabels.modif_matricule_sirh}}"
                             [formControl]="formGroup.controls[formInputs.modif_matricule_sirh]"
                      >
                      <label for="{{formLabels.modif_matricule_sirh}}"
                             data-content="{{formLabels.modif_matricule_sirh}}">
                        <span class="name">{{formLabels.modif_matricule_sirh}}</span>
                        <div class="link">Ajouter un commentaire</div>
                      </label>
                    </div>
                  </div>
                  <div class="col check-box-btn"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>




<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
