<div class="container top-container">
  <div class="header centered">
    <!-- <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div> -->
    <h1 class="main-title">Entrée</h1>
    <!-- <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
        [isLoading]="submitting"
      ></app-button>
    </div> -->
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <form  autocomplete="off" class="container p-0" novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
          </h5>
          <div class="row form-box">
            <div class="main-container col-12 form-column">
              <div class="form-bloc">
                <div class="row">
                    <div class="col-3"  style="display: flex;align-items: flex-start;" *ngFor="let histo of entrance?.histos; "
                    [matTooltip]="histo?.user ? ('Validé par ' +histo?.user?.prenom + ' ' + histo?.user?.nom + ' le '+ (histo?.done_at | dateMessage) + (histo.comment? ' Note: '+ histo.comment:'')):''">
                    <label for="{{formLabels.verification_ts_prefacture}}bak" class="label-action"
                            data-content="{{formLabels.verification_ts_prefacture}}">
                      <span class="name">
                        <span [innerHtml]="histo.action.label"></span>
                      </span>
                      <div class="comment" *ngIf="histo.comment">{{histo.comment}}</div>
                      <div class="link" (click)="_addComment(histo)" *ngIf="!histo.comment && !histo.adding_comment"  [ngClass]="{'forbidden': histo.user_id != userId}">Ajouter une note</div>
                        <ng-container *ngIf="histo.adding_comment;">
                          <div class="d-flex align-items-center">
                            <input type="text"
                                   class="form-control input"
                                   name="comment"
                                   (keyup.enter)="addComment(histo)"
                                   (keyup.esc)="histo.adding_comment = false;histo.comment=null;"
                                   [placeholder]="'Saisir un commentaire'"
                                   [(ngModel)]="histo._comment"
                            />
                            <div class="text-center d-flex text-nowrap">
                              &nbsp;&nbsp;<i class="icon-check primary-icon pointer" (click)="addComment(histo)"></i>
                              &nbsp;&nbsp;<i class="icon-close danger-icon pointer" (click)="histo.adding_comment = false;histo.comment=null;"></i>
                            </div>
                          </div>
                        </ng-container>
                    </label>
                      <br>
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.verification_ts_prefacture}}"
                               [checked]="histo.checked"
                               name="check_{{histo.action.slug}}"
                               [(ngModel)]="histo.checked"
                               [ngClass]="{'disabled': histo.done_at}"
                               (change)="markActionAsDone(histo) "
                               [disabled]="histo.done_at"
                        >

                      </div>
                    </div>

                  <div class="col check-box-btn"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>




<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
