<input type="file" style="display: none" id="uploadAvatar"
       #inputFile
       accept="image/jpeg"
       multiple (change)="filechanged($event); inputFile.value=''"/>

<ng-container *ngIf="!errorLoadData; else dataNotFound">
  <ng-container *ngIf="loadingData; else loadedData">
    <div class="loading">
      <img src="assets/images/loader.gif" />
    </div>
  </ng-container>
  <ng-template #loadedData>
    <div class="container-fluid top-container">
      <!--    <div class="goback col-12"-->
      <!--         (click)="goback()"-->
      <!--          style="margin-bottom: 10px">-->
      <!--        <i class="fa fa-arrow-left"></i> &nbsp;{{'GO BACK' | translate}}-->
      <!--    </div>-->
      <form (submit)="submit()" *ngIf="userFormGroup" [formGroup]="userFormGroup" autocomplete="off" class="container"
            novalidate>
        <div class="row form-box">
          <div class="main-container head-info" [ngClass]="{'justify-content-center': !user}">
            <div>
              <div class="avatar">
                <div class="photo" *ngIf="user; else noUser">
                  <img
                    [attr.src]="user?.photo_profil ? ('document/'+user.photo_profil_id+'/file' |
                      getPhotoFromBackend: ('assets/images/'+(userFormGroup.value.civilite === 'Mme' ? 'woman.png': 'man.png')) |
                      async) : ('assets/images/'+(userFormGroup.value.civilite === 'Mme' ? 'woman.png': 'man.png'))"
                       class="loggedUserStyle_photo"/>
                </div>
                <ng-template #noUser>
                  <div class="photo">
                    <img
                      [attr.src]="photoBase64?.length>0 ? photoBase64 : ('assets/images/'+(userFormGroup.value.civilite === 'Mme' ? 'woman.png': 'man.png'))"
                      class="loggedUserStyle_photo"/>
                  </div>
                </ng-template>
                <!--              <img [src]="'assets/images/'+(userFormGroup.value.civilite === 'F' ? 'woman.png': 'man.png')" />-->
                <label class="overlay" for="uploadAvatar" [ngClass]="{'show-overlay': submittingPhoto || !this.user}">
                  <ng-container *ngIf="submittingPhoto; else loadedPhoto">
                    Chargement..
                  </ng-container>
                  <ng-template #loadedPhoto>
                    <div class="upload-action">
                      <i class="fa fa-camera"></i>
                      <span>Charger une photo de profil</span>
                    </div>
                  </ng-template>
                </label>
                <div class="actions" *ngIf="(user?.photo_profil && !submittingPhoto) || photoBase64?.length>0">
                  <app-button
                    [type]="'danger'"
                    [text]="'Supprimer la photo de profil'"
                    [iconLeft]="'fa fa-trash'"
                    [customStyle]="{'font-size': '11px', 'padding': '4px 10px', 'min-height': 'unset'}"
                    (onClick)="onSubmitProfilePicture({}); photoBase64 = null"
                  ></app-button>
                </div>
              </div>
            </div>
            <div class="info">
              <h1>{{userFormGroup.value.nom}}</h1>
              <div class="info-item">{{userFormGroup.value.email}}</div>
              <div class="info-item" *ngIf="this.userFormGroup?.value?.date_entree">Ancienneté: {{getAnciente()}}</div>
            </div>
          </div>
        </div>
        <div class="row form-box">
          <div class="main-container col form-column">
            <h5>Informations personnelles</h5>
            <div class="form-bloc">
              <div class="row">
                <label class="col-2">Civilité {{isRequired(formInputs.civility)}}</label>
                <div class="col">
                  <div class="btn-group civilite" role="group" ngbRadioGroup name="radioBasic"
                       [formControl]="userFormGroup.controls[formInputs.civility]">
                    <label ngbButtonLabel class="btn">
                      <input ngbButton type="radio" class="btn-check" [value]="'M'"> Homme
                    </label>
                    <label ngbButtonLabel class="btn">
                      <input ngbButton type="radio" class="btn-check" [value]="'Mme'"> Femme
                    </label>
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.civility].hasError('required')
                    && userFormGroup.controls[formInputs.civility].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La civilité est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Nom {{isRequired(formInputs.last_name)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le nom ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.last_name]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.last_name].hasError('required')   && userFormGroup.controls[formInputs.last_name].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.last_name].hasError('required')
                    && userFormGroup.controls[formInputs.last_name].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le nom est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Prénom {{isRequired(formInputs.first_name)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le prénom ici"
                         [formControl]="userFormGroup.controls[formInputs.first_name]"
                         class="form-control input"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.first_name].hasError('required')
                                  && userFormGroup.controls[formInputs.first_name].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.first_name].hasError('required')
                    && userFormGroup.controls[formInputs.first_name].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le prénom est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Email {{isRequired(formInputs.email_personal)}}</label>
                <div class="col">
                  <textarea
                         rows="3"
                         placeholder="Saisir l'adresse email ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.email_personal]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.email_personal].hasError('required')
                                  && userFormGroup.controls[formInputs.email_personal].dirty}"
                  ></textarea>
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.email_personal].hasError('required')
                    && userFormGroup.controls[formInputs.email_personal].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    L'adresse email est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Numéro {{isRequired(formInputs.tel_personal)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le numéro de téléphone ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.tel_personal]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.tel_personal].hasError('required')
                                  && userFormGroup.controls[formInputs.tel_personal].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.tel_personal].hasError('required')
                    && userFormGroup.controls[formInputs.tel_personal].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le numéro de téléphone  est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Adresse {{isRequired(formInputs.address)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir l'adresse ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.address]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.address].hasError('required')
                                  && userFormGroup.controls[formInputs.address].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.address].hasError('required')
                    && userFormGroup.controls[formInputs.address].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    L'adresse est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Ville {{isRequired(formInputs.city)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le code postal ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.city]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.city].hasError('required')
                                  && userFormGroup.controls[formInputs.city].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.city].hasError('required')
                    && userFormGroup.controls[formInputs.city].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La ville est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Code postal {{isRequired(formInputs.code_postal)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le code postal ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.code_postal]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.code_postal].hasError('required')
                                  && userFormGroup.controls[formInputs.code_postal].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.code_postal].hasError('required')
                    && userFormGroup.controls[formInputs.code_postal].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le code postal est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Date de naissance {{isRequired(formInputs.birthday)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir la date de naissance ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.birthday]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.birthday].hasError('required')
                                  && userFormGroup.controls[formInputs.birthday].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.birthday].hasError('required')
                    && userFormGroup.controls[formInputs.birthday].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La date de naissance est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Lieu de naissance {{isRequired(formInputs.birth_place)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le lieu de naissance ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.birth_place]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.birth_place].hasError('required')
                                  && userFormGroup.controls[formInputs.birth_place].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.birth_place].hasError('required')
                    && userFormGroup.controls[formInputs.birth_place].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le Lieu de naissance est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Nationalité {{isRequired(formInputs.nationality)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir la nationalité ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.nationality]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.nationality].hasError('required')
                                  && userFormGroup.controls[formInputs.nationality].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.nationality].hasError('required')
                    && userFormGroup.controls[formInputs.nationality].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le nationalité est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Numéro de sécurité sociale {{isRequired(formInputs.number_security_social)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le numéro de sécurité sociale ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.number_security_social]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.number_security_social].hasError('required')
                                  && userFormGroup.controls[formInputs.number_security_social].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.number_security_social].hasError('required')
                    && userFormGroup.controls[formInputs.number_security_social].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le numéro de sécurité social est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Situation familiale {{isRequired(formInputs.family_situation_id)}}</label>
                <div class="col">
                  <ng-select
                    [items]="situationsfamilles"
                    [bindLabel]="'libelle'"
                    [bindValue]="'id'"
                    class="form-control select"
                    placeholder="Sélectionner la situation familiale ici"
                    [formControl]="userFormGroup.controls[formInputs.family_situation_id]"
                    [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.family_situation_id].hasError('required')
                                  && userFormGroup.controls[formInputs.family_situation_id].dirty}"
                    [multiple]="false"
                  >
                  </ng-select>
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.family_situation_id].hasError('required')
                  && userFormGroup.controls[formInputs.family_situation_id].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La situation familiale social est obligatoire
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-container col form-column">
            <h5>Informations liées à Piman</h5>
            <div style="margin-bottom: 20px;" class="form-bloc">
              <div class="row">
                <label class="col-2">Matricule {{isRequired(formInputs.matricule)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le matricule ici"
                         class="form-control input"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.matricule].hasError('required')
                                  && userFormGroup.controls[formInputs.matricule].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.matricule]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.matricule].hasError('required')
                  && userFormGroup.controls[formInputs.matricule].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le matricule est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Date d'entrée {{isRequired(formInputs.start_date)}}</label>
                <div class="col">
<!--                  <input type="text"-->
<!--                         placeholder="Saisir la date d'entée ici"-->
<!--                         class="form-control input"-->
<!--                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.date_entree].hasError('required')-->
<!--                                  && userFormGroup.controls[formInputs.date_entree].dirty}"-->
<!--                         [formControl]="userFormGroup.controls[formInputs.date_entree]"-->
<!--                  />-->
                  <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                  <input [owlDateTime]="owl_dt1"
                         class="form-control input date"
                         [owlDateTimeTrigger]="owl_dt1"
                         placeholder="Choisir la date d'entée ici"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.start_date].hasError('required')
                                  && userFormGroup.controls[formInputs.start_date].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.start_date]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.start_date].hasError('required')
                  && userFormGroup.controls[formInputs.start_date].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La date d'entée est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Date de sortie {{isRequired(formInputs.end_date)}}</label>
                <div class="col">
                  <owl-date-time #owl_dt2 [pickerType]="'calendar'"></owl-date-time>
                  <input [owlDateTime]="owl_dt2"
                         class="form-control input date"
                         [owlDateTimeTrigger]="owl_dt2"
                         placeholder="Choisir la date de sortie ici"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.end_date].hasError('required')
                                  && userFormGroup.controls[formInputs.end_date].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.end_date]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.end_date].hasError('required')
                  && userFormGroup.controls[formInputs.end_date].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La date de sortie est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Portable professionnel {{isRequired(formInputs.telephone)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le numéro de portable professionnel ici"
                         class="form-control input"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.telephone].hasError('required')
                                  && userFormGroup.controls[formInputs.telephone].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.telephone]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.telephone].hasError('required')
                  && userFormGroup.controls[formInputs.telephone].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le numéro de portable professionnel est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Email professionnel {{isRequired(formInputs.email_professional)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir l'email professionnel ici"
                         class="form-control input"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.email_professional].hasError('required')
                                  && userFormGroup.controls[formInputs.email_professional].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.email_professional]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.email_professional].hasError('required')
                  && userFormGroup.controls[formInputs.email_professional].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    L'email professionnel est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Fonction {{isRequired(formInputs.function_id)}}</label>
                <div class="col">
                  <ng-select
                    [items]="fonctionsPersonnels"
                    [bindLabel]="'libelle'"
                    [bindValue]="'id'"
                    class="form-control select"
                    placeholder="Sélectionnez la fonction ici"
                    [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.function_id].hasError('required')
                                  && userFormGroup.controls[formInputs.function_id].dirty}"
                    [formControl]="userFormGroup.controls[formInputs.function_id]"
                    [multiple]="false"
                  >
                  </ng-select>
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.function_id].hasError('required')
                  && userFormGroup.controls[formInputs.function_id].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    La fonction est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Statut {{isRequired(formInputs.status_id)}}</label>
                <div class="col">
                  <ng-select
                    [items]="status"
                    [bindLabel]="'libelle'"
                    [bindValue]="'id'"
                    class="form-control select"
                    placeholder="Sélectionner le statut ici"
                    [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.status_id].hasError('required')
                                  && userFormGroup.controls[formInputs.status_id].dirty}"
                    [formControl]="userFormGroup.controls[formInputs.status_id]"
                    [multiple]="false"
                  >
                  </ng-select>
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.status_id].hasError('required')
                  && userFormGroup.controls[formInputs.status_id].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le statut est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Contrat {{isRequired(formInputs.categorie_id)}}</label>
                <div class="col">
                  <ng-select
                    [items]="categoriesFonctions"
                    [bindLabel]="'libelle'"
                    [bindValue]="'id'"
                    class="form-control select"
                    placeholder="Sélectionner le contrat ici"
                    [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.categorie_id].hasError('required')
                                  && userFormGroup.controls[formInputs.categorie_id].dirty}"
                    [formControl]="userFormGroup.controls[formInputs.categorie_id]"
                    [multiple]="false"
                  >
                  </ng-select>
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.categorie_id].hasError('required')
                  && userFormGroup.controls[formInputs.categorie_id].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le contrat est obligatoire
                  </div>
                </div>
              </div>
            </div>
            <hr/>
            <div class="form-bloc">
              <div class="row">
                <label class="col-2">Centre de profit {{isRequired(formInputs.cp_id)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le matricule ici"
                         class="form-control input"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.cp_id].hasError('required')
                                  && userFormGroup.controls[formInputs.cp_id].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.cp_id]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.cp_id].hasError('required')
                  && userFormGroup.controls[formInputs.cp_id].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le centre de profit est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Manager {{isRequired(formInputs.manager_id)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le matricule ici"
                         class="form-control input"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.manager_id].hasError('required')
                                  && userFormGroup.controls[formInputs.manager_id].dirty}"
                         [formControl]="userFormGroup.controls[formInputs.manager_id]"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.manager_id].hasError('required')
                  && userFormGroup.controls[formInputs.manager_id].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le manager est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Utilisateur virtuel {{isRequired(formInputs.is_virtual)}}</label>
                <div class="col">
                  <div class="btn-group boolean-button" role="group" aria-label="Radio Buttons with Bootstrap 5">
                    <input type="radio" [formControl]="userFormGroup.controls[formInputs.is_virtual]"
                           [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.is_virtual].hasError('required')
                                  && userFormGroup.controls[formInputs.is_virtual].dirty}"
                           [value]="false" class="btn-check" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Non</label>

                    <input type="radio" [formControl]="userFormGroup.controls[formInputs.is_virtual]"
                           [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.is_virtual].hasError('required')
                                  && userFormGroup.controls[formInputs.is_virtual].dirty}"
                           [value]="true" class="btn-check" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Oui</label>
                  </div>

                </div>
              </div>
            </div>
            <h5>A contacter en cas d’urgence</h5>
            <div class="form-bloc sub-form-bloc">
              <h6>1er contact</h6>
              <div class="row">
                <label class="col-2">Nom {{isRequired(formInputs.urgency_name_1)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le nom du contact d'urgence ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.urgency_name_1]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.urgency_name_1].hasError('required')
                                  && userFormGroup.controls[formInputs.urgency_name_1].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.urgency_name_1].hasError('required')
                  && userFormGroup.controls[formInputs.urgency_name_1].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le nom du contact d'urgence est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">lien {{isRequired(formInputs.family_link_1)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le lien familiale du contact d'urgence ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.family_link_1]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.family_link_1].hasError('required')
                                  && userFormGroup.controls[formInputs.family_link_1].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.family_link_1].hasError('required')
                  && userFormGroup.controls[formInputs.family_link_1].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le lien familiale du contact d'urgence est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Numéro {{isRequired(formInputs.urgency_telephone_1)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le numéro de téléphone du contact d'urgence ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.urgency_telephone_1]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.urgency_telephone_1].hasError('required')
                                  && userFormGroup.controls[formInputs.urgency_telephone_1].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.urgency_telephone_1].hasError('required')
                  && userFormGroup.controls[formInputs.urgency_telephone_1].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le numéro de téléphone du contact d'urgence est obligatoire
                  </div>
                </div>
              </div>
            </div>
            <div class="form-bloc sub-form-bloc" style="margin-top: 15px">
              <h6>2ème contact</h6>
              <div class="row">
                <label class="col-2">Nom {{isRequired(formInputs.urgency_name_2)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le nom du 2ème contact d'urgence ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.urgency_name_2]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.urgency_name_2].hasError('required')
                                  && userFormGroup.controls[formInputs.urgency_name_2].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.urgency_name_2].hasError('required')
                  && userFormGroup.controls[formInputs.urgency_name_2].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le nom du 2ème contact d'urgence est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">lien {{isRequired(formInputs.family_link_2)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le lien familiale du 2ème contact d'urgence ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.family_link_2]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.family_link_2].hasError('required')
                                  && userFormGroup.controls[formInputs.family_link_2].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.family_link_2].hasError('required')
                  && userFormGroup.controls[formInputs.family_link_2].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le lien familiale du 2ème contact d'urgence est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-2">Numéro {{isRequired(formInputs.urgency_telephone_2)}}</label>
                <div class="col">
                  <input type="text"
                         placeholder="Saisir le numéro de téléphone du 2ème contact d'urgence ici"
                         class="form-control input"
                         [formControl]="userFormGroup.controls[formInputs.urgency_telephone_2]"
                         [ngClass]="{'is-invalid error-input': userFormGroup.controls[formInputs.urgency_telephone_2].hasError('required')
                                  && userFormGroup.controls[formInputs.urgency_telephone_2].dirty}"
                  />
                  <div class="form-control-feedback"
                       *ngIf="userFormGroup.controls[formInputs.urgency_telephone_2].hasError('required')
                  && userFormGroup.controls[formInputs.urgency_telephone_2].dirty">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Le numéro de téléphone du 2ème contact d'urgence est obligatoire
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-block">
          <app-button [text]="'Annuler'"
                      [type]="'tertiary'"
                      [isDisabled]="submitting"
                      (onClick)="cancelEditting()"
                      [customStyle]="{'min-height': '30px', 'margin-right': '15px'}">
          </app-button>
          <app-button [text]="'Enregistrer les modifications'"
                      [isDisabled]="isDisabled()"
                      [type]="'secondary'"
                      (onClick)="onSubmit()"
                      [customStyle]="{'min-height': '30px'}">
          </app-button>
        </div>
      </form>


    </div>
  </ng-template>
</ng-container>


<ng-template #emptyState>
  <app-centred-message [message]="( 'NO STUDENT FOUND FOR THE MOMENT' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
