<input type="file" style="display: none" id="uploadMoreFiles"
       #uploadMoreFiles
       multiple (change)="uploadFile($event); uploadMoreFiles.value = ''"/>

<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div>
    <h1 class="main-title">Sortie</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
        [isLoading]="submitting"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <!--    <div class="goback col-12"-->
        <!--         (click)="goback()"-->
        <!--          style="margin-bottom: 10px">-->
        <!--        <i class="fa fa-arrow-left"></i> &nbsp;{{'GO BACK' | translate}}-->
        <!--    </div>-->
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="container p-0"
              novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
            <!--          <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
          </h5>
          <div class="form-box">
            <div class="main-container form-column">
                <div class="form-bloc">
                  <div class="row">
                    <div class="col">
                      <label class="col-12">{{formLabels.date_entree}} {{isRequired(formInputs.date_entree)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt1"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt1"
                                 placeholder="Choisir la date d'entrée vm ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_entree].hasError('required')
                                  && formGroup.controls[formInputs.date_entree].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_entree]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_entree)"
                               *ngIf="formGroup.controls[formInputs.date_entree].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_entree].hasError('required')
                    && formGroup.controls[formInputs.date_entree].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date d'entrée est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-12">{{formLabels.date_sortie}} {{isRequired(formInputs.date_sortie)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt2"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt2"
                                 placeholder="Choisir la date sortie vm ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_sortie].hasError('required')
                                  && formGroup.controls[formInputs.date_sortie].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_sortie]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_sortie)"
                               *ngIf="formGroup.controls[formInputs.date_sortie].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_sortie].hasError('required')
                    && formGroup.controls[formInputs.date_sortie].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date de la dernière vm est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.date_reception_courrier}} {{isRequired(formInputs.date_reception_courrier)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt3 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt3"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt3"
                                 placeholder="Choisir la date de la reception du courrier ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_reception_courrier].hasError('required')
                                  && formGroup.controls[formInputs.date_reception_courrier].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_reception_courrier]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_reception_courrier)"
                               *ngIf="formGroup.controls[formInputs.date_reception_courrier].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_reception_courrier].hasError('required')
                    && formGroup.controls[formInputs.date_reception_courrier].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date de reception du courrier est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.date_limit_reponse}} {{isRequired(formInputs.date_limit_reponse)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt4 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt4"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt4"
                                 placeholder="Choisir la date limite de réponse ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_limit_reponse].hasError('required')
                                  && formGroup.controls[formInputs.date_limit_reponse].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_limit_reponse]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_limit_reponse)"
                               *ngIf="formGroup.controls[formInputs.date_limit_reponse].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_limit_reponse].hasError('required')
                    && formGroup.controls[formInputs.date_limit_reponse].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date limite de réponse est obligatoire
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.mail_direction_bm}}"
                               [formControl]="formGroup.controls[formInputs.mail_direction_bm]"
                        >
                        <label for="{{formLabels.mail_direction_bm}}"
                               data-content="{{formLabels.mail_direction_bm}}">
                          <span class="name">{{formLabels.mail_direction_bm}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.mail_admin}}"
                               [formControl]="formGroup.controls[formInputs.mail_admin]"
                        >
                        <label for="{{formLabels.mail_admin}}"
                               data-content="{{formLabels.mail_admin}}">
                          <span class="name">{{formLabels.mail_admin}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.courrier_reponse}}"
                               [formControl]="formGroup.controls[formInputs.courrier_reponse]"
                        >
                        <label for="{{formLabels.courrier_reponse}}"
                               data-content="{{formLabels.courrier_reponse}}">
                          <span class="name">{{formLabels.courrier_reponse}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.radiation_ats}}"
                               [formControl]="formGroup.controls[formInputs.radiation_ats]"
                        >
                        <label for="{{formLabels.radiation_ats}}"
                               data-content="{{formLabels.radiation_ats}}">
                          <span class="name">{{formLabels.radiation_ats}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.date_envoi_stc}}"
                               [formControl]="formGroup.controls[formInputs.date_envoi_stc]"
                        >
                        <label for="{{formLabels.date_envoi_stc}}"
                               data-content="{{formLabels.date_envoi_stc}}">
                          <span class="name">{{formLabels.date_envoi_stc}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.envoi_recommande_number}}"
                               [formControl]="formGroup.controls[formInputs.envoi_recommande_number]"
                        >
                        <label for="{{formLabels.envoi_recommande_number}}"
                               data-content="{{formLabels.envoi_recommande_number}}">
                          <span class="name">{{formLabels.envoi_recommande_number}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.sortie_sirh}}"
                               [formControl]="formGroup.controls[formInputs.sortie_sirh]"
                        >
                        <label for="{{formLabels.sortie_sirh}}"
                               data-content="{{formLabels.sortie_sirh}}">
                          <span class="name">{{formLabels.sortie_sirh}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 col-12">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.radiation_apicil}}"
                               [formControl]="formGroup.controls[formInputs.radiation_apicil]"
                        >
                        <label for="{{formLabels.radiation_apicil}}"
                               data-content="{{formLabels.radiation_apicil}}">
                          <span class="name">{{formLabels.radiation_apicil}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 col-3">
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.virement_amandine}}"
                               [formControl]="formGroup.controls[formInputs.virement_amandine]"
                        >
                        <label for="{{formLabels.virement_amandine}}"
                               data-content="{{formLabels.virement_amandine}}">
                          <span class="name">{{formLabels.virement_amandine}}</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-1">
                      Pièces jointes
                    </div>
                    <div class="col">
                      <div class="row files-viewer">
                        <label class="col-12  text-center" for="uploadMoreFiles">
                          <i class="icon-attachment"></i>
                          &nbsp;Ajouter une pièce jointe
                        </label>
                        <div class="row justify-content-center" *ngIf="files?.length>0; else noFileEmptyState">
                          <div class="file" *ngFor="let item of files" title="{{item.name}}" (click)="download(item)">
                            <div class="close-icon" (click)="removeFile(item)">
                              <i class="icon-close"></i>
                            </div>
                            <div class="icon">
                              <i class="{{getIcon(item.name)}}"></i>
                            </div>
                            <div class="">
                              <div class="name">{{getFileName(item.name)}}</div>
                              <div class="size">{{getFileSize(item.size)}}</div>
                            </div>
                          </div>
                        </div>
                        <ng-template #noFileEmptyState>
                          <div class="col-12 emptyStateFiles">
                            Aucune pièce jointe
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>


                </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
