<div class="top-container">
  <div class="main-container top-main-container">
    <div class="header pointer"   >
      <div>
        Informations pour la saisie du relevé d'activité
      </div>
    </div>
    <div class="info" >
      <p>
        En cas d'absence exceptionnelle ( maladie, congé exceptionnel, congé maternité, paternité et parental),
        nous vous invitons à prendre en contact avec <span class="link">contact@piman-consultants.fr</span>
      </p>

      <p class="danger-text">
        En cas de maladie, veuillez prévenir <span class="link">contact@piman-consultants.fr</span>
        de votre absence dans les 24h et envoyer votre arrét maladie sous 48h.
      </p>
    </div>
  </div>

  <div class="tabs ">
    <div class="tab selected-tab">
      Soldes d'absences issus de la paye
    </div>
    <div class="tab ">
      Absences "non prises en compte" dans les soldes
    </div>
  </div>
  <div class="wrap">
    <table class="table">
      <thead>
        <tr>
          <th colspan="100%" class="gray-category ">
            Solde des absences issus de la fiche de paye de Juillet 2022
          </th>
        </tr>
        <tr>
          <th colspan="2">
            Congés payés à solder avant fin Mai 2024
          </th>
          <th colspan="2">
            Congés payés à solder avant fin Mai 2023
          </th>
          <th colspan="2">
            Congés à solder avant fin Mai 2023
          </th>
          <th colspan="2">
            RTT à solder avant fin décembre 2022
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CP1 acquis</td>
          <td>CP1 restant</td>
          <td>CP2 acquis</td>
          <td>CP2 restant</td>
          <td>CP ancienneté acquis</td>
          <td>CP ancienneté acquis</td>
          <td>RTT acquis</td>
          <td>RTT restant</td>
        </tr>
        <tr>
          <td>4.16</td>
          <td>4.16</td>
          <td>25.00</td>
          <td>25.00</td>
          <td>2.00</td>
          <td>2.00</td>
          <td>6.44</td>
          <td>6.44</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="info" >
    <p class="danger-text">
      <u>Attention :</u> Les informations ci-dessus sont données à titre indicatif. Les informations inscrites sur votre fiche de paye restent la reference.
    </p>
    <p>
      Les absences sont intégrées avec un mois de décalage dans la paye.
    </p>
    <p>
      Les soldes d'absences issus de la paye ne prennent donc pas en compte les absences du mois en cours.
    </p>

  </div>
  <div class="main-container">
    <div class="filter-container">
      <div class="filtres row ">
        <div class="flex-column  col-12 col-sm-3">
          <label>Type d'absence</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="false"
                       [items]="types"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       [placeholder]="'Sélectionner le salarié'"></ng-select>
          </div>
        </div>
        <div class="flex-column  col-12 col-sm-3">
          <label>Date de début</label>
          <div>
            <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
            <input [owlDateTime]="owl_dt1"
                   class="form-control input date"
                   [owlDateTimeTrigger]="owl_dt1"
                   placeholder="Choisir la date ici"
            />
          </div>
        </div>
        <div class="flex-column  col-12 col-sm-3">
          <label>Date de fin</label>
          <div>
            <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
            <input [owlDateTime]="owl_dt2"
                   class="form-control input date"
                   [owlDateTimeTrigger]="owl_dt2"
                   placeholder="Choisir la date ici"
            />
          </div>
        </div>
        <div class="flex-column  col-12 col-sm-3">
          <label>Durée</label>
          <div>
            <input type="number"
                   class="form-control input"
                   placeholder="Saisir la durée ici"
            />
          </div>
        </div>
      </div>
      <div class="filtres row ">
        <div class="flex-column  col-12 ">
          <label>Justification</label>
          <div>
         <textarea
           rows="5"
           [placeholder]="'Saisir la justificcation'"
           class="form-control input"
         ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-block" >
      <app-button
        [type]="'secondary'"
        [text]="'Diffuser'"
        [isLoading]="submittingDiffuse"
        [textLoading]="'Diffusion en cours..'"
        [isDisabled]="submittingDiffuse"
        (onClick)="diffuse()"
        [iconLeft]="'icon-check'"
        [customStyle]="{'min-width': '130px'}"
      >
      </app-button>
    </div>
  </div>
</div>
