<div class="top-container">
  <div class="main-container top-main-container">
    <div class="sub-header pointer"   >
      <h3 class="main-title">
        Informations pour la saisie du relevé d'activité
      </h3>
    </div>
    <div class="info" >
      <p>
        En cas d'absence exceptionnelle ( maladie, congé exceptionnel, congé maternité, paternité et parental),
        nous vous invitons à prendre en contact avec <span class="link">contact@piman-consultants.fr</span>
      </p>

      <p class="danger-text">
        En cas de maladie, veuillez prévenir <span class="link">contact@piman-consultants.fr</span>
        de votre absence dans les 24h et envoyer votre arrét maladie sous 48h.
      </p>
    </div>
  </div>

  <div class="tabs ">
    <div class="tab selected-tab">
      Soldes d'absences issus de la paye
    </div>
    <div class="tab ">
      Absences "non prises en compte" dans les soldes
    </div>
  </div>
  <div class="main-container">
    <div class="wrap">
      <table class="table">
        <thead>
        <tr>
          <th colspan="100%" class="gray-category ">
            Solde des absences issus de la fiche de paye de Juillet 2022
          </th>
        </tr>
        <tr>
          <th colspan="2">
            Congés payés à solder avant fin Mai 2024
          </th>
          <th colspan="2">
            Congés payés à solder avant fin Mai 2023
          </th>
          <th colspan="2">
            Congés à solder avant fin Mai 2023
          </th>
          <th colspan="2">
            RTT à solder avant fin décembre 2022
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>CP1 acquis</td>
          <td>CP1 restant</td>
          <td>CP2 acquis</td>
          <td>CP2 restant</td>
          <td>CP ancienneté acquis</td>
          <td>CP ancienneté acquis</td>
          <td>RTT acquis</td>
          <td>RTT restant</td>
        </tr>
        <tr>
          <td>4.16</td>
          <td>4.16</td>
          <td>25.00</td>
          <td>25.00</td>
          <td>2.00</td>
          <td>2.00</td>
          <td>6.44</td>
          <td>6.44</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="info" >
      <p class="danger-text">
        <u>Attention :</u> Les informations ci-dessus sont données à titre indicatif. Les informations inscrites sur votre fiche de paye restent la reference.
      </p>
      <p>
        Les absences sont intégrées avec un mois de décalage dans la paye.
      </p>
      <p>
        Les soldes d'absences issus de la paye ne prennent donc pas en compte les absences du mois en cours.
      </p>

    </div>
  </div>

    <div class="filter-container main-container">
      <div class="sub-header">
        Création d'une demande d'absence
      </div>
      <form [formGroup]="myForm" *ngIf="myForm">
        <div class="filtres row ">
          <div class="flex-column  col-12 col-sm-3">
            <label>Type d'absence {{isRequired(formInputs.type_absence)}}</label>
            <div>
              <ng-select class="select form-control"
                         [multiple]="false"
                         [items]="types"
                         [bindLabel]="'label'"
                         [bindValue]="'id'"
                         [placeholder]="'Sélectionner le salarié'"
                         [formControl]="myForm.controls[formInputs.type_absence]"
              ></ng-select>
            </div>
          </div>
          <div class="flex-column  col-12 col-sm-3">
            <label>Date de début {{isRequired(formInputs.starts_at)}}</label>
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date ici"
                     [formControl]="myForm.controls[formInputs.starts_at]"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="clearDateInput(formInputs.starts_at)"
                   *ngIf="myForm.controls[formInputs.starts_at].value"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
            <div class="btn-group radio"
                 ngbRadioGroup name="radioBasic"
                 [formControl]="myForm.controls[formInputs.starts_at_am_pm]"
            >
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'am'" id="starts_at_am">&nbsp;
                <span class="radio-label" for="starts_at_am">Matin</span>
              </label>
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'pm'" id="starts_at_pm">&nbsp;
                <span class="radio-label" for="starts_at_pm">Après-midi</span>
              </label>
            </div>
          </div>
          <div class="flex-column  col-12 col-sm-3">
            <label>Date de fin {{isRequired(formInputs.ends_at)}}</label>
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date ici"
                     [formControl]="myForm.controls[formInputs.ends_at]"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="clearDateInput(formInputs.ends_at)"
                   *ngIf="myForm.controls[formInputs.ends_at].value"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
            <div class="btn-group radio"
                 [formControl]="myForm.controls[formInputs.ends_at_am_pm]"
                 ngbRadioGroup name="radioBasic">
              <label ngbButtonLabel>
                <input ngbButton type="radio" class="radio-button" [value]="'am'" id="ends_at_am">&nbsp;
                <span class="radio-label" for="ends_at_am">Matin</span>
              </label>
              <label ngbButtonLabel >
                <input ngbButton type="radio" class="radio-button" [value]="'pm'" id="ends_at_pm">&nbsp;
                <span class="radio-label" for="ends_at_am">Après-midi</span>
              </label>
            </div>
          </div>
          <div class="flex-column  col-12 col-sm-3">
            <label>Durée {{isRequired(formInputs.duration)}}</label>
            <div>
              <input type="number"
                     class="form-control input"
                     placeholder="Saisir la durée ici"
                     [formControl]="myForm.controls[formInputs.duration]"
              />
            </div>
          </div>
        </div>

        <div class="filtres row ">
          <div class="flex-column  col-12 ">
            <label>Justification {{isRequired(formInputs.justification)}}</label>
            <div>
         <textarea
           rows="5"
           [placeholder]="'Saisir la justificcation'"
           class="form-control input"
         ></textarea>
            </div>
          </div>
        </div>

        <div class="submit-block" >
          <app-button
            [type]="'secondary'"
            [text]="'Diffuser'"
            [isLoading]="submittingDiffuse"
            [textLoading]="'Diffusion en cours..'"
            [isDisabled]="submittingDiffuse"
            (onClick)="diffuse()"
            [iconLeft]="'icon-check'"
            [customStyle]="{'min-width': '130px'}"
          >
          </app-button>
        </div>
      </form>

    </div>

</div>
