<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/projets']"
      ></app-button>
    </div>
    <h1 class="main-title">Pointage</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="main-container white-box">
        <p class="paragraph">
          Dans cet onglet, vous spécifiez les différents types de pointage qui seront disponibles au consultant lors de la saisie de son relevé d'activité.
        </p>
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off"  novalidate>
          <div class="wrap">
          <div class="table-wrapper">
            <table class="table-responsive w-100">
              <thead>
                <tr>
                  <th>
                    Type *
                  </th>
                  <th>
                    Unité *
                  </th>
                  <th>
                    Tarif *
                  </th>
                  <th>
                    Date début
                  </th>
                  <th>
                    Date fin
                  </th>
                  <th>
                    Informations à destination du consultant <i class="icon-info primary-icon"></i>
                  </th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
<!--              <tr *ngFor="let item of formGroup.controls[formInputs.pointings]['controls']; let i = index">-->
<!--                <td>-->
<!--                  <ng-select-->
<!--                    [items]="types"-->
<!--                    [clearable]="false"-->
<!--                    [searchable]="false"-->
<!--                    bindLabel="label"-->
<!--                    bindValue="value"-->
<!--                    class="select form-control"-->
<!--                    placeholder="Séléctionner l'unité"-->
<!--                    [loading]="loadingSelect[listService.list.TYPE_OF_COST]"-->
<!--                    (open)="getFilterList('types', listService.list.TYPE_OF_COST)"-->
<!--                    [formControl]="item.controls[formInputs.pointing_type_id]"-->
<!--                    [ngClass]="{'is-invalid error-input': item.controls[formInputs.pointing_type_id].hasError('required')-->
<!--                                  && item.controls[formInputs.pointing_type_id].dirty}"-->
<!--                  >-->
<!--                  </ng-select>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <ng-select-->
<!--                    [items]="units"-->
<!--                    [clearable]="false"-->
<!--                    [searchable]="false"-->
<!--                    bindLabel="label"-->
<!--                    bindValue="value"-->
<!--                    class="select form-control"-->
<!--                    placeholder="Séléctionner l'unité"-->
<!--                    [formControl]="item.controls[formInputs.pointing_unity_id]"-->
<!--                    [ngClass]="{'is-invalid error-input': item.controls[formInputs.pointing_unity_id].hasError('required')-->
<!--                                  && item.controls[formInputs.pointing_unity_id].dirty}"-->
<!--                  >-->
<!--                  </ng-select>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="number"-->
<!--                         class="form-control input"-->
<!--                         placeholder="Saisir le tarif"-->
<!--                         [formControl]="item.controls[formInputs.pointing_tariff]"-->
<!--                         [ngClass]="{'is-invalid error-input': item.controls[formInputs.pointing_tariff].hasError('required')-->
<!--                                  && item.controls[formInputs.pointing_tariff].dirty}"-->
<!--                  />-->
<!--                </td>-->
<!--                <td>-->
<!--                  &lt;!&ndash;                    {{ item.controls[formInputs.start_date].value | dateMessage:'DD MM yyyy'}}&ndash;&gt;-->
<!--                </td>-->
<!--                <td>-->
<!--                  &lt;!&ndash;                    {{item.controls[formInputs.end_date].value | dateMessage:'DD MMM yyyy'}}&ndash;&gt;-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input type="text"-->
<!--                         class="form-control input"-->
<!--                         placeholder="Saisir ici"-->
<!--                         [formControl]="item.controls[formInputs.information_for_consultant]"-->
<!--                         [ngClass]="{'is-invalid error-input': item.controls[formInputs.information_for_consultant].hasError('required')-->
<!--                                  && item.controls[formInputs.information_for_consultant].dirty}"-->
<!--                  />-->
<!--                </td>-->
<!--                <td>-->
<!--                  <div class="actions">-->
<!--                    <i class="icon-info-cercle"-->
<!--                       data-toggle="tooltip"-->
<!--                       data-placement="top"-->
<!--                       title="Modifier"></i>-->
<!--                  </div>-->
<!--                </td>-->
<!--              </tr>-->
                <tr>
                  <td>
                    Travail normal
<!--                    <ng-select-->
<!--                      [items]="types"-->
<!--                      [clearable]="false"-->
<!--                      [searchable]="false"-->
<!--                      bindLabel="label"-->
<!--                      bindValue="id"-->
<!--                      class="select form-control"-->
<!--                      placeholder="Séléctionner le type"-->
<!--                      [loading]="loadingSelect[listService.list.TYPE_ACTIVITY]"-->
<!--                      (open)="getFilterList('types', listService.list.TYPE_ACTIVITY)"-->
<!--                      [formControl]="formGroup.controls[formInputs.pointing_type_id]"-->
<!--                      [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.pointing_type_id].hasError('required')-->
<!--                                  && formGroup.controls[formInputs.pointing_type_id].dirty}"-->
<!--                    >-->
<!--                    </ng-select>-->
                  </td>
                  <td>
                    <ng-select
                      [items]="units"
                      [clearable]="false"
                      [searchable]="false"
                      bindLabel="label"
                      bindValue="id"
                      class="select form-control"
                      placeholder="Séléctionner l'unité"
                      [loading]="loadingSelect[listService.list.TEMPS_UNIT]"
                      (open)="getFilterList('units', listService.list.TEMPS_UNIT)"
                      (change)="inputChanged()"
                      [formControl]="formGroup.controls[formInputs.pointing_unity_id]"
                      [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.pointing_unity_id].hasError('required')
                                  && formGroup.controls[formInputs.pointing_unity_id].dirty}"
                    >
                    </ng-select>
                  </td>
                  <td>
                    <input type="number"
                           class="form-control input"
                           placeholder="Saisir le tarif"
                           (change)="inputChanged()"
                           [formControl]="formGroup.controls[formInputs.pointing_tariff]"
                           [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.pointing_tariff].hasError('required')
                                  && formGroup.controls[formInputs.pointing_tariff].dirty}"
                    />
                  </td>
                  <td>
                    {{ formGroup.controls[formInputs.start_date]?.value | dateMessage:'DD MMM yyyy'}}
                  </td>
                  <td>
                    {{formGroup.controls[formInputs.end_date]?.value | dateMessage:'DD MMM yyyy'}}
                  </td>
                  <td>
                    <input type="text"
                           class="form-control input"
                           placeholder="Saisir ici"
                           (change)="inputChanged()"
                           [formControl]="formGroup.controls[formInputs.information_for_consultant]"
                           [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.information_for_consultant].hasError('required')
                                  && formGroup.controls[formInputs.information_for_consultant].dirty}"
                    />
                  </td>
                  <td>
                    <div class="actions">
                      <i class="icon-info-cercle"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="info"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
