<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
      ></app-button>
    </div>
    <h1 class="main-title">Pointage</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="main-container white-box">
        <p class="paragraph">
          Dans cet onglet, vous spécifiez les différents types de pointage qui seront disponibles au consultant lors de la saisie de son relevé d'activité.
        </p>
        <div class="wrap">
          <div class="table-wrapper">
            <table class="table-responsive w-100">
              <thead>
                <tr>
                  <th>
                    Type *
                  </th>
                  <th>
                    Unité *
                  </th>
                  <th>
                    Tarif *
                  </th>
                  <th>
                    Date début
                  </th>
                  <th>
                    Date fin
                  </th>
                  <th>
                    Informations à destination du consultant <i class="icon-info primary-icon"></i>
                  </th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{newItem.type}}
                  </td>
                  <td>
                    <ng-select
                      [items]="units"
                      [clearable]="false"
                      [searchable]="false"
                      bindLabel="label"
                      bindValue="value"
                      class="select form-control"
                      placeholder="Séléctionner l'unité"
                      [(ngModel)]="newItem.unit">
                    </ng-select>
                  </td>
                  <td>
                    <input type="number"
                           [(ngModel)]="newItem.tariff"
                           class="form-control input"
                           placeholder="Saisir le tarif" />
                  </td>
                  <td>
                    {{newItem.start_date | dateMessage:'DD MM yyyy'}}
                  </td>
                  <td>
                    {{newItem.end_date | dateMessage:'DD MMM yyyy'}}
                  </td>
                  <td>
                    <input type="text"
                           [(ngModel)]="newItem.info"
                           class="form-control input"
                           placeholder="Saisir ici" />
                  </td>
                  <td>
                    <div class="actions">
                      <i class="icon-info-cercle"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Modifier"></i>
                    </div>
                  </td>
                </tr>
                <tr *ngFor="let item of pointages"  >
                  <td>
                    {{item.type}}
                  </td>
                  <td>
                    <ng-select
                      [items]="units"
                      [clearable]="false"
                      [searchable]="false"
                      bindLabel="label"
                      bindValue="value"
                      class="select form-control"
                      placeholder="Séléctionner l'unité"
                      [(ngModel)]="item.unit">
                    </ng-select>
                  </td>
                  <td>
                    <input type="number"
                           [(ngModel)]="item.tariff"
                           class="form-control input"
                           placeholder="Saisir le tarif" />
                  </td>
                  <td>
                    {{item.start_date | dateMessage:'DD MM yyyy'}}
                  </td>
                  <td>
                    {{item.end_date | dateMessage:'DD MMM yyyy'}}
                  </td>
                  <td>
                    <input type="text"
                           [(ngModel)]="item.info"
                           class="form-control input"
                           placeholder="Saisir ici" />
                  </td>
                  <td>
                    <div class="actions">
                      <i class="icon-info-cercle"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Modifier"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
