<div class="nav-content">
  <ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.type === 'link'">
      <a
         *ngxPermissionsOnly="item.onlyFor"
         [@slideInOut]
         [routerLink]="item.link"
         (click)="itemClicked()"
         [routerLinkActive]="'activeTopMenu'"
         class="top-item list-group-item align-items-center">
        <div class="label">
          <div class="icon-container">
            <i [class]="item.icon"></i>&nbsp;
          </div>
          <span>{{ item.name | translate}}</span>
        </div>
      </a>
    </ng-container>

    <ng-container *ngIf="item.type === 'sub'">
      <a
        [routerLinkActive]="'activeTopMenu'"
        *ngxPermissionsOnly="item.onlyFor"
        [routerLink]="item.link"
        (click)="toggleExpand(item)"
        class="top-item list-group-item align-items-center">
        <div class="label">
          <div class="icon-container">
            <i [class]="item.icon"></i>&nbsp;
          </div>
          <span>{{ item.name | translate}}</span>
        </div>
        <i [ngClass]="{'icon-arrow-down': !hideSubMenuCondition(item), 'icon-arrow-right': hideSubMenuCondition(item)}"></i>
      </a>
      <div class="submenu"
           [ngClass]="{'hide_sub_menu': hideSubMenuCondition(item)}"
           [@slideInOut]
      >
        <div *ngFor="let subItem_1 of item.subMenu" >
          <ng-container *ngIf="subItem_1.type === 'link'">
            <a
              [routerLinkActive]="'activeMenu'"
              *ngxPermissionsOnly="subItem_1.onlyFor"
              (click)="itemClicked()"
              [routerLink]="[goToSubMenu1(item, subItem_1)]"
              class="submenu-item-1 list-group-item align-items-center">
              <div class="label">
                <i [class]="subItem_1.icon"></i>&nbsp;
                <span>{{ subItem_1.name | translate}}</span>
              </div>
<!--              <i [ngClass]="{'icon-bottom-arrow': subItem_1.opened, 'icon-right-arrow': !subItem_1.opened}"></i>-->
            </a>
          </ng-container>


          <ng-container *ngIf="subItem_1.type === 'sub'">
            <a
              [routerLinkActive]="'activeMenu'"
              *ngxPermissionsOnly="subItem_1.onlyFor"
              (click)="itemClicked()"
              [routerLink]="[goToSubMenu1(item, subItem_1)]"
              class="submenu-item-1 list-group-item align-items-center">
              <div class="label">
                <i [class]="subItem_1.icon"></i>&nbsp;
                <span>{{ subItem_1.name | translate}}</span>
              </div>
<!--              <i [ngClass]="{'icon-bottom-arrow': subItem_1.opened, 'icon-right-arrow': !subItem_1.opened}"></i>-->
            </a>
            <div class="submenu2"
                 [@slideInOut]
            >
              <!--                  [routerLink]="item.link+'/'+mainStore.getSelectedSchool?.id+subItem_1.link+'/'+mainStore.getSelectedTeacher?.id+subItem_2.link"-->

              <div *ngFor="let subItem_2 of subItem_1.subMenu" >
                <a
                  [routerLinkActive]="'activeMenu'"
                  *ngxPermissionsOnly="subItem_2.onlyFor"
                  (click)="itemClicked()"
                  [routerLink]="[goToSubMenu2(item, subItem_1, subItem_2)]"
                  class="submenu-item-2 list-group-item align-items-center">
                  <div class="label">
                    <div class="icon-container">
                      <i [class]="subItem_2.icon"></i>&nbsp;
                    </div>
                    <span>{{ subItem_2.name | translate}}</span>
                  </div>
<!--                  <i [ngClass]="{'icon-bottom-arrow': subItem_2.opened, 'icon-right-arrow': !subItem_2.opened}"></i>-->
                </a>
              </div>
            </div>
          </ng-container>


        </div>
      </div>
    </ng-container>

    <ng-container  *ngIf="item.type === 'empty'">
      <div class="list-group-item align-items-center">&nbsp;</div>
    </ng-container>
  </ng-container>
</div>

