@import '~assets/styles/partials/vars';
@import '~assets/styles/partials/mixins';
@import "~app/styles/custom.variables";

:host {
    .disclaimer-container{
        // background-color: #555;
        background-color: $color-primary;
        color: #fff;
        // font-family: 'Open Sans', sans-serif;
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;
        display: block;
        .container {
          .disclaimer-text {
            padding: 16px 8px;
            p {
              font-size: 1.1rem;
              line-height: 27px;
              margin: 0;
              text-align: center;
              padding: 8px 0;
              span:before, a {
                color: #fff;
              }
            }
          }
          .disclaimer-button {
            // background-color: $color-secondary;
            // color: #fff;
            color:$color-secondary;
            background-color: #fff;
            cursor: pointer;
            display: inline-block;
            padding: 8px 16px;
            &:hover {
              color:$color-secondary;
              background-color: #fff;
            }
          }
        }
    }
  }
