<div class="top-container list">
  <div class="sub-header container-fluid ">
    <h2>
      Délégation
    </h2>
  </div>

  <div class="main-container filter-container">
      <div class="sub-header">
        <h3 class="main-title">
          Filtre de recherche
        </h3>
      </div>

    <div class="filtres row">
      <div class="flex-column col-12 col-sm-4 ">
        <label>Mois</label>
        <div class="d-flex justify-content-between row">
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date de début ici"
                     [(ngModel)]="filter.plage_starts_at"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.plage_starts_at = null"
                   *ngIf="filter.plage_starts_at"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date de fin ici"
                     [(ngModel)]="filter.plage_ends_at"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.plage_ends_at = null"
                   *ngIf="filter.plage_ends_at"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-column col-12 col-sm-4 ">
        <label>Utilisateur</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="true"
                     [items]="personals"
                     [bindLabel]="'full_name'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.personals"
                     (open)="getFilterList('personals', listService.list.PERSONAL)"
                     [loading]="loadingSelect[listService.list.PERSONAL]"
                     [placeholder]="'Tous les utilisateurs'"></ng-select>
        </div>
      </div>

      <div class="flex-column col-12 col-sm-4 ">
        <label>&nbsp;</label>
        <div class="">
        <app-button
          [type]="'primary'"
          [text]="'Rechercher'"
          [isLoading]="submittingDetailedExport"
          (onClick)="detailedExport()"
          [iconLeft]="'icon-search'"
          [customStyle]="{'min-height': '40px'}"
        >
        </app-button>
      </div>
      </div>
    </div>


  </div>

  <div class="main-container">
    <div class="sub-header">
      <h3 class="main-title">Liste des délégations</h3>
      <div class="btns right-btns">
        <app-button
          [text]="'Créer une nouvelle délégation'"
          [type]="'primary'"
          [iconLeft]="'icon-add'"
          (onClick)="goToCreate()"
        ></app-button>
      </div>
    </div>
    <div class="wrap">
      <table class="table table-responsive">
        <thead>
          <tr class="gray-category">
            <th>N°</th>
            <th>Utilisateur valideur titulaire</th>
            <th>Utilisateur valideur remplaçant</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of delegations">
            <td>{{item.id}}</td>
            <td>{{item.titulaire_full_name}}</td>
            <td>{{item.validatur_full_name}}</td>
            <td>{{item.starts_At}}</td>
            <td>{{item.ends_at}}</td>
            <td>
              <ul class="m-0">
                <li *ngFor="let type of item.types">
                   {{type}}
                </li>
              </ul>
            </td>
            <td>
              <div class="actions">
                <i class="icon-edit-bold primary-icon"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Modifier"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <ng-template #emptyState>
    <app-centred-message
      [image]="'images/user_empty_state.svg'"
      [message]="( 'Aucun élément trouvé pour le moment' | translate )"
    ></app-centred-message>
  </ng-template>

  <ng-template #loadingTemplate>
    <div style="min-height: 290px;">
      <img src="assets/images/loading_activities.svg" style="width: 100%;" />
    </div>
  </ng-template>

</div>
