<div class="top-container list">
  <div class="sub-header container-fluid ">
    <h2>
      Délégation
    </h2>
  </div>

  <div class="main-container filter-container">
      <div class="sub-header">
        <h3 class="main-title">
          Filtre de recherche
        </h3>
      </div>

    <div class="filtres row">
      <div class="flex-column col-12 col-sm-4 ">
        <label>Mois</label>
        <div class="d-flex justify-content-between row">
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt1"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt1"
                     placeholder="Choisir la date de début ici"
                     [(ngModel)]="filter.start_date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.start_date = null"
                   *ngIf="filter.start_date"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="date-picker-group">
              <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
              <input [owlDateTime]="owl_dt2"
                     class="form-control input date"
                     [owlDateTimeTrigger]="owl_dt2"
                     placeholder="Choisir la date de fin ici"
                     [(ngModel)]="filter.end_date"
              />
              <div class="icons-container">
                <i class="icon-close"
                   (click)="filter.end_date = null"
                   *ngIf="filter.end_date"></i>&nbsp;
                <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-column col-12 col-sm-4 ">
        <label>Utilisateur</label>
        <div>
          <ng-select class="select form-control"
                     [multiple]="false"
                     [items]="personals"
                     [bindLabel]="'full_name'"
                     [bindValue]="'id'"
                     (change)="filterChanged()"
                     [(ngModel)]="filter.personal_id"
                     (open)="getFilterList('personals', listService.list.PERSONAL)"
                     [loading]="loadingSelect[listService.list.PERSONAL]"
                     [placeholder]="'Tous les utilisateurs'"></ng-select>
        </div>
      </div>

      <div class="flex-column col-12 col-sm-4 ">
        <label>&nbsp;</label>
        <div class="">
        <app-button
          [type]="'primary'"
          [text]="'Rechercher'"
          [isLoading]="submittingDetailedExport"
          (onClick)="detailedExport()"
          [iconLeft]="'icon-search'"
          [customStyle]="{'min-height': '40px'}"
        >
        </app-button>
      </div>
      </div>
    </div>


  </div>

  <div class="main-container">
    <div class="sub-header">
      <h3 class="main-title">Liste des délégations</h3>
      <div class="btns right-btns">
        <app-button
          [text]="'Créer une nouvelle délégation'"
          [type]="'primary'"
          [iconLeft]="'icon-add'"
          (onClick)="goToCreate()"
        ></app-button>
      </div>
    </div>
    <ng-container *ngIf="loading; else loadedData">
      <div class="loading">
        <img src="assets/images/loading_avance_frais_summary.svg" style="width: 100%;height: unset" />
      </div>
    </ng-container>
    <ng-template #loadedData>
        <ng-container *ngIf="delegations?.length>0; else emptyStateList">
          <div class="wrap">
            <table class="table table-responsive">
              <thead>
              <tr class="gray-category">
                <th>N°</th>
                <th>Utilisateur valideur titulaire</th>
                <th>Utilisateur valideur remplaçant</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let item of delegations">
                <td>{{item.id}}</td>
                <td>{{item.holder_validator_name}}</td>
                <td>{{item.delegate_validator_name}}</td>
                <td>{{item.start_date | dateMessage}}</td>
                <td>{{item.start_date | dateMessage}}</td>
                <td>
                  <ul class="m-0">
                    <li *ngFor="let type of item.delegation_types">
                      {{type.label}}
                    </li>
                  </ul>
                </td>
                <td>
                  <div class="actions">
                    <!--                <i class="icon-edit-bold primary-icon"-->
                    <!--                   data-toggle="tooltip"-->
                    <!--                   data-placement="top"-->
                    <!--                   title="Modifier"></i>-->
                    <i class="icon-edit-bold primary-icon pointer d-inline-block"
                       data-toggle="tooltip"
                       data-placement="top"
                       style="font-size: 16px;"
                       [routerLink]="['/activites/delegation/modification/'+item.id]"
                       title="Modifier cette délégation"></i>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </ng-template>
  </div>

</div>


<ng-template #emptyStateList>
  <app-centred-message [message]="( 'Aucun élément trouvé pour le moment' )"
                       [image]="'images/empty_state_search.svg'"
  ></app-centred-message>
</ng-template>
