<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
      ></app-button>
    </div>
    <h1 class="main-title">Frais</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" novalidate>
        <div class="container-fluid top-container p-0">
        <div class="main-container white-box">
          <div class="filter-container">
            <div class="filters col-md-4 col-12">
              <div class="input-group flex-column">
                <label>Choix d'une politique de frais d'une mission précédente:</label>
                <ng-select class="select form-control"
                           [multiple]="false"
                           [items]="politique_frais"
                           [bindLabel]="'label'"
                           [bindValue]="'id'"
                           [placeholder]="'Séléctionner une politique'" ></ng-select>
<!--                [(ngModel)]="filter.frais_politique"-->
              </div>
            </div>
          </div>
          <div class="wrap">
            <div class="table-wrapper">
              <table class="table-responsive w-100" formArrayName="{{formInputs.mission_costs}}">
                <thead>
                <tr>
                  <th></th>
                  <th>
                    Type
                  </th>
                  <th>
                    Fréquence
                  </th>
                  <th>
                    Montant
                  </th>
                  <th>
                    Montant max
                  </th>
                  <th>
                    Refacturable
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of formGroup.controls[formInputs.mission_costs]['controls']; let i = index" >
                    <td>
                      <div class="actions">
                        <i class="icon-parametre primary-icon"></i>
                      </div>
                    </td>
                    <td>
                      <ng-select
                        [items]="types"
                        [clearable]="false"
                        [searchable]="false"
                        bindLabel="label"
                        bindValue="id"
                        class="select form-control"
                        placeholder="Séléctionner le type"
                        [loading]="loadingSelect['types']"
                        (open)="getFilterList('types', listService?.list?.TYPE_OF_COST)"
                        [formControl]="item.controls['cost_type_id']"
                        [ngClass]="{'is-invalid error-input': item.controls['cost_type_id'].hasError('required')
                                  && item.controls['cost_type_id'].dirty}"
                      >
                      </ng-select>
                    </td>
                    <td>
                      <ng-select
                        [items]="frequences"
                        [clearable]="false"
                        [searchable]="false"
                        bindLabel="label"
                        bindValue="id"
                        class="select form-control"
                        placeholder="Séléctionner la fréquence"
                        [loading]="loadingSelect['frequences']"
                        (open)="getFilterList('frequences', listService?.list?.MISSION_COST_FREQUENCY)"
                        [formControl]="item.controls['frequency_id']"
                        [ngClass]="{'is-invalid error-input': item.controls['frequency_id'].hasError('required')
                                  && item.controls['frequency_id'].dirty}"
                      >
                      </ng-select>
                    </td>
                    <td>
                      <input type="number"
                             class="form-control input"
                             placeholder="Montant"
                             [formControl]="item.controls['amount']"
                             [ngClass]="{'is-invalid error-input': item.controls['amount'].hasError('required')
                                  && item.controls['amount'].dirty}"
                      />
                    </td>
                    <td>
                      <input type="number"
                             class="form-control input"
                             placeholder="Montant max"
                             [formControl]="item.controls['amount_max']"
                             [ngClass]="{'is-invalid error-input': item.controls['amount_max'].hasError('required')
                                  && item.controls['amount_max'].dirty}"
                      />
                    </td>
                    <td>
                      <ng-select
                        [items]="refacturables"
                        [clearable]="false"
                        [searchable]="false"
                        bindLabel="label"
                        bindValue="value"
                        class="select form-control"
                        placeholder="Séléctionner si c'est réfacturable"
                        [formControl]="item.controls['amount_max']"
                        [ngClass]="{'is-invalid error-input': item.controls['is_billable'].hasError('required')
                                  && item.controls['is_billable'].dirty}"
                        >
                      </ng-select>
                    </td>
                    <td>
                      <div class="actions">
                        <i class="fa fa-trash danger-icon"
                           data-toggle="tooltip"
                           data-placement="top"
                           (click)="removeItem(i)"
                           title="Modifier"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="paragraph blue-text text-center">
            <app-button [type]="'primary_inverse'"
                        [text]="'Ajouter une ligne de frais'"
                        [iconLeft]="'icon-add'"
                        (onClick)="addNewLine()"
            ></app-button>
          </div>
          <div class="filter-container">
            <div class="filters">
              <div class="input-group flex-column">
                <label>Remarques</label>
                <textarea
                  class="input form-control"
                  placeholder="Saisir une remarque"
                  rows="3"
                  [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.cost_remarks].hasError('required')
                                  && formGroup.controls[formInputs.cost_remarks].dirty}"
                  [formControl]="formGroup.controls[formInputs.cost_remarks]"
                ></textarea>
                <div class="form-control-feedback"
                     *ngIf="formGroup.controls[formInputs.cost_remarks].hasError('required')
                           && formGroup.controls[formInputs.cost_remarks].dirty">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  La remarque est obligatoire
                </div>
              </div>
            </div>
          </div>

          <div class="filter-container">
            <div class="filters col-md-3 col-12">
              <div class="input-group flex-column">
                <label>Distance domicile -> site cleint *</label>
                <input type="number"
                       class="input form-control"
                       placeholder="Saisir la distance"
                       [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.distance_home_customer_site].hasError('required')
                                  && formGroup.controls[formInputs.distance_home_customer_site].dirty}"
                       [formControl]="formGroup.controls[formInputs.distance_home_customer_site]" />
                <div class="form-control-feedback"
                     *ngIf="formGroup.controls[formInputs.distance_home_customer_site].hasError('required')
                           && formGroup.controls[formInputs.distance_home_customer_site].dirty">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  La distance est obligatoire
                </div>
              </div>
            </div>
          </div>

          <div  class="filter-container">
            <div class="row">
              <div class="form-bloc col row" >
                <div class="check-box-btn text-center">
                  <label for="mission_active" class="bold-text" style="min-width: 160px">Exclusion TR</label>
                  <div class="input-container">
                    <input type="checkbox"
                           id="mission_active"
                           [checked]="formGroup.value[formInputs.has_exclusion_tr]"
                           (change)="onCheckChange(formInputs.has_exclusion_tr, $event)"
                           name="mission_active" >
                  </div>
                  <label for="mail_to_manager" class="light-text">
                    Cochez cette si les jours pointés sur cette mission ne donnent pas le droit à l'acquisition d'un Ticket Restaurant.
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-bloc col row" >
                <div class="check-box-btn text-center align-items-start">
                  <label for="mail_to_manager" class="bold-text" style="min-width: 160px">Frais ok</label>
                  <div class="input-container">
                    <input type="checkbox"
                           id="mail_to_manager"
                           [checked]="formGroup.value[formInputs.has_cost_ok]"
                           (change)="onCheckChange(formInputs.has_cost_ok, $event)"
                           name="mail_to_manager" >
                  </div>
                  <label for="mail_to_manager" class="light-text">
                    Cochez cette si les frais de l'ordre de mission ont été saisis.
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
