<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
      ></app-button>
    </div>
    <h1 class="main-title">Frais</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <div class="main-container white-box">
          <div class="filter-container">
            <div class="filters col-md-4 col-12">
              <div class="input-group flex-column">
                <label>Choix d'une politique de frais d'une mission précédente:</label>
                <ng-select class="select form-control"
                           [multiple]="false"
                           [items]="politique_frais"
                           [(ngModel)]="filter.frais_politique"
                           [bindLabel]="'label'"
                           [bindValue]="'id'"
                           [placeholder]="'Séléctionner une politique'" ></ng-select>
              </div>
            </div>
          </div>
          <div class="wrap">
            <div class="table-wrapper">
              <table class="table-responsive w-100">
                <thead>
                <tr>
                  <th></th>
                  <th>
                    Type
                  </th>
                  <th>
                    Fréquence
                  </th>
                  <th>
                    Montant
                  </th>
                  <th>
                    Montant max
                  </th>
                  <th>
                    Refacturable
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of frais"  >
                  <td>
                    <div class="actions">
                      <i class="icon-parametre primary-icon"></i>
                    </div>
                  </td>
                  <td>
                    <ng-select
                      [items]="types"
                      [clearable]="false"
                      [searchable]="false"
                      bindLabel="label"
                      bindValue="id"
                      class="select form-control"
                      placeholder="Séléctionner l'unité"
                      [loading]="loadingSelect['types']"
                      (open)="getFilterList('types', listService?.list?.TYPE_OF_COST)"
                      [(ngModel)]="item.type_id">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select
                      [items]="frequences"
                      [clearable]="false"
                      [searchable]="false"
                      bindLabel="label"
                      bindValue="id"
                      class="select form-control"
                      placeholder="Séléctionner l'unité"
                      [(ngModel)]="item.frequence_id">
                    </ng-select>
                  </td>
                  <td>
                    <input type="number"
                           [(ngModel)]="item.amount"
                           class="form-control input"
                           placeholder="Montant" />
                  </td>
                  <td>
                    <input type="number"
                           [(ngModel)]="item.max_amount"
                           class="form-control input"
                           placeholder="Montant max" />
                  </td>
                  <td>
                    <ng-select
                      [items]="refacturables"
                      [clearable]="false"
                      [searchable]="false"
                      bindLabel="label"
                      bindValue="value"
                      class="select form-control"
                      placeholder="Séléctionner l'unité"
                      [(ngModel)]="item.is_refacturable">
                    </ng-select>
                  </td>
                  <td>
                    <div class="actions">
                      <i class="fa fa-trash danger-icon"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Modifier"></i>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="paragraph blue-text text-center">
            <app-button [type]="'primary_inverse'"
                        [text]="'Ajouter une ligne de frais'"
                        [iconLeft]="'icon-add'"
            ></app-button>
          </div>
          <div class="filter-container">
            <div class="filters">
              <div class="input-group flex-column">
                <label>Remarques</label>
                <textarea
                  class="input form-control"
                  placeholder="Saisir une remarque"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>

          <div  class="filter-container">
            <div class="row">
              <div class="form-bloc col row" >
                <div class="check-box-btn text-center">
                  <label for="mission_active" class="bold-text" style="min-width: 160px">Exclusion TR</label>
                  <div class="input-container">
                    <input type="checkbox"
                           id="mission_active"
                           name="mission_active" >
                  </div>
                  <label for="mail_to_manager" class="light-text">
                    Cochez cette si les jours pointés sur cette mission ne donnent pas le droit à l'acquisition d'un Ticket Restaurant.
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-bloc col row" >
                <div class="check-box-btn text-center align-items-start">
                  <label for="mail_to_manager" class="bold-text" style="min-width: 160px">Frais ok</label>
                  <div class="input-container">
                    <input type="checkbox"
                           id="mail_to_manager"
                           name="mail_to_manager" >
                  </div>
                  <label for="mail_to_manager" class="light-text">
                    Cochez cette si les frais de l'ordre de mission ont été saisis.
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
