<ng-container *ngIf="!errorLoadData; else dataNotFound">
  <ng-container *ngIf="loadingData; else loadedData">
    <div class="loading">
      <img src="assets/images/loader.gif" />
    </div>
  </ng-container>
  <ng-template #loadedData>
    <div class="top-container">
      <div class="sub-header container-fluid ">
        <h2>
          Délégation
        </h2>
      </div>

      <div class="main-container filter-container">
        <div class="sub-header ">
          <h3 class="main-title">
            Création d'une délégation de validation
          </h3>
        </div>

        <div class="filtres row">

          <div class="flex-column col-12 col-sm-3">
            <label>Validateur titulaire{{isRequired(formInputs.end_date)}}</label>
            <div>
              <ng-select class="select form-control"
                         [multiple]="false"
                         [items]="personals"
                         [bindLabel]="'full_name'"
                         [bindValue]="'id'"
                         [formControl]="myForm.controls[formInputs.holder_validator_id]"
                         (open)="getFilterList('personals', listService.list.PERSONAL)"
                         [loading]="loadingSelect[listService.list.PERSONAL]"
                         [placeholder]="'Sélectionner un validateur titulaire'"></ng-select>
            </div>
            <div class="form-control-feedback"
                 *ngIf="myForm.controls[formInputs.holder_validator_id].hasError('required')
                    && myForm.controls[formInputs.holder_validator_id].dirty">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Le validateur titulaire est obligatoire
            </div>
          </div>

          <div class="flex-column col-12 col-sm-3">
            <label>Validateur délégué</label>
            <div>
              <ng-select class="select form-control"
                         [multiple]="false"
                         [items]="personals"
                         [bindLabel]="'full_name'"
                         [bindValue]="'id'"
                         [formControl]="myForm.controls[formInputs.delegate_validator_id]"
                         (open)="getFilterList('personals', listService.list.PERSONAL)"
                         [loading]="loadingSelect[listService.list.PERSONAL]"
                         [placeholder]="'Sélectionner un validateur délégué'"></ng-select>
            </div>
          </div>

          <div class="flex-column col-12 col-sm-3 ">
            <label>Date début délégation</label>
            <div class="col">
              <div class="date-picker-group">
                <owl-date-time #owl_dt1 [pickerType]="'calendar'" ></owl-date-time>
                <input [owlDateTime]="owl_dt1"
                       class="form-control input date"
                       [owlDateTimeTrigger]="owl_dt1"
                       placeholder="Choisir la date ici"
                       [formControl]="myForm.controls[formInputs.start_date]"
                />
                <div class="icons-container">
                  <i class="icon-close"></i>&nbsp;
                  <i [owlDateTimeTrigger]="owl_dt1" class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-column col-12 col-sm-3 ">
            <label>Date fin délégation</label>
            <div class="col">
              <div class="date-picker-group">
                <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                <input [owlDateTime]="owl_dt2"
                       class="form-control input date"
                       [owlDateTimeTrigger]="owl_dt2"
                       placeholder="Choisir la date ici"
                       [formControl]="myForm.controls[formInputs.end_date]"
                />
                <div class="icons-container">
                  <i class="icon-close"></i>&nbsp;
                  <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="sub-header">
          <h3 class="main-title">
            Admin Achat
          </h3>
        </div>

        <form (submit)="submit()"  autocomplete="off" novalidate>
          <div class="form-box">
            <div class="form-column row">
              <ng-container *ngFor="let option of delegations; let _id=index">
                <div
                  class="col-4"
                  [ngClass]="{'col-4': delegations.length>10,
                    'col-12': delegations.length<=5
                   }"
                >
                  <div class="check-box-btn text-center"  *ngIf="option.id" >
                    <div class="input-container">
                      <input type="checkbox"
                             id="{{option.id}}"
                             [value]="option.id"
                             [checked]="ischecked(option.id)"
                             (change)="onCheckChangeArray($event, option)"
                             name="{{option.id}}" >
                    </div>
                    <label for="{{option.id}}" >{{option.label}}</label>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div style="margin-top: 30px;" class="form-column row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center">
                <label for="check_gestion_email" class="bold-text"
                       style="min-width: 160px"
                >Gestion e-mail</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="check_gestion_email"
                         [checked]="myForm.value.has_mail_notification"
                         (change)="onCheckChange(formInputs.has_mail_notification, $event)"
                         name="check_gestion_email" >
                </div>
                <label for="check_gestion_email" class="light-text">
                  Permet d'avertir de valideur délégué par mail lors d'une demande salarié
                </label>
              </div>
            </div>
          </div>
          <div class="form-column row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center">
                <label for="check_has_permanent_delegation" class="bold-text"
                       style="min-width: 160px"
                >Delegation permanante</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="check_has_permanent_delegation"
                         [checked]="myForm.value.has_permanent_delegation"
                         (change)="onCheckChange(formInputs.has_permanent_delegation, $event)"
                         name="check_has_permanent_delegation" >
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="submit-block" >
        <app-button
          [type]="'tertiary'"
          [text]="'Retour'"
          (onClick)="goback()"
          [iconLeft]="'fa fa-arrow-left'"
          [customStyle]="{'min-width': '130px'}"
        >
        </app-button>&nbsp;&nbsp;
        <app-button
          [type]="'secondary'"
          [text]="myForm?.value?.id ? 'Enregistrer les modifications': 'Créer'"
          [isLoading]="submittingCreate"
          [isDisabled]="submittingCreate"
          [textLoading]="'Sauvegarde en cours..'"
          (onClick)="submit()"
          [iconLeft]="'icon-save'"
          [customStyle]="{'min-width': '130px'}"
        >
        </app-button>
        <!--    <app-button-->
        <!--      [type]="'secondary'"-->
        <!--      [text]="'Diffuser'"-->
        <!--      [isLoading]="submittingDiffuse"-->
        <!--      [textLoading]="'Diffusion en cours..'"-->
        <!--      [isDisabled]="submittingDiffuse || submittingCreate"-->
        <!--      (onClick)="diffuse()"-->
        <!--      [iconLeft]="'icon-check'"-->
        <!--      [customStyle]="{'min-width': '130px'}"-->
        <!--    >-->
        <!--    </app-button>-->
      </div>

    </div>
  </ng-template>
</ng-container>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Demande d\'absence introuvable pour le moment' )"
                       [image]="'images/error.svg'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="( 'Impossible de récupérer cette demande d\'absence, veuillez réessayer plus tard' )"
                       [image]="'images/error.svg'">
  </app-centred-message>
</ng-template>
