@import "~app/styles/custom.variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  transition: $hoverTransition;
}

.filter-container{
  background: white;
  border-radius: 5px;
  //border: 1px solid lightgray;
  //width: 100%;
  //display: flex;
  margin: 15px 0;
  padding: 15px 25px;
  .filter-tilte-bloc{
    font-size: 16px;
    margin: 11px 0 15px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .reset-filters{
      font-size: 12px;
      color: $mainColor;
      cursor: pointer;
    }
  }
  .filtres{
    display: flex;
    margin: 15px 0;
    .flex-column{
      padding-left: 0;
    }
    label{
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 5px;
      //opacity: .8;
      color: $mainGray
    }
    .block-check{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .btn-group-toggle{
        input{
          max-width: 80%;
          display: none;
        }
        label{
          margin-bottom: 0;
        }
      }
      @media (max-width: 1024px){
        input{
          max-width: unset;
        }
      }
      .btn-group-toggle{
        border: 1px solid $lightgray;
        border-radius: 10px;
        font-size: 12px;
        .btn-primary{
          background-color: $mainColor;
        }
      }
    }
  }
  .input-group{
    .form-control{
      width: unset !important;
    }
  }
  //ng-select{
  //  ::ng-deep .ng-select-container{
  //    min-height: 35px;
  //  }
  //}
}

.radio{
  //width: 100%;
  .btn{
    //border-radius: 35px;
    min-width: unset;
    //width: 40%;
    font-weight: normal;
    //border: 1px solid var(--unnamed-color-e5e5e5);
    border: 1px solid #E5E5E5;
    //border-radius: 20px;
    span{
      margin: 0;
      font-weight: normal !important;
    }
    input[type='radio']{
      display: none;
    }
    &:hover{
      background-color: $primaryColor;
      color: white !important;
    }
  }
  .active{
    background-color: $primaryColor;
    color: white !important;
  }
}

.check-box-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  //background: #F7F7F7;
  border-radius: 8px;
  width: fit-content;
  //margin: 0 auto;
  padding: 12px 10px;
  input[type="checkbox"] {
    position: relative;
    //width: 1.5em;
    //height: 1.5em;
    //width: 20px;
    //height: 20px;
    padding: 9px 9px;
    color: $fontColor;
    border: 1px solid #D6D5D2;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 5px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      color: white;
      border-color: $tertiaryColor;
      background: $tertiaryColor;
      &::before {
        opacity: 1;
      }
    }
  }

  label {
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding: 0 0.25em 0;
    user-select: none;
    color: $fontColor;
    margin-left: 10px;
    text-align: left;
    //margin-bottom: 5px;
    margin-bottom: 0 !important;
    &::before {
      position: absolute;
      content: attr(data-content);
      color: #D6D5D2;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: $fontColor;
      transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }
}

.photo-cell{
  display: flex;
  align-items: center;
  //width: 20px;
  max-width: unset;
  min-width: unset;
  margin: 0;
  .name{
    white-space: nowrap;
    font-size: 14px;
    line-height: 24px;
    margin-left: 16px;
    font-weight: 400;
    color: #393a3b;
  }
  .photo{
    border: 1px solid $lightgray;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0;
    .img-container{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      border-width: 1px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      img{
        height: 100%;
        width: 100%;
      }
    }
    i{
      position: absolute;
      bottom: -2px;
      right: -4px;
      width: 14px;
      height: 14px;
      background: white;
    }
    i:before{
      color: red;
      font-weight: 800;
    }
  }
}

.date-picker-group{
  position: relative;
  //max-width: 40%;
  //min-width: 280px;
  input{
    //position: absolute;
  }
  .icons-container{
    position: absolute;
    top: 28%;
    right: 12px;
    i{
      color: $lightgray;
      cursor: pointer;
    }
    .fa-calendar:hover{
        color: $primaryColor;
    }
    .icon-close:before{
      font-size: 12px;
    }
  }
}

.top-container{
  padding-bottom: 30px;
  .main-container{
    background: white;
    padding: 15px 25px;
    margin-bottom: 15px;
    .main-title{
      font-size: 1.23em;
      font-weight: 500;
      color: $mainGray;
    }
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .table-wrapper {
      width: 100%;
      margin: 0 auto 0;
      position: relative;
      transition: all .2s ease-out;
      table {
        td{
          border-bottom: 1px solid #dfdfdf57;
          cursor: pointer;
          display: table-cell;
          padding: 10px 24px;
          transition: background .2s ease-out;
          vertical-align: middle;
          font-size: 12px;
          background: white;
          color: $fontColor;
          &:after {
            display: none;
          }

          &:before {
            content: '';
          }
        }
        tr.spaceUnder>td {
          padding-bottom: 1em;
        }
        thead{
          th{
            border: 0;
            font-weight: 500;
            padding: 12px 24px 10px 24px;
            font-size: 12px;
            color: #4D4D4D;
            i {
              margin-right: 5px;
              &:before{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}


.sub-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 10px;
  .main-title{
    font-size: 16px;
    //min-height: 60px;
    //color: $mainGray;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    h3{
      margin: 0;
    }
  }
  @media (min-width: $LARGE_SCREEN) {
    .search{
      //min-width: 250px;
      //width: unset;
    }
  }
}


.input{
  font-size: 12px;
  border: 1px solid $lightgray;
  border-radius: 5px;
  min-height: 40px;
  box-shadow: none;
}

.select{
  //border: 0;
  //width: 50px;
  padding-left: 0;
  font-size: 12px;
  min-width: unset !important;
  //width: fit-content;
  //border-top: 0;
  //border-left: 0;
  //border-right: 0;
  border: 1px solid $lightgray;
  //min-height: 40px;
  ::ng-deep .ng-value-container {
    ::ng-deep  .ng-value {
      white-space: normal !important;
    }
  }
  ::ng-deep .ng-select-container {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none !important;
    //height: 20px;
    height: unset;
    min-height: 27px;
    //min-height: unset;
    overflow: visible;
    //*{
    //  color: $octonaryColor;
    //}
    .ng-arrow{
      //border-color: transparent transparent $primaryColor;
    }
  }
  ::ng-deep .ng-optgroup{
    color: $primaryColor;
    //background: $lightPrimaryColor;
  }
}

.foback-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading{
  width: 100%;
  min-height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img{
    width: 70px;
    height: 70px;
  }
}

.pointer{
  cursor: pointer;
}


p-autoComplete{
  font-size: 12px;
  //border: 1px solid lightgray;
  border-radius: 5px;
  min-height: 40px;
  padding: 0;
  z-index: 5;
  width: 100%;
  ::ng-deep .p-autocomplete{
    width: 100%;
    ::ng-deep input{
      font-size: 12px;
      border: 1px solid $lightgray;
      border-radius: 5px;
      min-height: 40px;
      width: 100%;
    }
  }
}

.tags{
  .tag{
    border: 1px solid #F4F4F4;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    min-width: 40px;
    text-align: center;
    padding: 5px 12px;
    margin: 0 10px 10px 0;
    transition: background .2s ease-in-out;
    cursor: pointer;
    font-size: 12px;
    color: $fontColor;
    white-space: nowrap;
    &:hover{
      background: #F4F4F4;
      border: 1px solid white;
    }
    //i{
    //  display: none;
    //}
  }
  .selectedTag{
    border: 1px solid #3E8FFD;
    background: white;
    color: #3E8FFD;
    font-weight: 500;
    &:hover{
      background: #D7E9FE;
      border: 1px solid #3E8FFD;
      color: #3E8FFD;
      i:before{
        color: white
      }
    }
    i{
      display: inline-block;
      margin-right: 5px;
      &:before{
        color: #0065fe66;
      }
    }
  }
}

.fa-trash:before{
  color: $danger;
}

a, .link{
  text-decoration: underline;
  color: $primaryColor;
  cursor: pointer;
}

.pro-info{
  //background-image: url("~assets/images/grid.png");
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  .photo{
    //height: 140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    .initials {
      font-size: 25px;
      color: $fontColor;
      font-weight: bold;
      display: flex !important;
      align-items: center;
      justify-content: center;
      //height: 100px;
      //width: 100px;
      //background-color: $secondaryColor;
      //border-radius: 50%;
      position: relative;
      width: 100%;
      height: 100%;
      .overlay {
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        font-size: 15px;
        //border-radius: 50%;
        color: white;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        margin: 0;
        padding: 10px 0;
        opacity: 0;
        height: 100%;
        span{
          font-size: 10px;
          text-align: center;
        }
        i:before{
          font-size: 20px;
        }
        &:hover{
          opacity: 1;
          //transform: .4s;
        }
      }
    }
  }
  .logo{
    //background-image: url("~assets/images/grid.png");
    background-repeat: repeat;
  }
  img{
    max-width: 90%;
    height: 100%;
  }
}

.float-right{
  float: right;
}

.pointer{
  cursor: pointer;
}

.search{
  //width: fill-available;
  //width: fit-content;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  width: unset;
  .input-group{
    position: relative;
    input{
      box-shadow: none;
      border-radius: 10px;
    }
    .input-group-append{
      position: absolute;
      right: 10px;
      height: 100%;
      display: flex;
      i{
        display: flex;
        align-items: center;
        opacity: .4;
        &:before{
          font-weight: 300;
        }
      }
    }
  }
  @media (min-width: $TABLET_SCREEN) {
    .input-group{
      min-width: 300px;
    }
  }
  app-button{
    ::ng-deep .icon-filter .icon-close{
      padding-right: 5px;
    }
  }
}

.form-control-feedback{
  font-size: 12px;
  color: $danger;
}

.min-w-unset{
  min-width: unset !important;
}

.primary-icon:before{
  color: $primaryColor !important;
}

.blue-text{
  color: $primaryColor !important;
}

.light-text{
  font-size: 11px;
  font-weight: 300;
}

.green-icon:before{
  color: $tertiaryColor !important;
}

.green-text{
  color: $tertiaryColor !important;
}

.bold-text{
  font-weight: 500;
}

.icon-check:before{
  font-size: 15px;
}

.danger-icon:before{
  color: $danger !important;
}

.danger-text{
  color: $danger !important;
}

.pointer{
  cursor: pointer;
}


// customize date picker design for sirh
::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-content {
  font-size: 12px;
  color: $fontColor;
}


::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  color: rgba(255,255,255,.85);
  background-color: $mainColor;
}

::ng-deep .owl-dt-control-arrow-button svg {
  color: $mainColor;
}

::ng-deep .owl-dt-control .owl-dt-control-content{
  font-size: 13px;
  font-weight: 600;
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: $mainColor;
  background: transparent !important;
}

// date picker

.date-picker-group{
  border: 1px solid $lightgray;
  border-radius: 5px;
  input{
    border: 0 !important;
  }
}

::ng-deep .dp-popup{
  box-shadow: none !important;
  border: 1px solid $lightgray;
}
.date-picker{
  ::ng-deep input{
    border: 0;
    min-height: 38px;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 7px;
  }
}

::ng-deep dp-month-calendar{
  ::ng-deep .dp-calendar-nav-container{
    font-size: 12px;
    color: $mainGray;
    border: 0 !important;
    top: 7px;
    height: 30px;
    margin-bottom: 10px;
    ::ng-deep .dp-nav-header{
      left: 13px !important;
    }
  }
  ::ng-deep .dp-nav-btns-container{
    ::ng-deep button{
      border: 0 !important;
      background: unset !important;
      &:before{
        color: $mainGray;
      }
    }
    ::ng-deep .dp-current-location-btn{
      display: none;
    }
  }
  ::ng-deep .dp-calendar-wrapper{
    box-shadow: none !important;
    border: 0 !important;
    ::ng-deep button {
      background: unset;
      border: unset;
      font-size: 12px;
      color: $mainGray;
      border-radius: 10px;
      &:hover{
        font-weight: 500;
        color: $primaryColor;
      }
    }
    ::ng-deep .dp-calendar-month.dp-selected{
      color: white;
      background: $primaryColor;
    }
  }
}


// uploaded files
.files-viewer{
  display: flex;
  label{
    text-decoration: underline;
    color: $primaryColor;
    cursor: pointer;
    i:before{
      color: $primaryColor;
    }
  }
  .file{
    background: $lighterPrimaryColor;
    padding: 5px 10px;
    border-radius: 5px;
    width: 140px;
    display: flex;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    transition: unset;
    cursor: pointer;
    .close-icon{
      top: -5px;
      right: -5px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      i{
        background: $danger;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
          color: white;
          font-size: 7px;
        }
      }
    }
    .icon{
      padding: 5px;
      padding-right: 12px;
      display: flex;
      align-items: center;
      i{
        &:before{
          color: $primaryColor;
          font-size: 20px;
        }
      }
    }
    .name{
      font-size: 13px;
      font-weight: 400;
      color: $primaryColor;
    }
    .size{
      font-size: 11px;
      color: $lightPrimaryColor;
      opacity: .8;
    }
    &:hover{
      transition: unset;
      .close-icon{
        visibility: visible;
      }
    }
  }
}


.progress-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  ::ng-deep .progress-outer{
    border: 0;
    height: 19px;
    .progress-inner{
      height: 15px;
      min-height: unset;
      font-size: 13px;
    }
  }
}
