<p class="head-title"> Suivi salarié: {{user?.nom || ''}} {{user?.prenom || ''}} - {{user?.registration_number || ''}}</p>

<mat-stepper linear #stepper  (selectionChange)="selectionChange($event)">
  <!-- change default 'edit' icon -->
  <ng-template #stepperIcon>
    <i class="icon-entree"></i>
  </ng-template>
  <mat-step label="Entrée">
     <app-entre-advanced-form
        *ngIf="user"
        (submitEntree)="submitEntree($event)"
        [entrance]="user.last_entrance"
     ></app-entre-advanced-form>
  </mat-step>
  <ng-template #stepperIcon>
    <i class="icon-period-essai"></i>
  </ng-template>
  <mat-step label="Période d'essai">
    <app-period-essai-advanced-form
      *ngIf="user"
      [trial_periods]="user.trial_periods"
      (submitPeriodEssai)="submitPE($event)"
    ></app-period-essai-advanced-form>
  </mat-step>
  <ng-template #stepperIcon>
    <i class="icon-entretien"></i>
  </ng-template>
  <mat-step label="Entretien">
    <app-entretien-advanced-form
      (submitEntretien)="submitEntretien($event)"
      *ngIf="user"
      [interviews]="user.interviews"
      (next)="this.moveForward(3, null)"
      [user]="user"
    ></app-entretien-advanced-form>
  </mat-step>
  <ng-template #stepperIcon>
    <i class="icon-visite-medical"></i>
  </ng-template>
  <mat-step label="Visites médicales">
    <app-visite-medical-advanced-form
      *ngIf="user"
      [medical_visits]="user?.medical_visits"
      (submitvm)="submitVM($event)"
      (next)="this.moveForward(4, null)"
      [user]="user"
    ></app-visite-medical-advanced-form>
  </mat-step>
  <ng-template #stepperIcon>
    <i class="icon-sortie"></i>
  </ng-template>
  <mat-step label="Sortie">
    <app-sortie-advanced-form
    *ngIf="user"
    [sortie]="user.last_sortie"
      (submitSortie)="submitSortie($event)"
    ></app-sortie-advanced-form>
  </mat-step>

  <ng-template matStepperIcon="number" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <ng-template matStepperIcon="error" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
</mat-stepper>

