<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="auth-container">
  <div class="d-flex align-items-center justify-content-center flex-column w-100" style="z-index: 3;">
    <div class="logo mb-4">
      <img src="assets/images/sirh_photos/sirh_logo.png"/>
    </div>
    <form class="auth-form p-4 px-5" (keyup.enter)="onSubmit()" [formGroup]="myForm">
      <div class="bigsubtitle">
        <span>{{'RESET YOUR PASSWORD' | translate}}</span>
      </div>
      <!--            <div class="subtitle">-->
      <!--      &nbsp;-->
      <!--      <span>{{'WELCOME' | translate}}</span>-->
      <!--      {{'ON YOUR MANAGEMENT PLATFORM' | translate}}-->
      <!--                Découvrez les solutions développées par PIMAN Digital Solutions pour ses clients.-->
      <!--            </div>-->
      <!--      <div class="subtitle">-->
      <!--        <span>Se connecter</span>-->
      <!--      </div>-->
      <div class="inputs" formGroupName="passwords">
        <!-- <div class="input-group row">
          <span class="icon-avatar"></span>
          <input type="text"
                 placeholder="Saisir mon adresse mail"
                 [formControl]="myForm.controls['email']"
                 class="form-control text-field" />
          <div class="form-control-feedback"
               *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email').touched">
            L'adresse email est obligatoire
          </div>
        </div> -->
        <!--      <div formGroupName="passwords" class="input-group">-->

        <div class="input-group row" >
          <div class="label">{{'NEW PASSWORD' | translate}}</div>
          <div class="input">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password"
                   placeholder="{{'ENTER YOUR NEW PASSWORD' | translate}}"
                   formControlName="password"
                   class="form-control text-field" />
          </div>
          <div class="form-control-feedback"
               *ngIf="myForm.get('passwords').get('password')?.hasError('required')
                && myForm.get('passwords').get('password').dirty">
            {{'PASSWORD IS REQUIRED' | translate}}
          </div>
        </div>
        <div class="input-group row" >
          <div class="label">{{'PASSWORD CONFIRMATION' | translate}}</div>
          <div class="input">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password"
                   formControlName="confirm_password"
                   placeholder="{{'CONFIRM PASSWORD' | translate}}"
                   class="form-control text-field" />
          </div>
          <div class="form-control-feedback"
               *ngIf="myForm.get('passwords').get('confirm_password')?.hasError('required')
                && myForm.get('passwords').get('confirm_password').dirty">
            {{'PASSWORD CONFIRMATION IS REQUIRED' | translate}}
          </div>
          <div class="form-control-feedback"
               *ngIf="myForm.get('passwords')?.hasError('passwordMismatch') &&
                        myForm.get('passwords').get('confirm_password').dirty">
            {{'PASSWORD CONFIRMATION IS INCORRECT' | translate}}
          </div>
        </div>
        <!--      </div>-->
      </div>
      <!--    !myForm.valid ||-->
      <div class="btn-group row">
        <button class="col-12 mybtn w-100"
                [disabled]="loading"
                mat-button
                (click)="onSubmit()">
          {{'Réinitialiser le mot de passe' | translate}}
        </button>
      </div>
      <div class="link row" [routerLink]="['/auth/signin']">
        {{'BACK TO THE AUTHENTICATION PAGE' | translate}}
      </div>
    </form>
  </div>
</div>

