@import "~app/styles/custom.variables";


.auth-container {
  position: relative;
  background-image: url(../../../assets/images/sirh_photos/bkg.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 7% 3.4%;
  .auth-wrapper {
    width: 541px;
    max-width: 100%;
    height: 650px;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    box-shadow: 0px 32px 64px #00000029;
    border-radius: 20px;
    /* opacity: 1; */
    padding: 40px 59px;
    .logo-container {
      //position: relative;
      .big-hello {
        font-size: 67px;
        font-weight: 600;
        color: $fontColor;
      }
      .sub-header{
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .hello-desc {
        font-size: 28px;
        opacity: .85;
        vertical-align: top;
        line-height: 22px;
        font-weight: 600;
        color: $fontColor;
        white-space: nowrap;
      }
      .sirh-logo {
        max-width: 220px;
        img {
        }
      }
      @media (max-width: 575px) {
        .sirh-logo{
          margin: 0 auto;
          margin-top: 10px;
        }
        .hello-desc, .big-hello {
          text-align: center;
        }
      }
    }

    .form-container {
      margin-top: 40px;
      padding: 0 17px;
    }

  }
  .sirh-text {
    font-size: 19px;
    color: $primaryColor;
    line-height: 23px;
    font-weight: normal;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 0;
    opacity: .85;
  }
}

.sirh-text{
  margin: 0;
  opacity: .85;
  margin-bottom: 15px;
  p{
    margin-bottom: 0;
    line-height: 25px;
  }
}

.sirh-text-title{
  font-size: 14px;
  font-weight: 600;
}

.form-control-feedback{
  color: $danger;
  font-size: 11px;
}
.main-form {
  .form-group {
    padding-left: 10px;
    margin-bottom: 30px;
    &.error {
      .input-group .input-group-prepend .input-group-text {
        color: var(--error-color);
      }
    }
    .input-group .input-group-prepend .input-group-text {
      background-color: transparent;
      border: 0;
      padding: 16px 0;
      line-height: normal;
      font-size: 21px;
    }
    .input-group{
      padding: 0px 8px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 2px solid #E5E5E5;
      border-radius: 6px;
      opacity: 1;
      position: relative;
      min-height: 57px;
      padding-left: 35px;
      i:before{
        opacity: .5;
        font-size: 19px;
      }
      .input-group-prepend{
        position: absolute;
        top: 0;
        left: 9px;
      }
    }
    input {
      border: 0;
      font-size: 15px;
      padding-left: 10px;
      box-shadow: none;
      color: $fontColor;
      &::placeholder {
        color: #dcdcdc;
      }
    }
  }
  .forgot-pwd {
    display: block;
    text-decoration: underline;
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 12px;
    opacity: .8;
  }
  .sign-up {
    display: block;
    margin-top: 10px;
  }
}


.main-btn {
  background: $primaryColor 0% 0% no-repeat padding-box;
  border-radius: 40px;
  border-color: transparent;
  height: 44px;
  min-width: 288px;
  font-size: 15px;
  color: white;
  font-weight: normal;
  margin: auto;
  transition: all 0.5s ease;
  padding: 0;
  &:focus &:active {
    -webkit-box-shadow: 0 -3rem 0 var(--primary-color) inset;
    box-shadow: 0 -3rem 0 var(--primary-color) inset;
  }
  &:hover {
    background: transparent;
    color: var(--primary-color);
    -webkit-box-shadow: 0 -3rem 0 #ffffff inset;
    box-shadow: 0 -3rem 0 #ffffff inset;
    border-color: var(--primary-color);
  }
}

.main-text {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 12px;
}
