<!-- <div class="auth">
  <div class="page-center">
    <div class="page-center-in">
      <div class="container-fluid">
        <div class="sign-box">
          <div class="text-center sign-logo">
            <img src="assets/images/logo-pds.png" class="logo-content" alt="PIMAN Group">
          </div> -->
        <!-- </div>
      </div>
    </div>
  </div>
</div> -->

<div class="auth-container">
  <div class="auth-wrapper">
    <div class="logo-container">
      <h1 class="big-hello d-block">Bienvenue </h1>
      <div class="sub-header row">
        <h2 class="hello-desc col-12 col-sm-5">sur votre espace </h2>
        <div class="d-flex flex-column sirh-logo col-12 col-sm-7">
          <img src="assets/images/full_logo.png" />
          <!--        <h4 class="sirh-text">Système d’information Ressources Humaines</h4>-->
        </div>
      </div>
    </div>
    <div class="form-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
