@import "src/app/app.component";


.main-title{
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.cards-stats{
  display: flex;
  .card{
    padding: 10px;
    margin: 5px;
    min-width: 140px;
    .title{
      font-size: 12px;
      text-align: center;
      line-height: 21px;
      min-height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .state-value{
      font-size: 14px;
      color: $primaryColor;
      flex: 1;
      text-align: center;
    }
  }
}

::ng-deep owl-date-time-calendar{
  height: unset !important;
}

table{
  border-collapse: separate;
}

.category-cell{
  background: $lighterPrimaryColor;
  color: $primaryColor !important;
  text-align: center;
  height: 29px;
  padding: 0 !important;
  border-radius: 8px 8px 0 0;
  line-height: 29px;
}

.gray-category{
  background: $lightgray;
  color: $mainGray !important;
  text-align: center;
  padding: 0 !important;
  border-radius: 8px 8px 0 0;
  line-height: 29px;
  height: 38px;
  font-size: 12px;
}

.wrap{
  margin-top: 15px;
  table{
    th{
      font-size: 13px;
    }
    td{
      font-size: 12px;
      color: $mainGray;
    }
  }
}

.export-bloc{
  .label{
    font-size: 12px;
    font-weight: 500;
  }
  .value{
    opacity: .8;
    font-size: 12px;
    padding: 0 2%;
  }
  .submit-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }
}

.top-container{
  .header{
    font-size: 16px;
    div{
      padding: 15px 10px;
      i:before{
        font-size: 12px;
      }
    }
  }
  .info{
    padding: 0 10px;
    p{
      font-size: 13px;
      color: $mainGray;
      margin-bottom: 10px;
    }
  }
}

.top-main-container{
  margin-bottom: 16px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
}

.submit-block{
  display: flex;
  align-items: center;
  justify-content: center;
}

.boolean-button{
  label{
    min-width: unset;
    border: 1px solid $lightgray;
    color: $lightgray;
    box-shadow: none;
  }
  .btn-outline-primary:hover, .btn-check:checked + .btn-outline-primary{
    background: $primaryColor;
    color: white;
  }
}
