@import '../users.styles';


.top-container{
  overflow: hidden;
  //.main-container{
    //margin-top: 15px;
  //}:
  form{
    overflow: auto;
    height: calc(100% - 45px);
  }
}

.head-info{
  margin-bottom: 0 !important;
}

.vertical-separator{
  border-left: 1px solid lightgray;
  width: 1px;
  margin: 0 5%;
}

