@import '../users.styles';


.top-container{
  .form-box{
  }
  .main-container{
    background: white;
    padding: 10px 15px;
    margin-top: 15px;
  }
}

.head-info{
  margin-bottom: 0 !important;
}


