<div class="top-container list">
  <h3 class="top-title">Synthèse</h3>
  <div class="cards-stats row" >
    <div class="card col">
      <div class="title">
        Nb total de relevés
      </div>
      <div class="state-value">{{stats?.nbr_total || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés 100% diffusé non validés admin
      </div>
      <div class="state-value">{{stats?.nbr_activity_not_valid || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés créés 100% diffusés
      </div>
      <div class="state-value">{{stats?.nbr_activity_diffuse || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés avec frais non diffusés
      </div>
      <div class="state-value">{{stats?.nbr_activity_diffuse || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés prêts pour la validation admin
      </div>
      <div class="state-value">{{stats?.nbr_activity_to_be_validate || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés non créés
      </div>
      <div class="state-value">{{stats?.nbr_activity_not_declared || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés validés admin
      </div>
      <div class="state-value">{{stats?.nbr_activity_valid || '--'}}</div>
    </div>
    <div class="card col">
      <div class="title">
        Relevés non validés admin
      </div>
      <div class="state-value">{{stats?.nbr_activity_not_valid || '--'}}</div>
    </div>
  </div>

<!--  "nbr_activity_declared": 3,-->
<!--  "nbr_cost_declare": 0,-->



  <div class="filter-container">

    <div class=" ">
      <div class="sub-header">
        <h3 class="main-title">
          List des relevés
        </h3>
      </div>

      <div class="search row">
        <div class="flex-column col-12 col-sm-6 col-lg-2">
          <div class="date-picker-group">
            <dp-date-picker [(ngModel)]="dateValue"
                            [mode]="'month'"
                            [placeholder]="'Filtre du mois'"
                            (onChange)="chosenMonthHandler()"
                            class="date-picker"
                            #datepicker
                            [config]="config"></dp-date-picker>

            <div class="icons-container">
              <i class="icon-close"
                 (click)="filter.month = null; dateValue = null; filterChanged()"
                 *ngIf="filter.month"></i>&nbsp;
              <i (click)="datepicker?.api?.open()" class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
        <div class="flex-column col-12 col-sm-6 col-lg-3">
<!--          <label>Utilisateur</label>-->
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="personals"
                       [bindLabel]="'full_name'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.personals"
                       [placeholder]="'Sélectionner l\'utilisateur'"></ng-select>
          </div>
        </div>
        <div class="flex-column col" style="margin-top: 10px;">
          <app-button
            [text]="'Rechercher'"
            [type]="'primary'"
            [iconLeft]="'icon-search'"
            (onClick)="getActivities()"
            [customStyle]="{'white-space': 'nowrap'}"
          ></app-button>&nbsp;
          <app-button
            [text]="'Recherche avancé'"
            [iconRight]="showFilters ? 'icon-arrow-up': 'icon-arrow-down'"
            [type]="'tertiary'"
            (onClick)="showFilters = !showFilters; resetFilters()"
            [customStyle]="{'white-space': 'nowrap'}"
          ></app-button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="showFilters">
      <div class="filtres row ">
        <div class="flex-column  col-12 col-sm-6  ">
          <label>Siège/Hors siège</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="false"
                       [items]="sieges"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.in_out_office"
                       [placeholder]="'Sélectionner si c\'est siège/hors siège'"></ng-select>
          </div>
        </div>
        <div class="flex-column  col-12 col-sm-6 ">
          <label>Appartenance</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="member_ships"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.member_ships"
                       [placeholder]="'Filtrer par appartenance'"></ng-select>
          </div>
        </div>
      </div>
      <div class="filtres row ">
        <div class=" flex-column  col-12 col-sm-6  ">
          <label>
            Choix du tri
            <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="false"
                       [items]="sort_choices"
                       [disabled]="true"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.sort_choices"
                       [placeholder]="'Sélectionner le tri'"></ng-select>
          </div>
        </div>
        <div class=" flex-column  col-12 col-sm-6  ">
          <label>
            Direction OP
            <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="direction_ops"
                       [disabled]="true"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.direction_ops"
                       [placeholder]="'Filtrer direction op'"></ng-select>
          </div>
        </div>
      </div>
      <div class="filtres row ">
        <div class=" flex-column  col-12 col-sm-6  ">
          <label>
            Business unit
            <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="business_units"
                       [disabled]="true"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.business_units"
                       [placeholder]="'Filtrer par business units'"></ng-select>
          </div>
        </div>
        <div class=" flex-column  col-12 col-sm-6  ">
          <label>
            Client <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [disabled]="true"
                       [items]="clients"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.clients"
                       [placeholder]="'Filtrer par client'"></ng-select>
          </div>
        </div>
      </div>
      <div class="filtres row ">
        <div class="flex-column col-12 col-sm-6   ">
          <label>
            Geestionnaire (ADV)
            <i class="icon-info-cercle primary-icon" [matTooltip]="'Filtre non fonctionnel pour le moment'"></i>
          </label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="adv_managers"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.adv_managers"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       [placeholder]="'Filtrer par gestionnaire ADV'" ></ng-select>
          </div>
          <div class="check-box-btn">
            <input type="checkbox"
                   id="has_internal_billing_admin"
                   (change)="filterChanged()"
                   [checked]="filter.has_internal_billing_admin"
                   [(ngModel)]="filter.has_internal_billing_admin"
                   name="has_internal_billing_admin" />
            <label for="has_internal_billing_admin" >Admin facturation interne</label>
          </div>
        </div>
        <div class="flex-column  col-12 col-sm-6">
          <label>Centre de profit</label>
          <div>
            <ng-select class="select form-control"
                       [multiple]="true"
                       [items]="center_profits"
                       [bindLabel]="'label'"
                       [bindValue]="'id'"
                       (change)="filterChanged()"
                       [(ngModel)]="filter.center_profits"
                       [placeholder]="'Filtrer par centre de profit'" ></ng-select>
          </div>
          <div class="check-box-btn">
            <input type="checkbox"
                   id="with_inactive_cp"
                   [checked]="filter.with_inactive_cp"
                   [(ngModel)]="filter.with_inactive_cp"
                   (change)="filterChanged()"
                   name="with_inactive_cp" >
            <label for="with_inactive_cp" >Avec centres de profits inactifs</label>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="main-container filter-container">

    <ng-container *ngIf="!loadingData; else loadingTemplate">
      <ng-container  *ngIf="activities?.length>0; else emptyState">
        <div class="sub-header header">
          <h3 class="main-title">
            {{activities?.length}} relevé{{activities?.length>1? 's': ''}} trouvé{{activities?.length>1? 's': ''}}
          </h3>

          <div class="btns right-btns">
            <app-button
              [text]="'Tout sélectionner'"
              [type]="'secondary_2'"
              [iconLeft]="'icon-arrow-left'"
              [customStyle]="{'max-height': '34px'}"
            ></app-button>&nbsp;&nbsp;
            <app-button
              [text]="'Désélectionner'"
              [type]="'secondary_2'"
              [iconRight]="'icon-arrow-right'"
              [customStyle]="{'max-height': '34px'}"
            ></app-button>
          </div>
        </div>
        <div class="wrap" style="margin-top: 20px">
          <div class="table-wrapper">
            <table class="table-responsive w-100">
              <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2" class="category-cell">
                  Activité diffusée
                </th>
                <th colspan="2" class="category-cell">
                  Activité validée
                </th>
                <th></th>
                <th></th>
                <th class="p-0"></th>
              </tr>
              <tr>
                <th></th>
                <th>
                  Nom
                </th>
                <th>
                  Prénom
                </th>
                <th>
                  CP
                </th>
                <th>
                  Activité diffusée
                </th>
                <th>
                  Frais diffusés
                </th>
                <th>
                  Activité validée
                </th>
                <th>
                  Frais validés
                </th>
                <th>
                  Détails
                </th>
                <th class="p-0">
                  Action
                </th>
              </tr>
              </thead>
              <tbody>
              <!--                [routerLink]="['/users/info/'+user.id]"  (click)="openModal()"-->
              <tr *ngFor="let activity of activities" >
                <td style="width: 35px; padding: 0">
                  <div class="photo-cell">
                    <div class="photo">
                      <div class="img-container">
                        <img
                          [attr.src]="activity?.photo_profile ? (activity.photo_profile |
                        getPhotoFromBackend: ('assets/images/'+(activity?.civility === 'Mme' ? 'woman.png': 'man.png')) |
                        async) : ('assets/images/'+(activity?.civility === 'Mme' ? 'woman.png': 'man.png'))"
                        />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  {{activity.last_name}}
                </td>
                <td>
                  {{activity.first_name}}
                </td>
                <td  style="opacity: .7;">
                  {{activity.cp_name}}
                </td>
                <td>
                  <i [ngClass]="{'primary-icon icon-check': activity.is_personal_activity_diffuse,
                     'danger-icon icon-nope': !activity.is_personal_activity_diffuse}">
                  </i>
                </td>
                <td>
                  <i [ngClass]="{'primary-icon icon-check': activity.is_personal_costs_diffuse,
                     'danger-icon icon-nope': !activity.is_personal_costs_diffuse}">
                  </i>
                </td>
                <td>
                  <i [ngClass]="{'primary-icon icon-check': activity.is_admin_activity_valid,
                     'danger-icon icon-nope': !activity.is_admin_activity_valid}">
                  </i>
                </td>
                <td>
                  <i [ngClass]="{'primary-icon icon-check': activity.is_admin_costs_valid,
                     'danger-icon icon-nope': !activity.is_admin_costs_valid}">
                  </i>
                </td>
                <td style="opacity: .7;">
                  {{activity.comment}}
                </td>
                <td class="p-0 text-center">
                  <i class="icon-search primary-icon"
                     [queryParams]="{personal_id: activity.personal_id, month: getMonth(activity.month)}"
                     [routerLink]="['/activity/history']"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--        <div class="footer w-100" >-->
          <!--          <div></div>-->
          <!--          <app-pagination name="pagination"-->
          <!--                          (change)="changePagination()"-->
          <!--                          [(ngModel)]="pagination"-->
          <!--                          ngDefaultControl>-->
          <!--          </app-pagination>-->
          <!--        </div>-->
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="main-container export-bloc" *ngIf="activities?.length>0">
      <div class="sub-header">
        <h3 class="main-title">
          Impression/Export &nbsp;
          <i class="icon-info-cercle primary-icon" [matTooltip]="'Fonctionnel non opérationnelle pour le moment'"></i>
        </h3>
      </div>
      <div class="align-items-center d-flex">
        <div class="label">
          Options d'impressions
        </div>
        <div class="value">
          <div class="check-box-btn">
            <label for="activity_record">Relevé d'activité</label>
            <input type="checkbox"
                   id="activity_record"
                   [checked]="exportPrint.activity_record"
                   [(ngModel)]="exportPrint.activity_record"
                   name="activity_record" >
          </div>
        </div>
        <div class="value">
          <div class="check-box-btn">
            <label for="expense_sheet">Fiche de frais</label>
            <input type="checkbox"
                   id="expense_sheet"
                   [checked]="exportPrint.expense_sheet"
                   [(ngModel)]="exportPrint.expense_sheet"
                   name="expense_sheet" >
          </div>
        </div>
      </div>
      <div class="submit-block">
          <app-button
            [type]="'primary'"
            [text]="'Imprimer'"
            [isLoading]="submittingPrint"
            (onClick)="print()"
            [iconLeft]="'icon-pdf'"
          >
          </app-button>&nbsp;&nbsp;
          <app-button
            [type]="'primary'"
            [text]="'Export'"
            [isLoading]="submittingExport"
            (onClick)="export()"
            [iconLeft]="'icon-excel'"
          >
          </app-button>&nbsp;&nbsp;
          <app-button
            [type]="'primary'"
            [text]="'Export détaillé'"
            [isLoading]="submittingDetailedExport"
            (onClick)="detailedExport()"
            [iconLeft]="'icon-excel'"
          >
          </app-button>
        </div>
  </div>

  <ng-template #emptyState>
    <app-centred-message
      [image]="'images/user_empty_state.svg'"
      [message]="( 'Aucun élément trouvé pour le moment' | translate )"
    ></app-centred-message>
  </ng-template>

  <ng-template #loadingTemplate>
    <div style="min-height: 290px;">
      <img src="assets/images/loading_activities.svg" style="width: 100%;" />
    </div>
  </ng-template>

</div>
