@import "../activities.styles";

.top-container{
  padding: 15px 30px;
  .main-container{
    padding: 10px 25px;
  }
  .cards-stats{
    .card{
      background: white;
      max-width: unset;
      title{
        flex: 1;
      }
      .state-value{
        align-items: flex-end;
        display: flex;
        justify-content: center;
        flex: unset;
      }
    }
  }
}


