<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
      ></app-button>
    </div>
    <h1 class="main-title">Sécurité</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <div class="align-items-start d-flex justify-content-center">
          <div class="input-title">
            Niveau de risque
          </div>
          <div >
            <div class="btn-group align-items-start btn-group flex-column radio"
                 ngbRadioGroup name="radioBasic"
                 [formControl]="formGroup.controls[formInputs.risk_level]"
            >
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'am'" id="starts_at_am">&nbsp;
                <span class="radio-label" for="starts_at_am">1. Site piman OU site client, absence environnement / travaux dangereux et < 400h</span>
              </label>
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'pm'" id="starts_at_pm">&nbsp;
                <span class="radio-label" for="starts_at_pm">2. Site client, absence environnement / travaux dangereux et > 400h</span>
              </label>
              <label ngbButtonLabel>
                <input ngbButton type="radio" [value]="'pm'" id="starts_at_pm">&nbsp;
                <span class="radio-label" for="starts_at_pm">3. Site client, environnement / travaux dangereux</span>
              </label>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
