<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="auth-container">
  <div class="d-flex align-items-center justify-content-center flex-column w-100" style="z-index: 3;">
    <div class="logo mb-4">
      <img src="assets/images/sirh_photos/sirh_logo.png"/>
    </div>
    <form class="auth-form p-4 px-5" (keyup.enter)="onSubmit()" [formGroup]="myForm">
      <div class="bigsubtitle">
        <span>{{'FORGOT YOUR PASSWORD ?' | translate}}</span>
      </div>
      <div class="text subtitle">
        <div>{{'WE TAKE CARE OF IT! ENTER YOUR EMAIL ADDRESS' | translate }}</div>
        <div>{{'WE WILL SEND YOU A LINK TO CHANGE YOUR PASSWORD' | translate}}</div>
      </div>
      <div class="inputs">
        <div class="input-group row">
          <div class="input">
            <i class="fa fa-user"></i>
            <input type="text"
                   placeholder="{{'email@piman-group.fr' | translate}}"
                   class="form-control text-field"
                   [formControl]="myForm.controls['email']" />
          </div>
          <div class="form-control-feedback"
               *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">
            {{'EMAIL IS REQUIRED' | translate}}
          </div>
        </div>
      </div>
      <div class="btn-group row">
        <button class="col-12 mybtn w-100"
                [disabled]="!myForm.valid || loading"
                mat-button
                (click)="onSubmit()">
          {{'SEND' | translate}}
        </button>
      </div>
      <div class="link row" [routerLink]="['/auth/signin']">
        {{'BACK TO THE AUTHENTICATION PAGE' | translate}}
      </div>
    </form>
  </div>
</div> -->

<form [formGroup]="myForm" class="main-form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{
      error: email?.invalid && (email?.dirty || email?.touched)
    }"
  >
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input
        type="text"
        class="form-control"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
        formControlName="email"
        name="email"
        placeholder="Email d’utilisateur"
      />
    </div>
    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="font-12 float-end red--color"
    >
      <div *ngIf="email?.errors?.required">le champ email est obligatoire</div>
      <div *ngIf="email?.errors?.pattern">l’adresse mail est invalide</div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn main-btn" [ladda]="loading">
      Envoyer le lien de réinitialisation
    </button>
  </div>
  <span
    class="main-text text-center sign-up text-decoration-underline scale mt-3"
    [routerLink]="'/auth/signin'"
    role="button"
    >Retourner à la page de connexion
  </span>
</form>
