<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="auth-container">
  <div class="d-flex align-items-center justify-content-center flex-column w-100" style="z-index: 3;">
    <div class="logo mb-4">
      <img src="assets/images/sirh_photos/sirh_logo.png"/>
    </div>
    <form class="auth-form p-4 px-5" (keyup.enter)="onSubmit()" [formGroup]="myForm">
      <div class="bigsubtitle">
        <span>{{'FORGOT YOUR PASSWORD ?' | translate}}</span>
      </div>
      <div class="text">
        <div>{{'WE TAKE CARE OF IT! ENTER YOUR EMAIL ADDRESS' | translate }}</div>
        <div>{{'WE WILL SEND YOU A LINK TO CHANGE YOUR PASSWORD' | translate}}</div>
      </div>
      <div class="inputs">
        <div class="input-group row">
          <div class="input">
            <i class="fa fa-user"></i>
            <input type="text"
                   placeholder="{{'email@piman-group.fr' | translate}}"
                   class="form-control text-field"
                   [formControl]="myForm.controls['email']" />
          </div>
          <div class="form-control-feedback"
               *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">
            {{'EMAIL IS REQUIRED' | translate}}
          </div>
        </div>
      </div>
      <div class="btn-group row">
        <button class="col-12 mybtn w-100"
                [disabled]="!myForm.valid || loading"
                mat-button
                (click)="onSubmit()">
          {{'SEND' | translate}}
        </button>
      </div>
      <div class="link row" [routerLink]="['/auth/signin']">
        {{'BACK TO THE AUTHENTICATION PAGE' | translate}}
      </div>
    </form>
  </div>
</div>
