@import '../layout/layout.component.scss';
@import "~app/styles/custom.variables";
@import "../auth";
:host {
    .sign-title {
        text-align: center;
    }
    .fields{
        margin : 24px 0;
    }
    .actions{
        text-align: center;
        margin: 38px 0px 0px;
        button {
            background-color: $mainColor;
            border-color: $mainColor;
            border-radius: 25px;
            min-width: 147px;
        }
        .sign-note{
            margin-top: 24px;
        }
    }
    .feedback{
        color: red;
        font-size: 12px;
        display: block;
    }
    .errors {
        text-align: center;
        font-size: 12px;
        color: #d50000;
    }
}
