<mat-stepper linear #stepper>
  <mat-step
            label="Profil"
            [editable]="isEditable">
        <app-select-role
          (next)="moveForward()"
          (preview)="moveBackward()"
        ></app-select-role>
  </mat-step>
  <mat-step
            label="Informations"
            [editable]="isEditable">
        <app-user-info-form></app-user-info-form>
  </mat-step>
  <mat-step
            label="Périmètre"
            [editable]="isEditable">
        <app-perimetre></app-perimetre>
  </mat-step>
  <mat-step
            label="Accès"
            [editable]="isEditable">
        <app-access></app-access>
  </mat-step>

</mat-stepper>

