<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
        [isDisabled]="submitting"
      ></app-button>
    </div>
    <h1 class="main-title">Période d'essai</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
        [isDisabled]="submitting"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
        [isLoading]="submitting"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <!--    <div class="goback col-12"-->
        <!--         (click)="goback()"-->
        <!--          style="margin-bottom: 10px">-->
        <!--        <i class="fa fa-arrow-left"></i> &nbsp;{{'GO BACK' | translate}}-->
        <!--    </div>-->
        <!-- <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="container p-0" -->
        <form  autocomplete="off" class="container p-0"
              novalidate>
          <h5 *ngIf="title">
            <i [ngClass]="{'icon-user-profil-2': type === 'collab', 'icon-user-profil-3': type === 'collab-user' }"></i>&nbsp;
            Ajouter un {{title}}
            <!--          <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
          </h5>
          <div class="form-box">
            <div class="main-container form-column">
              <div class="white-box">
                <div class="form-bloc">
                  <div class="row">
                    <div class="col">
                      <label class="col-12">{{formLabels.decision}}
                  
                        {{isRequired(formInputs.decision)}}</label>
                      <div class="col">
                        <ng-select
                          [items]="decisions"
                          [bindLabel]="'label'"
                          (change)="getTrialPeriodRenewCalculation(formGroup.controls[formInputs.decision].value.code)"
                          class="form-control select"
                          placeholder="Sélectionner la décision"
                          [formControl]="formGroup.controls[formInputs.decision]"
                          [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.decision].hasError('required')
                                  && formGroup.controls[formInputs.decision].dirty}"
                          [multiple]="false"
                        >
                        </ng-select>
                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.decision].hasError('required')
                  && formGroup.controls[formInputs.decision].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La decision est obligatoire
                        </div>
                      </div>
                    </div>
                
                
                    <div class="col" *ngIf="formGroup.controls[formInputs.decision].value?.code == 'rupture'">
                      <label class="col-2">{{formLabels.motif_id}} {{isRequired(formInputs.motif_id)}}</label>
                      <div class="col">

                        <ng-select
                                [items]="motifs"
                                dropdownPosition="'bottom'"
                                [bindLabel]="'label'"
                                [bindValue]="'id'"
                                class="form-control select"
                                placeholder="Sélectionner le motif"
                                [formControl]="formGroup.controls[formInputs.motif_id]"
                                (open)="getFilterList('motifs', listService.list.EXIT_MOTIF)"
                                [loading]="loadingSelect[listService.list.EXIT_MOTIF]"
                                [ngClass]="{'is-invalid error-input': formGroup.controls[formInputs.motif_id].hasError('required')
                                        && formGroup.controls[formInputs.motif_id].dirty}"
                                [multiple]="false"
                              >
                        </ng-select>

                        <div class="form-control-feedback"
                              *ngIf="formGroup.controls[formInputs.motif_id].hasError('required')
                                  && formGroup.controls[formInputs.motif_id].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          Le motif de la sortie est obligatoire
                        </div>

                      </div>
                    </div>
                    <div class="col" *ngIf="formGroup.controls[formInputs.decision].value?.code == 'rupture'">
                      <label class="col-2">{{formLabels.date_sortie}} {{isRequired(formInputs.date_sortie)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt2 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt2"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt2"
                                 placeholder="Choisir la date de sortie ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_sortie].hasError('required')
                                  && formGroup.controls[formInputs.date_sortie].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_sortie]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_sortie)"
                               *ngIf="formGroup.controls[formInputs.date_sortie].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt2" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_sortie].hasError('required')
                    && formGroup.controls[formInputs.date_sortie].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date de sortie est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col" *ngIf="formGroup.controls[formInputs.decision].value?.code == 'renouvellement' || formGroup.controls[formInputs.renewal_date].value">
                      <label class="col-2">{{formLabels.renewal_date}} {{isRequired(formInputs.renewal_date)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt3 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt3"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt3"
                                 placeholder="Choisir la date de fin de renouvellement ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.renewal_date].hasError('required')
                                  && formGroup.controls[formInputs.renewal_date].dirty}"
                                 [formControl]="formGroup.controls[formInputs.renewal_date]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.renewal_date)"
                               *ngIf="formGroup.controls[formInputs.renewal_date].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt3" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.renewal_date].hasError('required')
                    && formGroup.controls[formInputs.renewal_date].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date de fin de renouvellement est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label class="col-2">{{formLabels.date_fin_period_essai}} {{isRequired(formInputs.date_fin_period_essai)}}</label>
                      <div class="col">
                        <div class="date-picker-group">
                          <owl-date-time #owl_dt4 [pickerType]="'calendar'" ></owl-date-time>
                          <input [owlDateTime]="owl_dt4"
                                 class="form-control input date"
                                 [owlDateTimeTrigger]="owl_dt4"
                                 placeholder="Choisir la date de fin de période d'essai ici"
                                 [ngClass]="{'is-invalid error-input':
                               formGroup.controls[formInputs.date_fin_period_essai].hasError('required')
                                  && formGroup.controls[formInputs.date_fin_period_essai].dirty}"
                                 [formControl]="formGroup.controls[formInputs.date_fin_period_essai]"
                          />
                          <div class="icons-container">
                            <i class="icon-close"
                               (click)="clearDateInput(formInputs.date_fin_period_essai)"
                               *ngIf="formGroup.controls[formInputs.date_fin_period_essai].value"></i>&nbsp;
                            <i [owlDateTimeTrigger]="owl_dt4" class="fa fa-calendar"></i>
                          </div>
                        </div>

                        <div class="form-control-feedback"
                             *ngIf="formGroup.controls[formInputs.date_fin_period_essai].hasError('required')
                    && formGroup.controls[formInputs.date_fin_period_essai].dirty">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          La date de fin de période d'essai est obligatoire
                        </div>
                      </div>
                    </div>
                    <div class="col"></div>
                  </div>

                  <div class="row">
                    <div class="col-3"  style="display: flex;align-items: center;" *ngFor="let histo of current_pe?.histos; "
                    [matTooltip]="histo?.user ? ('Validé par ' +histo?.user?.prenom + ' ' + histo?.user?.nom + ' le '+ (histo?.done_at | dateMessage)):''">
                    <label for="{{formLabels.verification_ts_prefacture}}"
                            data-content="{{formLabels.verification_ts_prefacture}}">
                      <span class="name">{{histo.action.label}}</span>
                      <!-- <div class="link">Ajouter une note</div> -->
                      <br>
                    </label>
                      <div class="check-box-btn">
                        <input type="checkbox"
                               id="{{formLabels.verification_ts_prefacture}}"
                               [checked]="histo.checked"
                               name="check_{{histo.action.slug}}"
                               [(ngModel)]="histo.checked"
                               [ngClass]="{'disabled': histo.done_at}"
                               (change)="markActionAsDone(histo.id,histo.checked) "
                               [disabled]="histo.done_at"
                        >

                      </div>
                    </div>

                  <div class="col check-box-btn"></div>
                </div>

                  <!-- <div class="row" formArrayName="histos" >
                    <div class="col check-box-btn" *ngFor="let order of histosFromArray.controls; let i = index">
                      <input type="checkbox"
                             id="{{formLabels.gestion_courrier_gp}}"
                             formControlName="checked"
                             (change)="test()"
                      >
                      <label for="{{formLabels.gestion_courrier_gp}}"
                             data-content="{{formLabels.gestion_courrier_gp}}">
                        <span class="name">
                          {{order.value|json}}
                          {{formLabels.gestion_courrier_gp}}
                        </span>
                      </label>
                    </div>
                  </div> -->
                </div>
              </div>

            
            </div>
            <div class="justify-content-center submit-block">

                  <app-button
                  [type]="'tertiary'"
                  [text]="'Effacer'"
                  (onClick)="reset()"
                  [iconLeft]="'icon-close'"
                  [customStyle]="{'min-width': '130px'}"
                >
                </app-button>
                <app-button
                  [type]="'secondary'"
                  [text]="'Enregistrer'"
                  [isLoading]="submitting"
                  [textLoading]="'Sauvegarde en cours..'"
                  [iconLeft]="'icon-check'"
                  (onClick)="save()"
                >
                </app-button>
            </div>


          </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
