@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-accent/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}

* {
  outline: none;
}

.font-12 {
  font-size: 12px;
}

.scale {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scale:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

[role="button"] {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

