@import "../../../node_modules/bootstrap/scss/bootstrap";
@import '~assets/styles/partials/vars';


html {
  // background: url('./assets/images/background.jpg') no-repeat center center fixed;
  // background-size: cover;
  // height: 100%;
  // overflow: hidden;
}


body {
  font-family: $font-family;
  background-color: transparent;
  overflow-y: scroll;
  height: 100%;
  // background: url('/assets/image/background.jpg');
}

p {
  margin: 0px;
}

////////////////////////////////
//////// Page content
////////////////////////////////

.page-content {
  margin-top: 50px;
}
@media (min-width: $sm-max-width) {
  .page-content {
      max-width: 80%;
  }
}



////////////////////////////////
//////// Errors
////////////////////////////////

.errors {
  text-align: center;
  font-size: 12px;
  color: #d50000;
}

