<mat-stepper linear #stepper  (selectionChange)="selectionChange($event)">
  <!-- change default 'edit' icon -->
  <ng-template #stepperIcon>
    <i class="icon-general"></i>
  </ng-template>
  <mat-step label="Infos générales">
    <app-creation-general
      (submitStep)="saveStep($event);  this.moveForward(1)"
      (next)="moveForward(1)"
      [submitting]="submittingProject"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-general>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-user"></i>
  </ng-template>
  <mat-step label="Client">
    <app-creation-client
      (submitStep)="saveStep($event);  this.moveForward(2)"
      (next)="moveForward(2)"
      (preview)="moveForward(0)"
      [submitting]="submittingClient"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-client>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-location"></i>
  </ng-template>
  <mat-step label="Lieu d'intervention">
    <app-creation-lieu-intervention
      (submitStep)="saveStep($event);  this.moveForward(3)"
      (next)="moveForward(3)"
      (preview)="moveForward(1)"
      [submitting]="submittingLieu"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-lieu-intervention>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-pointage"></i>
  </ng-template>
  <mat-step label="Pointage">
    <app-creation-pointage
      (submitStep)="saveStep($event);  this.moveForward(4)"
      (next)="moveForward(4)"
      (preview)="moveForward(2)"
      [submitting]="submittingPointage"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-pointage>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-cout"></i>
  </ng-template>
  <mat-step label="Frais">
    <app-creation-frais
      (submitStep)="saveStep($event);  this.moveForward(5)"
      (next)="moveForward(5)"
      (preview)="moveForward(3)"
      [submitting]="submittingFrais"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-frais>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-stats"></i>
  </ng-template>
  <mat-step label="Stats">
    <app-creation-stats
      (submitStep)="saveStep($event);  this.moveForward(6)"
      (next)="moveForward(6)"
      (preview)="moveForward(4)"
      [data]="projectToSubmit"
      [submitting]="submittingStats"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-stats>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-security"></i>
  </ng-template>
  <mat-step label="Sécurité">
    <app-creation-securite
      (submitStep)="saveStep($event);  this.moveForward(7)"
      (next)="moveForward(7)"
      (preview)="moveForward(5)"
      [submitting]="submittingSecurite"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-securite>
  </mat-step>

  <ng-template #stepperIcon>
    <i class="icon-file"></i>
  </ng-template>
  <mat-step label="Pièces jointes">
    <app-creation-pieces-jointes
      (submitStep)="saveStep($event); submit()"
      (preview)="moveForward(6)"
      [submitting]="submittingAttachments"
      [data]="projectToSubmit"
      (refreshGlobalData)="saveStep($event)"
    ></app-creation-pieces-jointes>
  </mat-step>

  <ng-template matStepperIcon="number" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <ng-template matStepperIcon="error" let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
</mat-stepper>

