<div class="container top-container">
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
        [routerLink]="['/users']"
      ></app-button>
    </div>
    <h1 class="main-title">Statistiques</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="save()"
      ></app-button>
    </div>
  </div>

  <div class="error-pannel" *ngIf="formGroup && !formGroup.valid && formGroup.dirty && error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <ng-container *ngIf="!errorLoadData; else dataNotFound">
    <ng-container *ngIf="loadingData; else loadedData">
      <div class="loading">
        <img src="assets/images/loader.gif" />
      </div>
    </ng-container>
    <ng-template #loadedData>
      <div class="container-fluid top-container p-0">
        <form (submit)="save()" *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off" class="main-container p-0" novalidate>
           <div class="main-container white-box">
          <div class=" row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center">
                <label for="mission_active" class="bold-text" style="min-width: 160px">Démarrage</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="demarrage"
                         name="demarrage"
                         [formControl]="formGroup.controls[formInputs.is_getting_started]"
                  >
                </div>
                <label for="demarrage" class="light-text">
                  A cocher pour une nouvelle prestation
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center align-items-start">
                <label for="mail_to_manager" class="bold-text" style="min-width: 160px">Formation</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="formation"
                         name="formation"
                         [formControl]="formGroup.controls[formInputs.has_formation]"
                  >
                </div>
                <label for="formation" class="light-text">
                  A cocher pour une formation pour visualisation dans graphique activité et ETP
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center">
                <label for="mission_active" class="bold-text" style="min-width: 160px">Mission NON valorasée</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="mission_active"
                         name="mission_active"
                         [formControl]="formGroup.controls[formInputs.is_mission_not_valued]"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center align-items-start">
                <label for="mail_to_manager" class="bold-text" style="min-width: 160px">Mission NON facturable</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="mail_to_manager"
                         name="mail_to_manager"
                         [formControl]="formGroup.controls[formInputs.is_mission_not_billable]"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center">
                <label for="mission_active" class="bold-text" style="min-width: 160px">Mission en inter contrat</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="mission_active"
                         name="mission_active"
                         [formControl]="formGroup.controls[formInputs.is_mission_inter_contract]"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-bloc col row" >
              <div class="check-box-btn text-center">
                <label for="mission_active" class="bold-text" style="min-width: 160px">Télétravail</label>
                <div class="input-container">
                  <input type="checkbox"
                         id="mission_active"
                         name="mission_active"
                         [formControl]="formGroup.controls[formInputs.is_remote_mission]"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="filter-container p-0 row">
            <div class="filters col-md-4 col-12">
              <div class="input-group flex-column">
                <label class="bold-text">Code spécifique mission</label>
                <input type="text"
                       class="form-control input"
                       placeholder="Saisir le code"
                       [formControl]="formGroup.controls[formInputs.mission_specific_code]"
                >
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </ng-template>
  </ng-container>
</div>



<ng-template #emptyState>
  <app-centred-message [message]="( 'Pas d\'utilisateur/collaborateur trouvé pour le moment' | translate )"
                       [image]="'images/emptystate.png'"
  ></app-centred-message>
</ng-template>

<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
