@import "../suivi-salaries/suivi-salaries.component";

table{
  thead{
    background: #FCFCFC;
    height: 45px;
    background: var(--unnamed-color-fcfcfc) 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
  }
  td{
    color: $fontColor;
  }
}
.actions{
  i{
    margin: 0 10px;
    margin-right: 0;
    line-height: 30px;
    &:before{
      color: #707070;
      opacity: 0.6;
    }
  }
  i:hover{
    &:before{
      color: $primaryColor;
      opacity: 1;
    }
  }
  .icon-trash:hover{
    &:before{
      color: $danger;
      opacity: 1;
    }
  }
  .icon-attachment{
    margin-right: 0;
    &:before{
      font-size: 12px;
    }
  }
  div{
    color: #707070;
    font-size: 13px;
    span{
      color: #707070;
    }
    &:hover{
      span{
        color: $primaryColor;
      }
      i:before{
        color: $primaryColor;
      }
    }
  }
}

.icon-check:before{
  font-size: 17px;
}

.filter-container{
  background: unset;
  .input-group{
    display: flex;
    flex-direction: column;
    min-width: 200px !important;
    margin-right: 10px;
    label{
      margin-bottom: 5px;
      font-size: 13px;
    }
  }
}

table{
  tbody{
    td{
      font-size: 13px !important;
    }
  }
}
