<div class="container top-container">
  <!--  <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [routerLink]="['/users']"
        [type]="'secondary_2'"
      ></app-button>
    </div>
    <h1 class="main-title">Périmètre</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'primary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="savePermimeters()"
      ></app-button>
    </div>
  </div>
  <div class="error-pannel" *ngIf="error?.length>0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</div>
  <div class="warning-pannel" *ngIf="warning?.length>0">{{warning}}</div>
  <div class="row list">
    <div class="col-4 col-xl-3 side-panel">
      <div class="searchbar">
        <input type="text" class="input form-control" placeholder="Rechercher une personne"/>
      </div>
      <div class="smal-users-list">
        <ng-container *ngIf="users?.length>0; else emptyStateLeftList">
          <div
            class="users-scroll-panel"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            [scrollWindow]="false"
          >
            <div class="user-item d-flex align-items-center" *ngFor="let user of getFiltredUsers()">
              <div class="check-box-btn text-center" (click)="appendToSelected(user)">
                <input type="checkbox" id="{{user.id}}" name="todo" value="todo">
                <label for="{{user.id}}" data-content="{{user.first_name+' '+user.last_name}}">
                  <img src="assets/images/man.png" />
                  <span class="name">{{user.first_name+' '+user.last_name}}</span>
                </label>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
    <div class="col-8 col-xl-9 main-container form-column second-column">
      <h5>Ajouter une personne</h5>
      <div class="users-list">
        <ng-container *ngIf="selectedUsers?.length; else emptyStateRightList">
          <div class="wrap">
            <div class="table-wrapper">
              <table class="table-responsive card-list-table">
                <tbody>
                  <tr *ngFor="let user of selectedUsers"  >
                  <td style="width: 25%">
                    <div class="photo-cell">
                      <div class="photo">
                        <div class="img-container">
                          <img
                            [attr.src]="user?.photo_profil ? ('document/'+user.photo_profil_id+'/file' |
                      getPhotoFromBackend: ('assets/images/'+(user?.civilite === 'Mme' ? 'woman.png': 'man.png')) |
                      async) : ('assets/images/'+(user?.civilite === 'Mme' ? 'woman.png': 'man.png'))"
                          />

                        </div>
                      </div>
                      <div class="name">{{user?.last_name+' '+user?.first_name}} </div>
                    </div>
                  </td>
                  <td style="width: 35%" >
                    <div class="check-box-btn text-center">
                      <input type="checkbox" id="{{'perim'+user.id}}" >
                      <label for="{{'perim'+user.id}}" data-content="Attacher au périmètre">
                        <span class="name"> Attacher au périmètre</span>
                      </label>
                    </div>
                   </td>
                  <td style="width: 20%" data-title="users" class="users-modal-open">
                    <div (click)="openUsersPerimetreModal(user)">
                      <i class="icon-user-basic"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Détails"></i>&nbsp;
                      {{user.perimeters?.length}}
                    </div>
                  </td>
                  <td style="width: 20%" class="icon-cell">
                    <div class="actions">
                      <div class="danger-action" (click)="deleteFromSelectedUsers(user?.id)">
                        Supprimer &nbsp;
                        <i class="icon-remove-circle"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Détails"></i>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>


<ng-template #emptyStateLeftList>
  <app-centred-message
        [message]="( 'Aucun utilisateur trouvé pour le moment' | translate )"
  ></app-centred-message>
</ng-template>
<ng-template #emptyStateRightList>
  <app-centred-message
        [message]="( 'Cette liste est vide' | translate )"
        [smallMessage]="( 'Essayer d’ajouter une ou plusieurs personnes depuis la liste a gauche.' | translate )"
  ></app-centred-message>
</ng-template>
<!--[image]="'images/emptystate.png'"-->
<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
