@import '../users.styles';


.top-container{
  padding-top: 30px;
}
.form-column{
  .form-bloc{
    .row {
      label {
        min-width: 130px !important;
      }
    }
  }
}

.form-column:first-child {
  margin-right: unset !important;
}

.head-info{
  margin-bottom: 0 !important;
}

.smal-users-list{
  margin-top: 5px;
  .user-item{
    padding: 10px 0;
    img{
      width: 30px;
      height: 30px;
      object-fit: contain;
      border-radius: 50%;
      margin-right: 10px;
    }
    .name{
      font-size: 13px;
    }
  }
}
