<div class="container top-container-modal">
  <!--  <i class="icon-close float-right pointer" (click)="modal.dismiss()"></i>-->
  <div class="header">
    <div class="btns left-btns">
      <app-button
        [text]="'Annuler'"
        [type]="'secondary_2'"
      ></app-button>
    </div>
    <h1 class="main-title">Périmètre</h1>
    <div class="btns right-btns">
      <app-button
        [text]="'Précédent'"
        [type]="'secondary_inverse'"
        [iconLeft]="'icon-arrow-left'"
        (onClick)="move(-1)"
      ></app-button>&nbsp;&nbsp;
      <app-button
        [text]="'Suivant'"
        [type]="'primary'"
        [iconRight]="'icon-arrow-right'"
        (onClick)="move(1)"
      ></app-button>
    </div>
  </div>

  <div class="row">
    <div class="col-3" style="border-right: 1px solid lightgray;">
      <div class="searchbar">
        <input type="text" class="input form-control" placeholder="Rechercher une personne"/>
        <div class="smal-users-list">
          <ng-container *ngIf="users?.length>0; else emptyStateLeftList">
            <div class="user-item d-flex align-items-center" *ngFor="let user of users">
              <img src="assets/images/man.png" />
              <div class="name">{{user.first_name+' '+user.last_name}}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-9 main-container form-column">
      <h5>Ajouter une personne</h5>
      <div class="users-list">
        <ng-container *ngIf="0; else emptyStateRightList">
        </ng-container>
      </div>
    </div>
  </div>

</div>


<ng-template #emptyStateLeftList>
  <app-centred-message
        [message]="( 'Aucun utilisateur trouvé pour le moment' | translate )"
  ></app-centred-message>
</ng-template>
<ng-template #emptyStateRightList>
  <app-centred-message
        [message]="( 'Cette liste est vide' | translate )"
        [smallMessage]="( 'Essayer d’ajouter une ou plusieurs personnes depuis la liste a gauche.' | translate )"
  ></app-centred-message>
</ng-template>
<!--[image]="'images/emptystate.png'"-->
<ng-template #dataNotFound>
  <app-centred-message [message]="'DATA LOADING ERROR' | translate"
                       [image]="'images/error404.png'">
  </app-centred-message>
</ng-template>
